$helvetica: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
$helvetica_light: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue','Swiss 721 Light','Helvetica','Arial','sans-serif';

@font-face {
  font-family: 'EntypoRegular';
  src: url('/fonts/entypo.eot');
  src: url('/fonts/entypo.eot?#iefix') format("embedded-opentype"), url('/fonts/entypo.woff') format("woff"), url('/fonts/entypo.ttf') format("truetype"), url('/fonts/entypo.svg#EntypoRegular') format("svg");
}