header {
  width: 100%;
  height: $headerHeight;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1001;
  float: left;
  background: url(/images/bg_header.png);

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url(/images/bg_header@2x.png);
  }

  .navbar-inner {
    @include border-radius(0px);
  }

  .logo {
    width: 160px;
    padding-top: 50px;
    margin: -3px 0 0 0;
    float: left;
    background: url(/images/bg_logo.png) center left no-repeat;
    background-image: -webkit-image-set(url(/images/bg_logo.png) 1x, url(/images/bg_logo@2x.png) 2x);
    z-index: 1;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    color: #999;
  }
  .btn-toolbar {
    margin-top:0px;
    }
  .btn {
    color: #555;
    padding: 2px 10px 1px 10px;
    background-position: 0;
  }
  .btn-add, .btn-add:hover {
    background-color: #87b346;
    @include background(linear-gradient(top left, rgb(150, 193, 78), rgb(121, 165, 62)));
    @include filter-gradient(#96c14e, #79a53e, horizontal);
  }
  .btn-add:hover {
    background-position: 0;
  }
  .bootstrap-select {
    width: auto;
  }
}

.language-select {
  .btn {
    max-width: 90px;
  }
}
nav {
  .list-wrapper{
    text-align: center;
    ul.inline {
      display: inline-block;
      margin: 0;
      li {
        float: left;
        list-style: none;
        padding: 15px 1px 5px 1px;
        a {
          color: #666;
          padding: 7px 10px 6px 10px;
          &:visited {
            color: #666;
            padding: 7px 10px 6px 10px;
          }
          &:hover {
            color: #000;
            background: #DCDBD4;
            @include border-radius(3px);
            @include single-box-shadow(rgba(170, 170, 170, 0.2), 2px, 2px, 0, 0, inset);
            border: 1px solid #c4c2b5;
            margin: 0 -1px;
          }
        }
      }
    }
  }
}
