.icon {
	margin:2px;
	background:url('/icons/icon-sprite.png') no-repeat top left; display:inline-block;
}
.icon#2hand {
	background-position:0 -0px;
	width: 22px;
	height: 22px;
}
.icon#airport {
	background-position:0 -22px;
	width: 22px;
	height: 22px;
}
.icon#airport_terminal {
	background-position:0 -44px;
	width: 22px;
	height: 22px;
}
.icon#artgallery {
	background-position:0 -66px;
	width: 22px;
	height: 22px;
}
.icon#atm {
	background-position:0 -88px;
	width: 22px;
	height: 22px;
}
.icon#bank {
	background-position:0 -110px;
	width: 22px;
	height: 22px;
}
.icon#bar {
	background-position:0 -132px;
	width: 22px;
	height: 22px;
}
.icon#bar_coktail {
	background-position:0 -154px;
	width: 22px;
	height: 22px;
}
.icon#barber {
	background-position:0 -176px;
	width: 22px;
	height: 22px;
}
.icon#beach {
	background-position:0 -198px;
	width: 22px;
	height: 22px;
}
.icon#beautifulview {
	background-position:0 -220px;
	width: 22px;
	height: 22px;
}
.icon#biergarten {
	background-position:0 -242px;
	width: 22px;
	height: 22px;
}
.icon#bigcity {
	background-position:0 -264px;
	width: 22px;
	height: 22px;
}
.icon#boat {
	background-position:0 -286px;
	width: 22px;
	height: 22px;
}
.icon#bread {
	background-position:0 -308px;
	width: 22px;
	height: 22px;
}
.icon#busstop {
	background-position:0 -330px;
	width: 22px;
	height: 22px;
}
.icon#butcher {
	background-position:0 -352px;
	width: 22px;
	height: 22px;
}
.icon#cablecar {
	background-position:0 -374px;
	width: 22px;
	height: 22px;
}
.icon#camping {
	background-position:0 -396px;
	width: 22px;
	height: 22px;
}
.icon#car {
	background-position:0 -418px;
	width: 22px;
	height: 22px;
}
.icon#car_repair {
	background-position:0 -440px;
	width: 22px;
	height: 22px;
}
.icon#carrental {
	background-position:0 -462px;
	width: 22px;
	height: 22px;
}
.icon#castle {
	background-position:0 -484px;
	width: 22px;
	height: 22px;
}
.icon#cave {
	background-position:0 -506px;
	width: 22px;
	height: 22px;
}
.icon#chemist {
	background-position:0 -528px;
	width: 22px;
	height: 22px;
}
.icon#cinema {
	background-position:0 -550px;
	width: 22px;
	height: 22px;
}
.icon#clothers_male {
	background-position:0 -572px;
	width: 22px;
	height: 22px;
}
.icon#coffee {
	background-position:0 -594px;
	width: 22px;
	height: 22px;
}
.icon#communitycentre {
	background-position:0 -616px;
	width: 22px;
	height: 22px;
}
.icon#computers {
	background-position:0 -638px;
	width: 22px;
	height: 22px;
}
.icon#conveniencestore {
	background-position:0 -660px;
	width: 22px;
	height: 22px;
}
.icon#court {
	background-position:0 -682px;
	width: 22px;
	height: 22px;
}
.icon#cross {
	background-position:0 -704px;
	width: 22px;
	height: 22px;
}
.icon#currencyexchange {
	background-position:0 -726px;
	width: 22px;
	height: 22px;
}
.icon#cycling {
	background-position:0 -748px;
	width: 22px;
	height: 22px;
}
.icon#dancinghall {
	background-position:0 -770px;
	width: 22px;
	height: 22px;
}
.icon#daycare {
	background-position:0 -792px;
	width: 22px;
	height: 22px;
}
.icon#dentist {
	background-position:0 -814px;
	width: 22px;
	height: 22px;
}
.icon#departmentstore {
	background-position:0 -836px;
	width: 22px;
	height: 22px;
}
.icon#drinkingwater {
	background-position:0 -858px;
	width: 22px;
	height: 22px;
}
.icon#drugstore {
	background-position:0 -880px;
	width: 22px;
	height: 22px;
}
.icon#embassy {
	background-position:0 -902px;
	width: 22px;
	height: 22px;
}
.icon#fastfood {
	background-position:0 -924px;
	width: 22px;
	height: 22px;
}
.icon#ferry {
	background-position:0 -946px;
	width: 22px;
	height: 22px;
}
.icon#fillingstation {
	background-position:0 -968px;
	width: 22px;
	height: 22px;
}
.icon#firstaid {
	background-position:0 -990px;
	width: 22px;
	height: 22px;
}
.icon#fitness {
	background-position:0 -1012px;
	width: 22px;
	height: 22px;
}
.icon#flowers {
	background-position:0 -1034px;
	width: 22px;
	height: 22px;
}
.icon#fossils {
	background-position:0 -1056px;
	width: 22px;
	height: 22px;
}
.icon#hearing_aids {
	background-position:0 -1078px;
	width: 22px;
	height: 22px;
}
.icon#homecenter {
	background-position:0 -1100px;
	width: 22px;
	height: 22px;
}
.icon#hospital {
	background-position:0 -1122px;
	width: 22px;
	height: 22px;
}
.icon#icon-sprite {
	background-position:0 -1144px;
	width: 22px;
	height: 2134px;
}
.icon#information {
	background-position:0 -3278px;
	width: 22px;
	height: 22px;
}
.icon#kiosk {
	background-position:0 -3300px;
	width: 22px;
	height: 22px;
}
.icon#lantern {
	background-position:0 -3322px;
	width: 22px;
	height: 22px;
}
.icon#laundromat {
	background-position:0 -3344px;
	width: 22px;
	height: 22px;
}
.icon#library {
	background-position:0 -3366px;
	width: 22px;
	height: 22px;
}
.icon#liquor {
	background-position:0 -3388px;
	width: 22px;
	height: 22px;
}
.icon#mall {
	background-position:0 -3410px;
	width: 22px;
	height: 22px;
}
.icon#medicalstore {
	background-position:0 -3432px;
	width: 22px;
	height: 22px;
}
.icon#medicine {
	background-position:0 -3454px;
	width: 22px;
	height: 22px;
}
.icon#memorial {
	background-position:0 -3476px;
	width: 22px;
	height: 22px;
}
.icon#motel {
	background-position:0 -3498px;
	width: 22px;
	height: 22px;
}
.icon#museum_archeological {
	background-position:0 -3520px;
	width: 22px;
	height: 22px;
}
.icon#museum_art {
	background-position:0 -3542px;
	width: 22px;
	height: 22px;
}
.icon#music {
	background-position:0 -3564px;
	width: 22px;
	height: 22px;
}
.icon#ophthalmologist {
	background-position:0 -3586px;
	width: 22px;
	height: 22px;
}
.icon#parking {
	background-position:0 -3608px;
	width: 22px;
	height: 22px;
}
.icon#phones {
	background-position:0 -3630px;
	width: 22px;
	height: 22px;
}
.icon#photography {
	background-position:0 -3652px;
	width: 22px;
	height: 22px;
}
.icon#playground {
	background-position:0 -3674px;
	width: 22px;
	height: 22px;
}
.icon#police {
	background-position:0 -3696px;
	width: 22px;
	height: 22px;
}
.icon#postal {
	background-position:0 -3718px;
	width: 22px;
	height: 22px;
}
.icon#prayer {
	background-position:0 -3740px;
	width: 22px;
	height: 22px;
}
.icon#publicart {
	background-position:0 -3762px;
	width: 22px;
	height: 22px;
}
.icon#restaurant {
	background-position:0 -3784px;
	width: 22px;
	height: 22px;
}
.icon#school {
	background-position:0 -3806px;
	width: 22px;
	height: 22px;
}
.icon#shoes {
	background-position:0 -3828px;
	width: 22px;
	height: 22px;
}
.icon#social_facility {
	background-position:0 -3850px;
	width: 22px;
	height: 22px;
}
.icon#stadium {
	background-position:0 -3872px;
	width: 22px;
	height: 22px;
}
.icon#stationery {
	background-position:0 -3894px;
	width: 22px;
	height: 22px;
}
.icon#stop {
	background-position:0 -3916px;
	width: 22px;
	height: 22px;
}
.icon#stripclub {
	background-position:0 -3938px;
	width: 22px;
	height: 22px;
}
.icon#supermarket {
	background-position:0 -3960px;
	width: 22px;
	height: 22px;
}
.icon#swimming {
	background-position:0 -3982px;
	width: 22px;
	height: 22px;
}
.icon#theater {
	background-position:0 -4004px;
	width: 22px;
	height: 22px;
}
.icon#themepark {
	background-position:0 -4026px;
	width: 22px;
	height: 22px;
}
.icon#toilets {
	background-position:0 -4048px;
	width: 22px;
	height: 22px;
}
.icon#tools {
	background-position:0 -4070px;
	width: 22px;
	height: 22px;
}
.icon#train {
	background-position:0 -4092px;
	width: 22px;
	height: 22px;
}
.icon#tramway {
	background-position:0 -4114px;
	width: 22px;
	height: 22px;
}
.icon#underground {
	background-position:0 -4136px;
	width: 22px;
	height: 22px;
}
.icon#university {
	background-position:0 -4158px;
	width: 22px;
	height: 22px;
}
.icon#veterinary {
	background-position:0 -4180px;
	width: 22px;
	height: 22px;
}
.icon#weights {
	background-position:0 -4202px;
	width: 22px;
	height: 22px;
}
.icon#workoffice {
	background-position:0 -4224px;
	width: 22px;
	height: 22px;
}
.icon#zoo {
	background-position:0 -4246px;
	width: 22px;
	height: 22px;
}
