section#map {
  position: absolute;
  top: $headerHeight + $toolbarHeight;
  bottom: $footerHeight;
  left: 0;
  width: 100%;
  background: #E8E0D8;
  @media screen and (max-width:767px) {
      top: 52px;
  } 
}

.leaflet-marker-icon, .leaflet-div-icon, .leaflet-clickable, .leaflet-zoom-animated-div-icon {
  border: 0px solid red !important;
}

.leaflet-popup{
  padding: 10px;
  @include border-radius(2px);
}

.leaflet-marker-icon {

  background: transparent url('/images/marker-sprites.png') no-repeat;

  @include if-min-resolution(1.3) {
    background: transparent url('/images/marker-sprites@2x.png') no-repeat;
    background-size: 100% auto;
  }

  &.wheelchair_hidden {
    display: none;
  }

  &.category_hidden {
    display: none;
  }

  &.yes{
    background-position: 0 0;
    width: 29px;
    height: 33px;
  }
  &.limited{
    background-position: 0 -33px;
    width: 29px;
    height: 33px;
  }
  &.no{
    background-position: 0 -67px;
    width: 29px;
    height: 33px;
  }
  &.unknown{
    background-position: 0 -100px;
    width: 29px;
    height: 33px;
  }

}