section#map {
  position: absolute;
  top: $headerHeight + $toolbarHeight;
  bottom: $footerHeight + 2;
  left: 0;
  width: 100%;
  background: #E8E0D8;
  z-index: 50;
  @media screen and (max-width:$breakTablet) {
      top: $headerHeight;
      bottom: $toolbarHeight;
  }
}
a#mapbox_logo {
  position:absolute;
  left:5px;
  bottom:3px;
  z-index:99999;
  display:block;
  width:65px;
  height:20px;
  background-position:0px -30px;
  text-indent:-9999px;
  overflow:hidden;
  background-repeat:no-repeat;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAyCAMAAADWQ11hAAADAFBMVEX///8kJCQgICAgICAAAAAAAADR0dGmpqbp6embm5v09PTg4OAgICAAAADp6ekgICDn5+fq6uohISH////9/f319fX///8fHx/+/v7m5uYAAAAgICAhISH////r6+u5ubkAAAAAAAAgICAAAAAAAAD09PT39/f///8AAAD8/Pz8/PwAAAD////MzMz6+voAAAD8/Pz///8hISEAAAAfHx////////8AAADp6ekfHx+Li4sAAAD9/f3p6en9/f1hYWH7+/vu7u79/f0AAADz8/MAAADz8/P4+PiYmJjx8fHX19f7+/v8/Pzv7+/j4+Pk5OTm5ubm5uahoaH///8gICD5+fno6Ojd3d2YmJj8/Pz///8AAACysrJVVVVMTEy3t7d2dnbe3t7y8vLGxsbGxsb4+PgAAAC9vb2NjY2ioqL29vb5+fnBwcHLy8tjY2O1tbX///+1tbUwMDCzs7MAAAD39/fs7OzOzs5HR0fk5OT5+fna2tq3t7eTk5MAAAD9/f3Ozs7X19cAAADe3t4UFBTv7+/o6Ojm5uYAAAC8vLzs7Ozq6uoAAADy8vL29vaCgoLq6urT09Pi4uL19fXt7e3l5eXj4+Pg4ODi4uKenp729vbk5OTX19dzc3P6+vr///+pqalNTU06Ojq4uLhxcXHKysrj4+Pp6ekAAADMzMwAAADb29vHx8f6+voAAACEhISkpKTJycnr6+vi4uIpKSnJycnj4+Pp6ekAAAC0tLQvLy+vr6////+srKxcXFzGxsa9vb34+Pj29vaioqKJiYmqqqoGBgb5+fm9vb28vLzw8PAAAADz8/P7+/sAAAAAAADq6uoAAAAkJCQODg7h4eH+/v7///8HBwfExMQsLCz////9/f0XFxf6+vrGxsb////R0dF0dHSzs7MtLS1VVVWpqan////5+fmPj4/Y2Njq6ur29vakpKTk5OTn5+fn5+fm5ubv7+/29vbq6urU1NTx8fGTk5P19fXz8/MAAADw8PDt7e3BwcEAAAD///////8sCe0qAAAA/3RSTlMAHMXgBAfNh+Rp8tupS7jJYdG0/vwyGGr9RwaHZAnoIQEhqhsD8fQCR/rjRBUF9g77CmYk0yITHeSiaAU5O/14Ruj6Au0N8fF03M6i5+t1wtjgqiTV67PYkvASJ5E2S7leS++XvvUtFSFa8vaxNkshBqkwfzwbL8sQ3MqvVDU187+YGnkYx5YUEmq8dwnw73LdyqDn6WK+zN6O6qzTju8PkShUrUZbnMIgfRiPvPU0NFqcydwZxy0XOXMmlQQlUDGq9vJSDQMo8r6R7UHi+EZjzEoVSVT+A0UeXQ37C/kbFl9WtmcqkhHwfdOt65Xf1L1m6emcyt1v8PALd7yMFgHZFrZPAAADUElEQVRIx+3UZ0wUQRQH8Ad3tIMTZRAQpAjCAWIXjA0RIzaiYokFCYoFRaxfFAsW7BDsGkRBsWE0scSK2GIFxX6W2HvBhgoay/2d3buTwxx3JJDoB96HmcnOm9/MzswuUXVUx/8fUke7vnaOUuOJJjYmOtXfiqfE1sVW4mncsZGYcsDEVGKjp9NRUldK0roSR+OrMeWOWOjptLMV1iG1taMKOeUo1NdFrFxaUIWccpQ/q2lVOUa7N80q91KakypvlopusXBvWrRqZmrcMXjgulNV4vrpODZV8VEYnqU6quOfxGn3WJW6dXt8ff0po2LdY40x+8GGio3lQBe9GR17AWjUc7pBxpyh+CavDygBC5W+DDNL+NwHnBYZZDBG2YNItRdjYEH6Gdbu3ow9iJEaZPb4dc6kG4hYrWFcHRwcXIl4GaBdTW1efcUu9YimYvkwQJ3rqmVWxWNr7kW0riEwuUnFTnwr1qhO8RLnth3QMhMKvPfx9IPphVibvoByvJXJRIM+scFapuazuLufscxZYBpeAZrIRsCarGAv8wH8HglMyIuQH9jEs4+PAOyB1OP0ivnVpsXoP/cPQ0d4+mYSmNkIGxbVcrrIvPfKHt0NcQ84o2QMd7cQNVyKhMM5hxPQ60zKTtY1GanHqJS5Zol4D4Exi8N2/qyOyNTiGz+lH/vJmRNvJ1oHOyXRbtiP5/1H7XGKcooYkEY6DJW4bSSB2YVGTXUZoh1slnpvFpawIo88fBAHfUAeUWvgS0oZxvksiUyUMjSoLDMfOzUnRUWY8RzzxEHzsIF3BaPwRRlGDM7Mycf3MsyEDDzXMKqXiBoCFsibgQyPFe2Cgy1RQy8jHYCMkJulTFB3rJyUIjCKtt2Zm1fz15gaSH2mwrxl5gpsOnYSH/UxqsjzDDP9w0Um1N+fIay9M19NuP9AJ+bTvr4iKwIYCLzLojewNvFIQ8FB9eBo76EaZnbYEqKR6ye7yWSy/eK9+WYdfacxmZnzB/n9nzxtzK/i9d6vO6zrfavN2LiV4xTUabhsmnrwBV9nDfNLHsnLTiMbyOXyBmTFEuRXD9UTvnDhga/Y5OGVeClxDlFz+QXht5It9zX8A9GcVGWjipjHMdMUVcBEXk6sePJvwClGj9yI0yQAAAAASUVORK5CYII=');

  @media screen and (max-width:$breakPhone) {
    bottom: 13px
  }
}

.leaflet-marker-icon, .leaflet-div-icon, .leaflet-clickable, .leaflet-zoom-animated-div-icon {
  border: 0px solid red !important;
}

.leaflet-popup{
  padding: 10px;
  @include border-radius(2px);
}

.leaflet-marker-icon {

  background: transparent url('/images/marker-sprites.png') no-repeat;

  @include if-min-resolution(1.3) {
    background: transparent url('/images/marker-sprites@2x.png') no-repeat;
    background-size: 29px 128px;
  }

  &.wheelchair_hidden {
    display: none;
  }

  &.category_hidden {
    display: none;
  }

  &.yes{
    background-position: 0 0;
    width: 29px;
    height: 32px;
  }
  &.limited{
    background-position: 0 -32px;
    width: 29px;
    height: 32px;
  }
  &.no{
    background-position: 0 -64px;
    width: 29px;
    height: 32px;
  }
  &.unknown{
    background-position: 0 -96px;
    width: 29px;
    height: 32px;
  }

}
.leaflet-bar-part-single {
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  border-bottom: none;
}

.leaflet-touch .leaflet-bar-part-single {
  -webkit-border-radius: 7px 7px 7px 7px;
          border-radius: 7px 7px 7px 7px;
  border-bottom: none;
}
.leaflet-control-locate {

  a {
    background-image: url('/images/locate_btn.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.8);

    &:hover {
      background-color: #FFF;
    };

    @include if-min-resolution(1.3) {
      background-image: url('/images/locate_btn@2x.png');
    }
  }

  &.requesting a {
    background-image: url('/images/spinner_locate.gif');
  }

  &.active a {
    background-image: url(/images/locate_btn_active.png);
    @include if-min-resolution(1.3) {
      background-image: url('/images/locate_btn_active@2x.png');
    }
  }
}
