#toolbar {
  width: 100%;
  height: $toolbarHeight;
  position: absolute;
  top: $headerHeight;
  background: url(/images/bg_toolbar.png) #304151;
  background-image: -webkit-image-set(url(/images/bg_toolbar.png) 1x, url(/images/bg_toolbar@2x.png) 2x);
  box-shadow: 0px 0px 10px #444;
  z-index: 998;
  .content {
    max-width: 640px;
    margin: auto;
    margin-top: -2px;
  }
  .btn, .btn:hover {
    @include background(linear-gradient(top, rgb(108, 133, 157), rgb(77, 100, 122)));
    @include filter-gradient(#6c859d, #4d647a, vertical);
    border: 1px solid #000;
    background-position: 0;

    @include box-shadow(0px 1px 0px #566D82, inset 0px 1px 0px #8298AA);
  }

  .btn:hover {
    @include box-shadow(0px 1px 0px #566D82, inset 0 10px 20px rgba(48, 66, 81, 0.30));
  }
  .btn.active {
    @include background(linear-gradient(bottom, rgb(108, 133, 157), rgb(77, 100, 122)));
    @include filter-gradient(#4d647a, #6c859d, vertical);
    & span {
      @include opacity(0.5);
    }
  }
  .btn-searchbar {
    display:none;
  }
  .input-append {
    input {
        width: 160px;
        float: left;
        margin: 0 0 0 0;
        padding: 8px 0px 6px 10px;
        border: 1px solid #000;
        background: #A4ACB4;

        font-size: 12px;

        @include border-radius(3px 0 0 3px);
        @include box-shadow(0px 1px 0px #566D82);
        @include transition(all 0.3s ease-in-out);
      }
      input:focus {
        width: 200px;
        background: #FFF;
      }
      ::-webkit-input-placeholder { color:#2D3D4D; }
      ::-moz-placeholder { color:#2D3D4D; } /* firefox 19+ */
      input:-moz-placeholder { color:#2D3D4D; }
      button {
        height:36px;
        @include border-radius(0 3px 3px 0);
      }
  }

  .btn-toolbar {
    .btn-search {
      height: 36px;
    }
  }
  .status-filter {
    margin:0 10px;
    .btn {
      width: 46px;
      height: 36px;
      padding:0;
      span {
        width:22px;
        height:22px;
        margin: 2px 0 0 11px;
        float:left;
      }
    }
    .btn:first-child {
       @include border-radius(3px 0 0 3px);
    }
    .btn:last-child {
      @include border-radius(0 3px 3px 0);
    }
    .yes {
      span {
        background: url('/images/marker-yes.png') no-repeat;
      }
      .popover-title {
        background: #7EA940;
        color: #FFF;
        font-weight: bold;
        @include text-shadow(0 1px 0 #000);
      }
    }

    .limited {
      span {
        background: url('/images/marker-limited.png') no-repeat;
      }
      .popover-title {
        background: #F1BD56;
        color: #FFF;
        font-weight: bold;
        @include text-shadow(0 1px 0 #000);
      }
    }
    .no {
      span {
        background: url('/images/marker-no.png') no-repeat;
      }
      .popover-title {
        background: #E5002A;
        color: #FFF;
        font-weight: bold;
        @include text-shadow(0 1px 0 #000);
      }
    }
    .unknown {
      span {
        background: url('/images/marker-unknown.png') no-repeat;
      }
      .popover-title {
        background: #A5A5A6;
        color: #FFF;
        font-weight: bold;
        @include text-shadow(0 1px 0 #000);
      }
    }
  }
  .category-filter {
    width: 150px;
    .btn {
      width: 150px;
      height:36px;
    }
    .dropdown-menu {
          right: 0px;
          left: auto;
    }
  }
  .dropdown-menu {
    border-radius: 3px;
    padding: 5px 0 0 0;
  }
  .dropdown-menu > li > a {
    padding: 6px 10px 5px 10px;
    border-bottom: 1px solid #F0F0F0;

    font-size: 13px;
  }
  .dropdown-menu li:last-child a{
    border:none;
  }
  .dropdown-menu > li > a:hover {
    @include background(linear-gradient(top, rgb(107, 132, 155), rgb(77, 100, 122)));
    @include filter-gradient(#6b849b, #4d647a, vertical);
  }
  .bootstrap-select.btn-group.show-menu-arrow .dropdown-menu {
    overflow-x: scroll!important;
    overflow-y: none!important;
  }
  .popover {
    width: 180px;
  }
}
@media screen and (max-width:640px) {
  #toolbar {
    .content {
      max-width: 100%;
      .btn-searchbar {
        display: inline;
        padding: 7px 2px;
        width: 45px;
        margin-left: 1%;
      } 
      form.navbar-form {
        width: 98%;
        padding: 10px 1% 10px 1%;
        position: absolute;
        top:44px;
        left: 0px;
        background: #333;
        display: none !important;

        &.active {
          display: block !important;
        }
        .input-append {
          margin: 0 !important;
          width: 100% !important;

          input, input:focus {
            width: 80%;
          }
        }
      }
      .btn, .btn-group {
         width:50px;
      }
      .category-filter {
        float: right;
        margin-right: 1%;
        span.filter-option {
          text-indent: -99999px;
        }
      }
    }
  }
}




