#toolbar {
  width: 100%;
  height: 52px;
  position: absolute;
  top: 50px;
  float: left;
  background: url(../images/bg_toolbar.png) #304151;
  background-image: -webkit-image-set(url(../images/bg_toolbar.png) 1x, url(../images/bg_toolbar@2x.png) 2x);
  box-shadow: 0px 0px 10px #444;
  z-index: 998;
  .content {
    max-width: 640px;
  }
}
.btn-searchbar {
	display: none;
}
.searchbar {
  float: left;
  input {
    width: 160px;
    float: left;
    margin: 7px 0 0 0;
    padding: 11px 0px 9px 4px;
    border: 1px solid #000;
    border-radius: 3px 0 0 3px;
    box-shadow: 0px 1px 0px #566D82;
    background: #A4ACB4;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

::-webkit-input-placeholder, ::-moz-placeholder, input:-moz-placeholder {
  color: #2D3D4D;
}

/* firefox 19+ */

.searchbar input:focus {
  width: 200px;
  background: #FFF;
}

#toolbar .searchbar button {
  float: left;
  margin-left: 0px;
  border-left: none;
  border-radius: 0 3px 3px 0;
  padding: 2px 10px 1px 10px;
  font-family: 'EntypoRegular', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

.searchbar button a {
  color: #FFF;
}

.ort-filter {
  float: left;
  margin: 7px 20px 0  20px;
  box-shadow: 0px 1px 0px #566D82;
  border: 1px solid #000;
  border-radius: 3px;
  li {
    &.active {
      opacity: 1;
    }
    width: 44px;
    height: 36px;
    float: left;
    cursor: pointer;
    border-right: 1px solid #000;
    opacity: 0.2;
    background: url(../images/bg_button.png) #4c6277 top right no-repeat;
    background-image: -webkit-image-set(url(../images/bg_button.png) 1x, url(../images/bg_button@2x.png) 2x);
    list-style: none;
    &:hover {
      box-shadow: inset 0 10px 20px rgba(48, 66, 81, 0.3);
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
      border-right: none;
    }
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
  }
  label {
    display: none;
  }
  input[type=checkbox] {
    width: 44px;
    height: 36px;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  li {
    &.yes input[type=checkbox] {
      background-image: url(../images/marker-yes.png);
    }
    &.limited input[type=checkbox] {
      background-image: url(../images/marker-limited.png);
    }
    &.no input[type=checkbox] {
      background-image: url(../images/marker-no.png);
    }
    &.unknown input[type=checkbox] {
      background-image: url(../images/marker-unknown.png);
    }
    .tooltip {
      width: 168px;
      height: auto;
      background: #FFF;
      border-radius: 4px;
      position: absolute;
      top: 40px;
      left: -60px;
      z-index: 100;
      text-indent: 0px;
      box-shadow: 0px 3px 5px #444;
      border-radius: 4px;
      display: none;
      -webkit-transition: opacity 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      &:after {
        position: absolute;
        left: 76px;
        top: -7px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: "";
      }
    }
  }
}

.yes .tooltip:after {
  border-bottom: 7px solid #97c34e;
}

.limited .tooltip:after {
  border-bottom: 7px solid #F1BD56;
}

.no .tooltip:after {
  border-bottom: 7px solid #E5002A;
}

.unknown .tooltip:after {
  border-bottom: 7px solid #A5A5A6;
}

.wc .tooltip:after {
  border-bottom: 7px solid #FFFFFF;
}

.tooltip h3 {
  width: 90%;
  padding: 10px 5% 6px 5%;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
}

.yes h3 {
  background-color: #87b346;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(151, 195, 78)), to(rgb(120, 163, 62)));
  background-image: -webkit-linear-gradient(top, rgb(151, 195, 78), rgb(120, 163, 62));
  background-image: -moz-linear-gradient(top, rgb(151, 195, 78), rgb(120, 163, 62));
  background-image: -o-linear-gradient(top, rgb(151, 195, 78), rgb(120, 163, 62));
  background-image: -ms-linear-gradient(top, rgb(151, 195, 78), rgb(120, 163, 62));
  background-image: linear-gradient(top, rgb(151, 195, 78), rgb(120, 163, 62));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#97c34e', EndColorStr='#78a33e');
  color: #222;
}

.limited h3 {
  background: #F1BD56;
  color: #222;
}

.no h3 {
  background: #E5002A;
  color: #39000A;
}

.unknown h3 {
  background: #A5A5A6;
  color: #222;
}

.tooltip p {
  font-size: 11px;
  line-height: 14px;
  color: #333;
  width: 90%;
  padding: 10px 5% 10px 5%;
}

.ort-filter li.active:hover .tooltip {
  display: block;
}

#toolbar {
  select {
    float: left;
    width: auto;
    padding: 11px 22px 9px 10px;
    margin: 7px 0 0 0px;
    border: 1px solid #000;
    background: url(/images/bg_select.png) #4c6277 top right no-repeat;
    background-image: -webkit-image-set(url(/images/bg_select.png) 1x, url(/images/bg_select@2x.png) 2x);
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 1px 0 #000;
    box-shadow: 0px 1px 0px #566D82;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    &:hover {
      box-shadow: 0px 1px 0px #566d82, inset 0 10px 20px rgba(48, 66, 81, 0.3);
      cursor: pointer;
    }
  }
  button:hover {
    box-shadow: 0px 1px 0px #566d82, inset 0 10px 20px rgba(48, 66, 81, 0.3);
    cursor: pointer;
  }
  optgroup {
    background: #F00;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  button {
    padding: 11px 10px 9px 10px;
    margin: 7px 0 0 10px;
    padding: 10px 20px;
    float: left;
    background: url(../images/bg_button.png) #4c6277 top right no-repeat;
    background-image: -webkit-image-set(url(../images/bg_button.png) 1x, url(../images/bg_button@2x.png) 2x);
    box-shadow: 0px 1px 0px #566D82;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 1px 0 #000;
  }
}
.notification {
	width: 100%;
	height: 40px;
	position: fixed;
	z-index: 9999;
	top: 102px;
	left: 0px;
	background: #6AA74A;
	display:none;
}	
.notification span {
	width:100%;
	float:left;
	text-align:center;
	margin: 12px 0 0 0;
	color: #FFF;
	font-size: 14px;
}
@media screen and (max-width:760px) {
.btn-searchbar {
	display: block;
	
	float:left;
	margin: 7px 0px 0px 10px;
	padding: 2px 12px 3px 12px;
	
	border: 1px solid #000;
	border-radius: 3px;
	font-family: 'EntypoRegular', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px 0 #000;
	
	background: url(../images/bg_button.png) #4c6277 top right no-repeat;
	background-image: -webkit-image-set(url(../images/bg_button.png) 1x, url(../images/bg_button@2x.png) 2x);
}
.searchbar {
	display: none;
	
	width:100%;
	height: 50px;
	position: absolute;
	top: 50px;
	left: 0px;
	background-color: #3d3d3d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(54, 53, 53)), to(rgb(69, 69, 69)));
	background-image: -webkit-linear-gradient(top, rgb(54, 53, 53), rgb(69, 69, 69));
	background-image: -moz-linear-gradient(top, rgb(54, 53, 53), rgb(69, 69, 69));
	background-image: -o-linear-gradient(top, rgb(54, 53, 53), rgb(69, 69, 69));
	background-image: -ms-linear-gradient(top, rgb(54, 53, 53), rgb(69, 69, 69));
	background-image: linear-gradient(top, rgb(54, 53, 53), rgb(69, 69, 69));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#363535', EndColorStr='#454545');
	box-shadow: inset 0 3px 0 #333, 0 0 4px #333;
	border-top: 1px solid #555;
	
	input, input:focus {
		width:80%;
		margin-left:5%;
	}	
}
.searchbar.active {
	display: block;
}
.ort-filter {
	width: 179px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -89px;
}
#toolbar select {
	width: 44px;	
	float: right;
	margin-right: 10px;
	text-indent: -9999px;
	background: url(/images/bg_mobile_select.png) #4c6277 top center no-repeat;
	background-image: -webkit-image-set(url(/images/bg_mobile_select.png) 1x, url(/images/bg_mobile_select@2x.png) 2x);
}
}