#toolbar {
  width: 100%;
  height: 52px;
  position: absolute;
  top: 50px;
  float: left;
  background: url(/images/bg_toolbar.png) #304151;
  background-image: -webkit-image-set(url(/images/bg_toolbar.png) 1x, url(/images/bg_toolbar@2x.png) 2x);
  box-shadow: 0px 0px 10px #444;
  z-index: 998;
  .content {
    max-width: 640px;
  }
}
