.DS_Store
.bundle
db/*.sqlite3
db/data/*.csv
db/data/*.sql
db/data/*.xls
log
tmp/
doc/
config/database.yml
config/google.yml
config/open_street_map.yml
config/metrics.yml
public/*/cache/*
public/assets
public/sitemap*
public/system/sitemap*
public/system/uploads*
vendor/bundle
.sass-cache
wheelmap.esproj/Project.espressostorage
*.espressostorage
