.DS_Store
.bundle
.idea
db/*.sqlite3
db/data/*.csv
db/data/*.sql
db/data/*.xls
log
tmp/
doc/
config/database.yml
config/google.yml
config/open_street_map.yml
config/metrics.yml
config/newrelic.yml
config/application.yml
public/*/cache/*
public/assets
public/sitemap*
public/system/sitemap*
public/system/uploads*
vendor/bundle
vendor/cache
node_modules
.sass-cache
wheelmap.esproj/Project.espressostorage
*.espressostorage
.env
