%section#node-status.row-fluid
  .dropdown.span6
    %h2
      Rollstuhlgerechtigkeit:
    %a.dropdown-toggle.btn.wheelchair-yes{'data-toggle' => 'dropdown'}
      Voll Rollstuhlgerecht
      %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
      %i.icon-caret-down.pull-right
    %ul.dropdown-menu{'role' => 'menu'}
      %li
        %a.popover-wheelchair-yes
          %span.wm-checkbox.wheelchair-yes.checked
            %i.icon-ok
          Voll Rollstuhlgerecht
          %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
      %li
        %a.popover-wheelchair-limited
          %span.wm-checkbox.wheelchair-limited
            %i.icon-ok
          Teilweise Rollstuhlgerecht
          %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
      %li
        %a.popover-wheelchair-no
          %span.wm-checkbox.wheelchair-no
            %i.icon-ok
          Nicht Rollstuhlgerecht
          %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}

  .dropdown.span6
    %h2
      Rollstuhlgerechtes WC:
    %a.dropdown-toggle.btn.wheelchair-yes{'data-toggle' => 'dropdown'}
      WC rollstuhlgerecht
      %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
      %i.icon-caret-down.pull-right
    %ul.dropdown-menu{'role' => 'menu'}
      %li
        %a.popover-wheelchair-yes
          %span.wm-checkbox.wheelchair-yes.checked
            %i.icon-ok
          WC rollstuhlgerecht
          %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
      %li
        %a.popover-wheelchair-no
          %span.wm-checkbox.wheelchair-no
            %i.icon-ok
          WC nicht rollstuhlgerecht
          %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
