%section.node-edit
  = render partial: 'node_faq'

  = link_to '/map#/nodes/' + node_edit.id.to_s + '/edit', class: 'btn' do
    %i.icon-pencil
    %span.visible-desktop.visible-phone=t('.edit')

  = render partial: 'node_share', object: node_edit
