%section.node-nearby-locations-from-partners
  %h2=t('.places_nearby')
  %section.node-nearby-locations-from-partners-list

- content_for :javascript do
  :javascript
    window.addEventListener("DOMContentLoaded", function load(event) {
      AccessibilityCloud = window['accessibility.cloud'].default;
      var accessibilityCloud = new AccessibilityCloud({
        token: '27be4b5216aced82122d7cf8f69e4a07',
        locale: I18n.locale,
      });
      var containerElement = document.querySelector('section.node-nearby-locations-from-partners');
      var element = document.querySelector('section.node-nearby-locations-from-partners-list');
      var parameters = {
        latitude: #{@node.lat},
        longitude: #{@node.lon},
        accuracy: 1000, // include places within 1 km radius
        limit: 10,
        excludeSourceIds: ['LiBTS67TjmBcXdEmX'], // excludes Wheelmap's own PoIs from results
      };
      accessibilityCloud.loadAndRenderPlaces(element, parameters, function(error, response) {
        if (!error && response && response.features && response.features.length > 0) {
          containerElement.classList.add('has-results');
        }
      });
    }, false);
