%section#node-edit
  %button.btn
    %i.icon-pencil
    %span.visible-desktop.visible-phone
      bearbeiten

  %button.btn
    %i.icon-share

  .btn-group.pull-right
    %button.btn
      %i.icon-bolt
    %button.btn
      %span.caret
