.breadcrumbs
  = link_to root_path(anchor: "/popup/#{@node.osm_id}?" + {lat: @node.lat, lon: @node.lon, zoom: cookies[:last_zoom] || 17 }.to_param), class: 'btn back' do
    =t('nodes.show.link.back')
  %ol.unstyled
    = list_of(node_breadcrumbs.breadcrumbs) do |i|
      =fa_icon 'angle-right', text: i
  =link_to root_path(anchor: "/?" + {lat: @node.lat, lon: @node.lon, node_id: @node.osm_id, zoom: cookies[:last_zoom] || 17 }.to_param), class: 'btn close' do
    = fa_icon "remove"
