%section#node-add-overview.nodes-new-content-section.nodes-new-content-section--overview{'data-section': true}
  %h2
    Alle Eingaben korrekt?
  .nodes-new-content-section-form
    %h3
      Name & Kategorie:
    %dl.nodes-new-content-section--overview-list
      %dt
        Name:
      %dd
        Aladdin Dönerhaus
      %dt
        Typ:
      %dd
        Fast Food
    %a.nodes-new-content-section--overview-edit{href: '#node-add-name-category'}
      Bearbeiten
      %i.icon-chevron-right

  .nodes-new-content-section-form
    %h3
      Adresse:
    #node-add-overview-map.nodes-new-content-section--overview-map
    %dl.nodes-new-content-section--overview-list
      %dt
        Straße:
      %dd
        Hermannstraße 96
      %dt
        Ort:
      %dd
        12049 Berlin
    %a.nodes-new-content-section--overview-edit{href: '#node-add-address'}
      Bearbeiten
      %i.icon-chevron-right

  .nodes-new-content-section-form
    %h3
      Rollstuhlgerechtigkeit:
    %dl.nodes-new-content-section--overview-list
      %dt
        Status:
      %dd
        %span.yes
          Rollstuhlgerecht
      %dt
        WC-Status:
      %dd
        %span.unknown
          Status WC unbekannt
    %a.nodes-new-content-section--overview-edit{href: '#node-add-status'}
      Bearbeiten
      %i.icon-chevron-right

  .nodes-new-content-section-form
    %h3
      Kontakt:
    %dl.nodes-new-content-section--overview-list
      %dt
        Webseite:
      %dd
        —
      %dt
        Telefon:
      %dd
        —
    %a.nodes-new-content-section--overview-edit{href: '#node-add-contact'}
      Bearbeiten
      %i.icon-chevron-right

  .form-actions
    %button.btn.btn-primary.pull-right{type: :submit}
      Speichern