%section.node-nearby-locations-from-partners
  %h2=t('.places_nearby')
  %section.node-nearby-locations-from-partners-list

- content_for :javascript do
  :javascript
    window.onAccessibilityCloudLoaded = function (AccessibilityCloud) {
      var containerElement = document.querySelector('section.node-nearby-locations-from-partners');
      var element = document.querySelector('section.node-nearby-locations-from-partners-list');
      AccessibilityCloud.render(element, {
        token: '27be4b5216aced82122d7cf8f69e4a07',
        locale: document.getElementsByTagName('html')[0].getAttribute('lang'),
        requestParameters: {
          latitude: #{@node.lat},
          longitude: #{@node.lon},
          accuracy: 1000, // include places within 1 km radius
          limit: 10,
          excludeSourceIds: ['LiBTS67TjmBcXdEmX'], // excludes Wheelmap's own PoIs from results
        },
        onSuccess: function() {
          containerElement.classList.add('has-results');
        }
      });
    }