%span{itemscope: '', itemprop: 'geo', itemtype: 'http://schema.org/GeoCoordinates'}
  %meta{itemprop: 'latitude', content: node_geocoordinates.lat}
  %meta{itemprop: 'longitude', content: node_geocoordinates.lon}
