%section#node-edit
  %button.btn
    %i.icon-pencil
    %span.visible-desktop.visible-phone
      bearbeiten

  #node-share.btn-group.dropdown
    %button.dropdown-toggle.btn{:'data-toggle' => 'dropdown'}
      %i.icon-share

    %ul.dropdown-menu{role: 'menu'}
      %li
        %a
          %i.icon-twitter
          Twitter
        %a
          %i.icon-facebook
          Facebook
        %a
          %i.icon-envelope-alt
          E-Mail


  #node-report.btn-group.dropdown.pull-right
    %button.dropdown-toggle.btn{:'data-toggle' => 'dropdown'}
      %i.icon-bolt
      %span.caret

    #node-report-accordion.dropdown-accordion
      %header
        Gibt es ein Problem mit diesem Ort?

        .pull-right
          = link_to('FAQ', 'http://wheelmap.org/about/faqs/', class: 'btn btn-mini', target: '_blank')
          = link_to('mailto:bugs@wheelmap.org', class: 'btn btn-mini') do
            %i.icon-envelope-alt

      .accordion-group
        %a.collapsed.accordion-toggle{href: '#node-report-1', :'data-toggle' => 'collapse', :'data-parent' => '#node-report-accordion'}
          Die Daten stimmen nicht
          %i.icon-chevron-up.pull-right
        #node-report-1.collapse
          .accordion-inner
            Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.

      .accordion-group
        %a.collapsed.accordion-toggle{href: '#node-report-2', :'data-toggle' => 'collapse', :'data-parent' => '#node-report-accordion'}
          Der Ort ist falsch makiert
          %i.icon-chevron-up.pull-right
        #node-report-2.collapse
          .accordion-inner
            Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.

      .accordion-group
        %a.collapsed.accordion-toggle{href: '#node-report-3', :'data-toggle' => 'collapse', 'data-parent' => '#node-report-accordion'}
          Ich bin mit der Gesamtsituation unzufrieden
          %i.icon-chevron-up.pull-right
        #node-report-3.collapse
          .accordion-inner
            Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.