%header#node-header
  = render partial: 'node_breadcrumbs', object: node_header
  %h1{itemprop: 'name'}= node_header.headline
  = render_address(node_header)
  = render partial: 'node_geocoordinates', object: node_header
