%section#node-edit
  %button.btn
    %i.icon-pencil
    %span.visible-desktop.visible-phone
      bearbeiten

  %button.btn
    %i.icon-share

  #node-report.dropdown.pull-right
    %button.dropdown-toggle.btn{:'data-toggle' => 'dropdown'}
      %i.icon-bolt
      %span.caret

    #node-report-accordion.accordion.dropdown-accordion
      .accordion-group
        %a.collapsed.accordion-toggle{:href => '#node-report-1', :'data-toggle' => 'collapse', :'data-parent' => '#node-report-accordion'}
          Die Daten stimmen nicht
        #node-report-1.collapse
          Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.

      .accordion-group
        %a.collapsed.accordion-toggle{:href => '#node-report-2', :'data-toggle' => 'collapse', :'data-parent' => '#node-report-accordion'}
          Der Ort ist falsch makiert
        #node-report-2.collapse
          Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.

      .accordion-group
        %a.collapsed.accordion-toggle{:href => '#node-report-3', :'data-toggle' => 'collapse', :'data-parent' => '#node-report-accordion'}
          Ich bin mit der Gesamtsituation unzufrieden
        #node-report-3.collapse
          Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.