%section#node-add-similar.nodes-new-content-section.nodes-new-content-section--similar{'data-section': true}
  %h2
    Ist es einer der folgenden Orte?
  .nodes-new-content-section-form
    %ul.nodes-new-content-section--similar-list
      %li
        %strong
          Aladin Döner
        Obere Königsstraße 7, 34117 Kassel, Deutschland, Europa
        %a.pull-right{href: '#'}
          Mit diesem Ort fortfahren
          %i.icon-chevron-right
      %li
        %strong
          Aladin Döner
        Obere Königsstraße 7, 34117 Kassel, Deutschland, Europa
        %a.pull-right{href: '#'}
          Mit diesem Ort fortfahren
          %i.icon-chevron-right
  .form-actions
    %button.btn.btn-primary.pull-right{type: :submit, 'data-trigger': :widget, 'data-target': '#node-add-status'}
      Weiter