%article#node-popover
  = render partial: 'popover_header', object: @node


  .row-fluid
    %section#node-content.node-wrapper.span12
      = render partial: 'popover_status', object: @node
      = render partial: 'popover_edit', object: @node