%header
  .breadcrumbs
  %h1=@node.name
  %address
    - if @node.tags['addr:street']
      =@node.tags['addr:street']
      = succeed ',' do
        - if @node.tags['addr:housenumber']
          =@node.tags['addr:housenumber']
    =@node.tags['addr:postcode']
    =@node.tags['addr:city']