%li
  %a.clearfix{:href => root_path(anchor: '/' + (entry['osm_type'] == 'node' && entry['class'] == 'amenity' ? "popup/" + entry['osm_id'] : '') + '?' + {:q => params[:q], :bbox => entry['boundingbox'].join(',')}.to_param)}
    - entry['display_name'].split(', ').each_with_index do |part, index|
      %span{:class => index == 0 ? 'strong' : nil}
        = index > 0 ? ' ‹ ' : nil
        = part

    %i.icon-chevron-right.pull-right