#bar
  padding: 5px
  padding: 4px 10px
  +helvetica-13

  a,
  label,
  span
    +text-shadow(rgba(white, 0.3), 0, 1px, 1px)


=wheelchair-option($color)
  //border: 1px darken($color, 10%) solid
  padding: 1px 2px
  +vertical-gradient($color, 3%)


.wheelchair
  +box-shadow(rgba(0, 0, 0, 0.2), 0, 1px, 3px)
  +border-radius(4px)
  
  span
    float: right
    font-size: 11px
    opacity: 0.6
    padding: 1px 5px 0
    
  label
    font-weight: bold
    height: 18px !important
    
  .yes
    +wheelchair-option($yes)
    +border-top-radius(4px)
    //border-top-width: 1px
    //border-color: darken($yes, 8%)
    //border-bottom-color: darken($yes, 11%)
    color: desaturate(darken($yes, 38%), 20%)
    
  .limited
    +wheelchair-option($limited)
    //border-color: desaturate(darken($limited, 17%), 1%)
    //border-bottom-color: desaturate(darken($limited, 22%), 1%)
    //border-top-color: lighten($limited, 10%)
    color: desaturate(darken($limited, 55%), 10%)
    
  .no
    +wheelchair-option($no)
    //border-color: desaturate(darken($no, 7%), 10%)
    //border-top-color: lighten($no, 9%)
    //border-bottom-color: desaturate(darken($no, 13%), 5%)
    color: desaturate(darken($no, 50%), 10%)
    
  .unknown
    +wheelchair-option($unknown)
    +border-bottom-radius(4px)
    //border-bottom-color: darken($unknown, 13%)
    //border-top-color: lighten($unknown, 9%)
    color: desaturate(darken($unknown, 50%), 10%)


#links
  clear: both
  padding: 4px 0
  margin-bottom: 10px
  +clearfix

  a
    display: none

  a.refresh
    display: inline
