#api_docs
  = render :partial => 'api/docs/resource_links'
  %h2 Resource Locale
  %article.doc-block
    .resource
      %h3
        ="/api/locales"
      %h6 Methods
      .methods
        .method
          %h4 GET
          %p Retrieve a collection of all available locales.
          %h6 request query parameter

  %h2#representations Representations
  %article.doc-block
    %h3#locales_representation_json Example locales representation. (application/json)
    %pre=render :file => 'api/docs/resources/_locales.json'
