#api_docs
  = render :partial => 'api/docs/resource_links'
  %h2 Resource Node
  %article.doc-block
    .resource
      %h3
        ="/api/nodes"
        %span.optional> ?bbox
        %span.optional> &wheelchair
        %span.optional> &page
        %span.optional> &per_page
      %h6 Methods
      .methods
        .method
          %h4 GET
          %p Retrieve the nodes collection.
          %h6 request query parameter

          %table
            %thead
              %tr
                %th.param Parameter
                %th.type Type
                %th.desc Description
            %tbody
              %tr.optional.odd
                %td bbox
                %td string
                %td Filter nodes by a bounding box (bbox=west,south,east,north) as comma separated float numbers wich are longitude, latitude values in degrees.
              %tr.optional.even
                %td wheelchair
                %td string
                %td Filter nodes by a wheelchair status (Valid values: yes, limited, no, unknown)
              %tr.optional.odd
                %td page
                %td integer
                %td For pagination, what page of the results you are on. Default is 1.
              %tr.optional.even
                %td per_page
                %td integer
                %td For pagination, how many results to return per page. Default is 200. Max is 500.
          %h4 Example request:
          %pre http://wheelmap.org/api/nodes?api_key=api_key&bbox=13.341,52.505,13.434,52.523&per_page=10&wheelchair=yes
          %h4 This resource can also be nested within categories or node_types.
          %pre http://wheelmap.org/api/categories/1/nodes?api_key=api_key&bbox=13.341,52.505,13.434,52.523&per_page=10&wheelchair=yes
          %pre http://wheelmap.org/api/node_types/4/nodes?api_key=api_key&bbox=13.341,52.505,13.434,52.523&per_page=10&wheelchair=yes

          %h4#nodes_representation_json Example nodes representation. (application/json)
          %pre=render :partial => 'nodes.json'

    %hr
    .resource
      %h3
        ="/api/nodes/search"
        %span> ?q
        %span.optional> &bbox
        %span.optional> &wheelchair
        %span.optional> &page
        %span.optional> &per_page

      %h6 Methods
      .methods
        .method
          %h4 GET
          %p Retrieve the nodes collection.
          %h6 request query parameter

          %table
            %thead
              %tr
                %th.param Parameter
                %th.type Type
                %th.desc Description
            %tbody
              %tr.odd
                %td q*
                %td string
                %td Filter nodes by a search term.
              %tr.optional.even
                %td bbox
                %td string
                %td Filter nodes by a bounding box (bbox=west,south,east,north) as comma separated float numbers wich are longitude, latitude values in degrees.
              %tr.optional.odd
                %td wheelchair
                %td string
                %td Filter nodes by a wheelchair status (Valid values: yes, limited, no, unknown)
              %tr.optional.even
                %td page
                %td integer
                %td For pagination, what page of the results you are on. Default is 1.
              %tr.optional.odd
                %td per_page
                %td integer
                %td For pagination, how many results to return per page. Default is 200. Max is 500.
          %h4 Example request:
          %pre http://wheelmap.org/api/nodes/search?api_key=api_key&q=Fernsehturm&bbox=13.341,52.505,13.434,52.523&wheelchair=no
          %h4 The q parameter can contain asterisk characters like "*" to match not just the exact String. Extending the search to match 'Andreasstr', 'Andreasstrasse', 'Andreasstraße' or even 'Andreasstrumpf' you can use the following url
          %pre http://wheelmap.org/api/nodes/search?api_key=api_key&q=Andreasstr*
          %h4 This resource can also be nested within categories or node_types.
          %pre http://wheelmap.org/api/categories/1/nodes/search?api_key=api_key&q=Fernsehturm&bbox=13.341,52.505,13.434,52.523&wheelchair=no
          %pre http://wheelmap.org/api/node_types/1/nodes/search?api_key=api_key&q=Fernsehturm&bbox=13.341,52.505,13.434,52.523&wheelchair=no

          %h4#nodes_representation_json Example nodes representation. (application/json)
          %pre=render :partial => 'nodes_search.json'
      %hr
      .resource
        %h3
          ="/api/nodes"
      %h6 Methods
      .methods
        .method
          %h4 POST
          %p Create a new node.
          %h6 request query parameter

          %table
            %thead
              %tr
                %th.param Parameter
                %th.type Type
                %th.desc Description
            %tbody
              %tr.odd
                %td name*
                %td string
                %td
                  The node's name.
                  %b NOTE: A name is mandatory when creating a new node.
              %tr.even
                %td type*
                %td string
                %td The node's type, must be one of the available node_type ids
              %tr.odd
                %td lat*
                %td float
                %td The node's latitude in degrees as float.
              %tr.even
                %td lon*
                %td float
                %td The node's longitude in degrees as float.
              %tr.optional.odd
                %td wheelchair
                %td string
                %td The node's wheelchair status, must be one of [yes, no, limited, unknown]
              %tr.optional.even
                %td wheelchair_description
                %td string
                %td The node's additional wheelchair comment like "Ask for a ramp.", 255 characters max.
              %tr.optional.odd
                %td street
                %td string
                %td The node's street.
              %tr.optional.even
                %td housenumber
                %td string
                %td The node's house number.
              %tr.optional.odd
                %td city
                %td string
                %td The node's city.
              %tr.optional.even
                %td postcode
                %td string
                %td The node's postal code.
              %tr.optional.odd
                %td website
                %td string
                %td The node's url. In case there is a website about this not, for example a restaurant. Use the full url like this: http://www.example.com
              %tr.optional.even
                %td phone
                %td string
                %td The node's phone number. In case there is a real phone number to call, for example in a restaurant. Use the international format: +49 30 123456-78


          %h4 Example request:
          %pre http://wheelmap.org/api/nodes?api_key=api_key&name=White+Horse&type=restaurant&lat=51.0&lon=13.4

          %h4#nodes_representation_json Example nodes representation. (application/json)
          %pre= {:message => 'OK'}.to_json
      %hr
      .resource
        %h3
          ="/api/nodes/{node_id}"
      %h6 Methods
      .methods
        .method
          %h4 PUT
          %p Update an existing node.
          %h6 request query parameter

          %table
            %thead
              %tr
                %th.param Parameter
                %th.type Type
                %th.desc Description
            %tbody
              %tr.odd
                %td type*
                %td string
                %td The node's type, must be one of the available node_type ids
              %tr.even
                %td lat*
                %td float
                %td The node's latitude in degrees as float.
              %tr.odd
                %td lon*
                %td float
                %td The node's longitude in degrees as float.
              %tr.even
                %td wheelchair*
                %td string
                %td The node's wheelchair status, must be one of [yes, no, limited, unknown]
              %tr.optional.odd
                %td name
                %td string
                %td
                  The node's name.
                  %b NOTE: The name is optional for existing nodes.
              %tr.optional.even
                %td wheelchair_description
                %td string
                %td The node's additional wheelchair comment like "Ask for a ramp.", 255 characters max.
              %tr.optional.odd
                %td street
                %td string
                %td The node's street.
              %tr.optional.even
                %td housenumber
                %td string
                %td The node's house number.
              %tr.optional.odd
                %td city
                %td string
                %td The node's city.
              %tr.optional.even
                %td postcode
                %td string
                %td The node's postal code.
              %tr.optional.odd
                %td website
                %td string
                %td The node's url. In case there is a website about this not, for example a restaurant. Use the full url like this: http://www.example.com
              %tr.optional.even
                %td phone
                %td string
                %td The node's phone number. In case there is a real phone number to call, for example in a restaurant. Use the international format: +49 30 123456-78


          %h4 Example request:
          %pre http://wheelmap.org/api/nodes/123?api_key=api_key&wheelchair=no&name=White+Horse&type=restaurant&lat=51.0&lon=13.4

          %h4#nodes_representation_json Example nodes representation. (application/json)
          %pre= {:message => 'OK'}.to_json


    %hr
    .resource
      %h3
        ="/api/nodes/{node_id}/update_wheelchair"
    %h6 Methods
    .methods
      .method
        %h4 PUT
        %p Update the wheelchair status of an existing node.
        %h6 request query parameter

        %table
          %thead
            %tr
              %th.param Parameter
              %th.type Type
              %th.desc Description
          %tbody
            %tr.odd
              %td wheelchair*
              %td string
              %td The node's wheelchair status, must be one of [yes, no, limited, unknown]

        %h4 Example request:
        %pre http://wheelmap.org/api/nodes/123/update_wheelchair?api_key=api_key&wheelchair=yes

        %h4#nodes_representation_json Example nodes representation. (application/json)
        %pre= {:message => 'OK'}.to_json


    %hr
    .resource
      %h3
        ="/api/nodes/{node_id}"
      %h6 Methods
      .methods
        .method
          %h4 GET
          %p Retrieve a single Node, including its content.
          %h4 Example request:
          %pre http://wheelmap.org/api/nodes/19?api_key=api_key
          %h4#node_representation_json Example node representation. (application/json)
          %pre=render :partial => 'node.json'
