#api_docs

  = render :partial => 'api/docs/resource_links'

  %h2 Resource NodeType
  %article.doc-block
    .resource
      %h3
        ="/api/node_types"
        %span.optional{:title => 'optional'}> ?locale
        %span.optional{:title => 'optional'}> &page
        %span.optional{:title => 'optional'}> &per_page
      %h3
        ="/api"
        %span.optional{:title => 'optional'}> /categories/{category_id}
        ="/node_types"
        %span.optional{:title => 'optional'}> ?locale
        %span.optional{:title => 'optional'}> &page
        %span.optional{:title => 'optional'}> &per_page

      %h6 Methods
      .methods
        .method
          %h4 GET
          %p Retrieve the node type collection. This resource can also be nested whithin a category, to just return the node types associated with the given category. See examples
          %h6 request query parameter

          %table
            %thead
              %tr
                %th Parameter
                %th Type
                %th Description
            %tbody
              %tr.optional
                %td locale
                %td string
                %td Localize node types with the given locale. Default is "de", valid are any of the available locales.
              %tr.optional
                %td page
                %td integer
                %td For pagination, what page of the results you are on. Default is 1.
              %tr.optional
                %td per_page
                %td integer
                %td For pagination, how many results to return per page. Default is 200. Max is 500.


          %h4 Example request:
          %pre
            http://wheelmap.org/api/node_types?api_key=api_key&per_page=6

          %h4 This resource can also be nested within categories.
          %pre
            http://wheelmap.org/api/categories/1/node_types?api_key=api_key&per_page=6



  %h2#representations Representations
  %article.doc-block
    %h3#node_types_representation_json Example node types representation. (application/json)
    %pre=render :file => 'api/docs/resources/_node_types.json'
