/* line 1, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
a, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, p, pre, span, th, td {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* line 6, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
fieldset, img {
  border: 0;
}

/* line 13, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
address, em, th {
  font-style: normal;
  font-weight: normal;
}

/* line 17, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
li {
  list-style: none;
}

/* line 20, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
th {
  font-style: normal;
  text-align: left;
}

/* line 24, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

/* line 27, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 33, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
.msie input, .msie textarea, .msie select {
  font-size: 100%;
}

/* line 36, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
header, section, article, aside, footer, time {
  display: block;
}

/* line 4, ../../app/stylesheets/basics/_typography.sass */
p,
article li,
dt, dd,
h4, h5, h6,
address,
footer {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 13px;
  line-height: 20px;
}

/* line 12, ../../app/stylesheets/basics/_typography.sass */
h2 {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 16px;
  line-height: 20px;
  position: relative;
  bottom: 2px;
}

/* line 15, ../../app/stylesheets/basics/_typography.sass */
h1 {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 37px;
  line-height: 40px;
  position: relative;
}
/* line 3, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_browser_support.sass */
.presto h1 {
  bottom: 1px;
}

/* line 3, ../../app/stylesheets/basics/_links.sass */
a {
  color: #434bb9;
}
/* line 6, ../../app/stylesheets/basics/_links.sass */
a:hover {
  color: #353c94;
}
/* line 9, ../../app/stylesheets/basics/_links.sass */
a:visited {
  color: #6c43b9;
}
/* line 12, ../../app/stylesheets/basics/_links.sass */
a:visited:hover {
  color: #563594;
}

/* line 1, ../../app/stylesheets/basics/_sozialhelden.sass */
#sozialhelden {
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 4000;
}
/* line 7, ../../app/stylesheets/basics/_sozialhelden.sass */
#sozialhelden img {
  vertical-align: bottom;
}

/* line 1, ../../app/stylesheets/partials/nodes/_header.sass */
header {
  background-color: #f9faf9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #f9faf9), color-stop(1, #f4f5f4));
  background-image: -moz-linear-gradient(center bottom, #f4f5f4 0%, #f9faf9 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#f4f5f4', startColorstr='white', gradientType='0');
}

/* line 3, ../../app/stylesheets/partials/nodes/_links.sass */
a {
  color: #81a94a;
  text-decoration: underline;
}
/* line 7, ../../app/stylesheets/partials/nodes/_links.sass */
a:hover {
  color: #66863a;
}
/* line 10, ../../app/stylesheets/partials/nodes/_links.sass */
a:visited {
  color: #59a94a;
}
/* line 13, ../../app/stylesheets/partials/nodes/_links.sass */
a:visited:hover {
  color: #47863a;
}

/* line 2, ../../app/stylesheets/partials/nodes/_headlines.sass */
h1 span.addition {
  font-size: 14px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box {
  width: 550px;
  margin-bottom: 20px;
  padding: 30px;
  color: #333333;
  float: left;
  background-color: #f9faf9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #f9faf9), color-stop(1, #f4f5f4));
  background-image: -moz-linear-gradient(center bottom, #f4f5f4 0%, #f9faf9 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#f4f5f4', startColorstr='white', gradientType='0');
}
/* line 9, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label {
  vertical-align: middle;
  line-height: 34px;
}
/* line 14, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.yes {
  color: #a8c468;
}
/* line 17, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.limited {
  color: #e8d787;
}
/* line 20, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.no {
  color: #e98989;
}
/* line 23, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.unknown {
  color: #b7b7b7;
}

/* line 1, ../../app/stylesheets/partials/nodes/_lists.sass */
.status {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 4px;
  background-color: #b7b7b7;
  margin: 3px;
  float: left;
}
/* line 13, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.checked.yes {
  background: #a8c468;
}
/* line 16, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.checked.limited {
  background: #e8d787;
}
/* line 19, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.checked.no {
  background: #e98989;
}
/* line 22, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.checked.unknown {
  background: #b7b7b7;
}

/* line 25, ../../app/stylesheets/partials/nodes/_lists.sass */
dl {
  background-color: #f9faf9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #f9faf9), color-stop(1, #f4f5f4));
  background-image: -moz-linear-gradient(center bottom, #f4f5f4 0%, #f9faf9 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#f4f5f4', startColorstr='white', gradientType='0');
}

/* line 28, ../../app/stylesheets/partials/nodes/_lists.sass */
dt {
  display: block;
  float: left;
  width: 250px;
  font-weight: bold;
}

/* line 33, ../../app/stylesheets/partials/nodes/_lists.sass */
dd {
  display: block;
  float: left;
  width: 250px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_map.sass */
#map {
  height: 430px;
  width: 500px;
  background-color: white;
  float: left;
  border: 1px solid #cccccc;
}

/* line 1, ../../app/stylesheets/partials/nodes/_nav.sass */
nav {
  float: right;
  padding: 3px 17px 15px 350px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_forms.sass */
form {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 13px;
  line-height: 20px;
}
/* line 5, ../../app/stylesheets/partials/nodes/_forms.sass */
form li {
  display: block;
  float: left;
  width: 100%;
}
/* line 10, ../../app/stylesheets/partials/nodes/_forms.sass */
form input[type='text'], form textarea, form select {
  border: 1px solid #a1c175;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: #a1c175;
  background-color: white;
  padding: 5px;
  width: 310px;
}
/* line 19, ../../app/stylesheets/partials/nodes/_forms.sass */
form select {
  width: 322px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white url("/images/select-marker.png") no-repeat 98% center;
}
/* line 25, ../../app/stylesheets/partials/nodes/_forms.sass */
form option {
  -webkit-appearance: none;
}
/* line 31, ../../app/stylesheets/partials/nodes/_forms.sass */
form input[type='submit'] {
  position: relative;
  left: 30%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d3e4c1;
  background-color: #94b369;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a1c175), color-stop(0.5, #94b369), color-stop(1, #87a55e));
  background-image: -moz-linear-gradient(center bottom, #87a55e 0%, #94b369 50%, #a1c175 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#87a55e', startColorstr='#a1c175', gradientType='0');
  color: white;
  padding: 10px;
}
/* line 42, ../../app/stylesheets/partials/nodes/_forms.sass */
form label {
  font-weight: bold;
  color: #333333;
  display: block;
  float: left;
  width: 30%;
}
/* line 49, ../../app/stylesheets/partials/nodes/_forms.sass */
form legend {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 16px;
  line-height: 20px;
  position: relative;
  bottom: 2px;
  font-weight: bold;
  color: #333333;
}
/* line 54, ../../app/stylesheets/partials/nodes/_forms.sass */
form fieldset {
  margin-bottom: 20px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs {
  margin: 20px 20px 0px;
  width: 100%;
}
/* line 8, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs a, #breadcrumbs span {
  color: white;
  padding: 10px;
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 13px;
  line-height: 20px;
  display: block;
  float: left;
}
/* line 15, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs a {
  background-color: #a1c175;
  background-color: #97c953;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a4d561), color-stop(0.5, #97c953), color-stop(1, #8bbe45));
  background-image: -moz-linear-gradient(center bottom, #8bbe45 0%, #97c953 50%, #a4d561 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#8bbe45', startColorstr='#a4d561', gradientType='0');
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 20, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs span {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f5821c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff8f2c), color-stop(0.5, #f5821c), color-stop(1, #ec750c));
  background-image: -moz-linear-gradient(center bottom, #ec750c 0%, #f5821c 50%, #ff8f2c 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#ec750c', startColorstr='#ff8f2c', gradientType='0');
  background-color: #f29039;
  border-left: 1px solid white;
}

/* line 20, ../../app/stylesheets/nodes.sass */
body, html {
  background-color: white;
}

/* line 25, ../../app/stylesheets/nodes.sass */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
