@charset "UTF-8";
/* line 1, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
a, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, p, pre, span, th, td {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* line 6, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
fieldset, img {
  border: 0;
}

/* line 13, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
address, em, th {
  font-style: normal;
  font-weight: normal;
}

/* line 17, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
li {
  list-style: none;
}

/* line 20, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
th {
  font-style: normal;
  text-align: left;
}

/* line 24, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

/* line 27, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 33, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
.msie input, .msie textarea, .msie select {
  font-size: 100%;
}

/* line 36, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
header, section, article, aside, footer, time {
  display: block;
}

/* line 4, ../../app/stylesheets/basics/_typography.sass */
html, body {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
}

/* line 7, ../../app/stylesheets/basics/_typography.sass */
p,
article li,
dt, dd,
h4, h5, h6,
address,
footer {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 20px;
}
/* line 15, ../../app/stylesheets/basics/_typography.sass */
p.large,
article li.large,
dt.large, dd.large,
h4.large, h5.large, h6.large,
address.large,
footer.large {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  position: relative;
  bottom: 2px;
}

/* line 18, ../../app/stylesheets/basics/_typography.sass */
h2 {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  position: relative;
  bottom: 2px;
}
/* line 20, ../../app/stylesheets/basics/_typography.sass */
h2.large {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 20px;
}

/* line 23, ../../app/stylesheets/basics/_typography.sass */
h1 {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 37px;
  line-height: 40px;
  position: relative;
}
/* line 3, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_browser_support.sass */
.presto h1 {
  bottom: 1px;
}

/* line 16, ../../app/stylesheets/basics/_grid_and_layout.sass */
body {
  background: white;
}

/* line 3, ../../app/stylesheets/basics/_links.sass */
a {
  color: #8db458;
}
/* line 6, ../../app/stylesheets/basics/_links.sass */
a:hover {
  color: #739643;
}
/* line 9, ../../app/stylesheets/basics/_links.sass */
a:visited {
  color: #587333;
}
/* line 12, ../../app/stylesheets/basics/_links.sass */
a:visited:hover {
  color: #3d4f24;
}
/* line 15, ../../app/stylesheets/basics/_links.sass */
a.right {
  float: right;
}
/* line 18, ../../app/stylesheets/basics/_links.sass */
a.button {
  background-color: #a1c175;
  border: 1px solid #95b963;
  border-bottom-color: #7ca148;
  border-top-color: #a1c175;
  color: #536c31;
  cursor: pointer;
  font-weight: bold;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", "Swiss 721 Bold", "Helvetica", "Arial", "sans-serif";
  font-size: 13px;
  height: 28px;
  margin: 0;
  padding: 5px 9px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #a1c175;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bad594), color-stop(0.5, #a1c175), color-stop(1, #8ab74c));
  background-image: -moz-linear-gradient(center bottom, #8ab74c 0%, #a1c175 50%, #bad594 100%);
  background-image: linear-gradient(center bottom, #8ab74c 0%, #a1c175 50%, #bad594 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#8ab74c', startColorstr='#bad594', gradientType='0');
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
}
/* line 26, ../../app/stylesheets/basics/_buttons.sass */
a.button:hover {
  background-color: #95b963;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aecd82), color-stop(0.5, #95b963), color-stop(1, #7da743));
  background-image: -moz-linear-gradient(center bottom, #7da743 0%, #95b963 50%, #aecd82 100%);
  background-image: linear-gradient(center bottom, #7da743 0%, #95b963 50%, #aecd82 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#7da743', startColorstr='#aecd82', gradientType='0');
  border-color: #95b963 #89b152 #6e9040;
}
/* line 29, ../../app/stylesheets/basics/_buttons.sass */
a.button:active {
  background-color: #7ca148;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #96bf5e), color-stop(0.5, #7ca148), color-stop(1, #618234));
  background-image: -moz-linear-gradient(center bottom, #618234 0%, #7ca148 50%, #96bf5e 100%);
  background-image: linear-gradient(center bottom, #618234 0%, #7ca148 50%, #96bf5e 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#618234', startColorstr='#96bf5e', gradientType='0');
  border-color: #89b152 #617e39 #465b29;
}

/* line 2, ../../app/stylesheets/basics/_lists.sass */
ul.bullets li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 20px;
}

/* line 10, ../../app/stylesheets/basics/_icons.sass */
.print {
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 20px;
  background-image: url(/images/icons.png);
  background-position: 0 -80px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: baseline;
}
/* line 7, ../../vendor/bundle/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.print {
  *display: inline;
}

/* line 14, ../../app/stylesheets/basics/_icons.sass */
.mail {
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 20px;
  background-image: url(/images/icons.png);
  background-position: 0 -100px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: baseline;
}
/* line 7, ../../vendor/bundle/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.mail {
  *display: inline;
}

/* line 18, ../../app/stylesheets/basics/_icons.sass */
.link {
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 20px;
  background-image: url(/images/icons.png);
  background-position: 0 -120px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: baseline;
}
/* line 7, ../../vendor/bundle/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.link {
  *display: inline;
}

/* line 23, ../../app/stylesheets/basics/_icons.sass */
.refresh {
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 20px;
  background-image: url(/images/icons.png);
  background-position: 0 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: baseline;
  background-image: url(/images/icons/arrow-circle-double.png);
}
/* line 7, ../../vendor/bundle/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.refresh {
  *display: inline;
}

/* line 2, ../../app/stylesheets/basics/_open_layers.sass */
#map .olMapViewport {
  width: 100% !important;
  height: 99% !important;
  position: absolute !important;
  top: 0px;
  background: #fff7d9;
}
/* line 9, ../../app/stylesheets/basics/_open_layers.sass */
#map a {
  font-weight: bold;
}
/* line 12, ../../app/stylesheets/basics/_open_layers.sass */
#map .olControlPanZoomBar {
  float: right;
  left: inherit !important;
  right: 45px !important;
  top: 45px !important;
}
/* line 20, ../../app/stylesheets/basics/_open_layers.sass */
#map .olControlAttribution, #map .olControlPermalink {
  color: #444444;
  display: block;
  float: right;
  font-size: 11px;
  font-style: normal;
  padding: 5px 20px 1px 0;
  z-index: 1000;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
}
/* line 30, ../../app/stylesheets/basics/_open_layers.sass */
#map .olControlAttribution a, #map .olControlPermalink a {
  color: black;
  font-weight: normal;
  text-decoration: underline;
}
/* line 35, ../../app/stylesheets/basics/_open_layers.sass */
#map .olControlAttribution {
  position: relative !important;
}
/* line 39, ../../app/stylesheets/basics/_open_layers.sass */
#map .olControlPermalink {
  position: absolute !important;
  bottom: 40px;
}

/* line 1, ../../app/stylesheets/basics/_header.sass */
#header {
  height: 100px;
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 20px;
  display: block;
  background-color: white;
  margin: 10px;
  margin-top: 5px;
}
/* line 9, ../../app/stylesheets/basics/_header.sass */
#header .links {
  position: absolute;
  right: 10px;
  height: 20px;
}
/* line 13, ../../app/stylesheets/basics/_header.sass */
#header .links a {
  border-right: 1px #cccccc solid;
  float: left;
  line-height: 16px;
  margin: 3px 0;
  padding: 0 7px;
}
/* line 19, ../../app/stylesheets/basics/_header.sass */
#header .links select {
  background: transparent;
  border: 0;
  margin-left: 7px;
  padding: 0;
  vertical-align: -2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 26, ../../app/stylesheets/basics/_header.sass */
.gecko #header .links select {
  margin-left: 3px;
}
/* line 28, ../../app/stylesheets/basics/_header.sass */
.webkit #header .links select {
  background: transparent url("/images/select-marker.png") 98% 0 no-repeat;
  padding-right: 20px;
  -webkit-appearance: none;
}
/* line 33, ../../app/stylesheets/basics/_header.sass */
#header a {
  text-decoration: underline;
}
/* line 36, ../../app/stylesheets/basics/_header.sass */
#header #logo {
  float: left;
  height: 84px;
  width: 300px;
  margin: 0px;
}
/* line 42, ../../app/stylesheets/basics/_header.sass */
#header #search {
  width: 52%;
}
/* line 46, ../../app/stylesheets/basics/_header.sass */
#header #searchbar {
  position: relative;
  top: 28px;
  height: 33px;
  clear: right;
  margin-left: 360px;
}
/* line 54, ../../app/stylesheets/basics/_header.sass */
#header #searchbar label {
  color: #89b152;
  float: left;
  padding: 3px 6px 3px 20px;
  width: auto;
}
/* line 59, ../../app/stylesheets/basics/_header.sass */
#header #searchbar input {
  border-right: 0;
  color: #89b152;
  float: left;
  height: 21px;
  margin: 0;
  outline: none;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 68, ../../app/stylesheets/basics/_header.sass */
#header #searchbar input:focus {
  background: #f5f8f0;
}
/* line 71, ../../app/stylesheets/basics/_header.sass */
#header #searchbar button {
  float: left;
  background-color: #a1c175;
  border: 1px solid #95b963;
  border-bottom-color: #7ca148;
  border-top-color: #a1c175;
  color: #536c31;
  cursor: pointer;
  font-weight: bold;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", "Swiss 721 Bold", "Helvetica", "Arial", "sans-serif";
  font-size: 13px;
  height: 33px;
  margin: 0;
  padding: 5px 9px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #a1c175;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bad594), color-stop(0.5, #a1c175), color-stop(1, #8ab74c));
  background-image: -moz-linear-gradient(center bottom, #8ab74c 0%, #a1c175 50%, #bad594 100%);
  background-image: linear-gradient(center bottom, #8ab74c 0%, #a1c175 50%, #bad594 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#8ab74c', startColorstr='#bad594', gradientType='0');
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 33px;
}
/* line 26, ../../app/stylesheets/basics/_buttons.sass */
#header #searchbar button:hover {
  background-color: #95b963;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aecd82), color-stop(0.5, #95b963), color-stop(1, #7da743));
  background-image: -moz-linear-gradient(center bottom, #7da743 0%, #95b963 50%, #aecd82 100%);
  background-image: linear-gradient(center bottom, #7da743 0%, #95b963 50%, #aecd82 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#7da743', startColorstr='#aecd82', gradientType='0');
  border-color: #95b963 #89b152 #6e9040;
}
/* line 29, ../../app/stylesheets/basics/_buttons.sass */
#header #searchbar button:active {
  background-color: #7ca148;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #96bf5e), color-stop(0.5, #7ca148), color-stop(1, #618234));
  background-image: -moz-linear-gradient(center bottom, #618234 0%, #7ca148 50%, #96bf5e 100%);
  background-image: linear-gradient(center bottom, #618234 0%, #7ca148 50%, #96bf5e 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#618234', startColorstr='#96bf5e', gradientType='0');
  border-color: #89b152 #617e39 #465b29;
}
/* line 78, ../../app/stylesheets/basics/_header.sass */
#header #searchbar .or {
  color: #c26a0f;
  float: left;
  padding: 5px 10px;
}
/* line 82, ../../app/stylesheets/basics/_header.sass */
#header #searchbar .add-place {
  float: left;
  background-color: #f19d46;
  border: 1px solid #ef902e;
  border-bottom-color: #da7710;
  border-top-color: #f19d46;
  color: #93500b;
  cursor: pointer;
  font-weight: bold;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", "Swiss 721 Bold", "Helvetica", "Arial", "sans-serif";
  font-size: 13px;
  height: 33px;
  margin: 0;
  padding: 5px 9px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #f19d46;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8b672), color-stop(0.5, #f19d46), color-stop(1, #f48410));
  background-image: -moz-linear-gradient(center bottom, #f48410 0%, #f19d46 50%, #f8b672 100%);
  background-image: linear-gradient(center bottom, #f48410 0%, #f19d46 50%, #f8b672 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#f48410', startColorstr='#f8b672', gradientType='0');
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
  height: 21px;
  line-height: 21px;
  text-decoration: none;
}
/* line 26, ../../app/stylesheets/basics/_buttons.sass */
#header #searchbar .add-place:hover {
  background-color: #ef902e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7aa59), color-stop(0.5, #ef902e), color-stop(1, #e0770b));
  background-image: -moz-linear-gradient(center bottom, #e0770b 0%, #ef902e 50%, #f7aa59 100%);
  background-image: linear-gradient(center bottom, #e0770b 0%, #ef902e 50%, #f7aa59 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#e0770b', startColorstr='#f7aa59', gradientType='0');
  border-color: #ef902e #ed8417 #c26a0f;
}
/* line 29, ../../app/stylesheets/basics/_buttons.sass */
#header #searchbar .add-place:active {
  background-color: #da7710;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f59129), color-stop(0.5, #da7710), color-stop(1, #af5d08));
  background-image: -moz-linear-gradient(center bottom, #af5d08 0%, #da7710 50%, #f59129 100%);
  background-image: linear-gradient(center bottom, #af5d08 0%, #da7710 50%, #f59129 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#af5d08', startColorstr='#f59129', gradientType='0');
  border-color: #ed8417 #ab5d0d #7b4309;
}
/* line 88, ../../app/stylesheets/basics/_header.sass */
#header #searchbar .or-add-place {
  float: left;
}

/* line 91, ../../app/stylesheets/basics/_header.sass */
.ac_results {
  z-index: 9000;
}
/* line 93, ../../app/stylesheets/basics/_header.sass */
.ac_results ul {
  background: white;
  border: 1px solid #cccccc;
  padding: 10px;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 8px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 8px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 8px 0;
  cursor: pointer;
}
/* line 103, ../../app/stylesheets/basics/_header.sass */
.ac_results ul li.ac_over {
  background-color: rgba(204, 204, 204, 0.9);
}

/* line 1, ../../app/stylesheets/basics/_nav.sass */
nav {
  float: right;
}

/* line 6, ../../app/stylesheets/basics/_forms.sass */
form {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 20px;
}
/* line 9, ../../app/stylesheets/basics/_forms.sass */
form.after_signup_edit {
  background: url("/images/iphone.jpg") 700px bottom no-repeat;
}
/* line 12, ../../app/stylesheets/basics/_forms.sass */
form li {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 6px;
}
/* line 17, ../../app/stylesheets/basics/_forms.sass */
form li.hidden {
  margin: 0px;
  padding: 0px;
}
/* line 21, ../../app/stylesheets/basics/_forms.sass */
form li.boolean {
  margin-left: 160px;
}
/* line 24, ../../app/stylesheets/basics/_forms.sass */
form li.boolean.small {
  margin-left: 130px;
}
/* line 27, ../../app/stylesheets/basics/_forms.sass */
form li.boolean.small label {
  width: 520px;
}
/* line 31, ../../app/stylesheets/basics/_forms.sass */
form li.boolean label {
  width: 100%;
  text-align: left;
}
/* line 35, ../../app/stylesheets/basics/_forms.sass */
form li.boolean input {
  width: 15px;
}
/* line 39, ../../app/stylesheets/basics/_forms.sass */
form input[type='text'], form input[type='search'], form input[type='password'], form [type='tel'], form [type='email'], form textarea, form select {
  border: 1px solid #a1c175;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: #a1c175;
  background-color: white;
  padding: 5px;
  width: 288px;
}
/* line 47, ../../app/stylesheets/basics/_forms.sass */
form input[type='text'].small, form input[type='search'].small, form input[type='password'].small, form [type='tel'].small, form [type='email'].small, form textarea.small, form select.small {
  width: 180px;
}
/* line 50, ../../app/stylesheets/basics/_forms.sass */
form input[type='text'].large, form input[type='search'].large, form input[type='password'].large, form [type='tel'].large, form [type='email'].large, form textarea.large, form select.large {
  width: 502px;
}
/* line 53, ../../app/stylesheets/basics/_forms.sass */
form input[readonly] {
  background-color: #f9f9f9;
  color: #8d8d8e;
}
/* line 57, ../../app/stylesheets/basics/_forms.sass */
form select {
  width: 300px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white url("/images/select-marker.png") no-repeat 98% center;
}
/* line 63, ../../app/stylesheets/basics/_forms.sass */
form #node-wheelchair {
  height: 2em;
}
/* line 65, ../../app/stylesheets/basics/_forms.sass */
form #node-wheelchair option {
  height: 20px;
  margin-bottom: 3px;
  padding: 3px 0px 3px 28px;
}
/* line 70, ../../app/stylesheets/basics/_forms.sass */
form #node-wheelchair option.wheelchairstatus_yes {
  color: #86af4d;
}
/* line 73, ../../app/stylesheets/basics/_forms.sass */
form #node-wheelchair option.wheelchairstatus_limited {
  color: #f19d46;
}
/* line 76, ../../app/stylesheets/basics/_forms.sass */
form #node-wheelchair option.wheelchairstatus_no {
  color: #d6382f;
}
/* line 79, ../../app/stylesheets/basics/_forms.sass */
form #node-wheelchair option.wheelchairstatus_unknown {
  color: #8d8d8e;
}
/* line 82, ../../app/stylesheets/basics/_forms.sass */
form optgroup {
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 87, ../../app/stylesheets/basics/_forms.sass */
form option {
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 91, ../../app/stylesheets/basics/_forms.sass */
form input[type='submit'] {
  position: relative;
  left: 140px;
  background-color: #a1c175;
  border: 1px solid #95b963;
  border-bottom-color: #7ca148;
  border-top-color: #a1c175;
  color: #536c31;
  cursor: pointer;
  font-weight: bold;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", "Swiss 721 Bold", "Helvetica", "Arial", "sans-serif";
  font-size: 13px;
  height: 28px;
  margin: 0;
  padding: 5px 9px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #a1c175;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bad594), color-stop(0.5, #a1c175), color-stop(1, #8ab74c));
  background-image: -moz-linear-gradient(center bottom, #8ab74c 0%, #a1c175 50%, #bad594 100%);
  background-image: linear-gradient(center bottom, #8ab74c 0%, #a1c175 50%, #bad594 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#8ab74c', startColorstr='#bad594', gradientType='0');
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
}
/* line 26, ../../app/stylesheets/basics/_buttons.sass */
form input[type='submit']:hover {
  background-color: #95b963;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aecd82), color-stop(0.5, #95b963), color-stop(1, #7da743));
  background-image: -moz-linear-gradient(center bottom, #7da743 0%, #95b963 50%, #aecd82 100%);
  background-image: linear-gradient(center bottom, #7da743 0%, #95b963 50%, #aecd82 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#7da743', startColorstr='#aecd82', gradientType='0');
  border-color: #95b963 #89b152 #6e9040;
}
/* line 29, ../../app/stylesheets/basics/_buttons.sass */
form input[type='submit']:active {
  background-color: #7ca148;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #96bf5e), color-stop(0.5, #7ca148), color-stop(1, #618234));
  background-image: -moz-linear-gradient(center bottom, #618234 0%, #7ca148 50%, #96bf5e 100%);
  background-image: linear-gradient(center bottom, #618234 0%, #7ca148 50%, #96bf5e 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#618234', startColorstr='#96bf5e', gradientType='0');
  border-color: #89b152 #617e39 #465b29;
}
/* line 96, ../../app/stylesheets/basics/_forms.sass */
form input[type='submit'].small {
  left: 110px;
}
/* line 99, ../../app/stylesheets/basics/_forms.sass */
form label {
  color: #4d4d4d;
  display: block;
  float: left;
  line-height: 20px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: right;
  width: 150px;
}
/* line 109, ../../app/stylesheets/basics/_forms.sass */
form label.small {
  width: 120px;
}
/* line 112, ../../app/stylesheets/basics/_forms.sass */
form legend {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 20px;
  top: 15px;
  bottom: none;
}
/* line 121, ../../app/stylesheets/basics/_forms.sass */
form legend span.addition {
  color: #aaaaaa;
}
/* line 124, ../../app/stylesheets/basics/_forms.sass */
form fieldset {
  padding: 30px 0px 10px;
  overflow: hidden;
}
/* line 128, ../../app/stylesheets/basics/_forms.sass */
form fieldset.buttons {
  padding: 10px 20px 10px 20px;
}
/* line 131, ../../app/stylesheets/basics/_forms.sass */
form .form-info {
  padding-bottom: 10px;
}
/* line 135, ../../app/stylesheets/basics/_forms.sass */
form li[class*='error'] label {
  color: #f19d46;
}
/* line 138, ../../app/stylesheets/basics/_forms.sass */
form li[class*='error'] input[type='text'], form li[class*='error'] input[type='password'], form li[class*='error'] input[type='search'], form li[class*='error'] [type='tel'], form li[class*='error'] textarea, form li[class*='error'] select {
  border: 1px solid #f19d46;
}
/* line 141, ../../app/stylesheets/basics/_forms.sass */
form p.inline-errors, form p.inline-hints {
  position: relative;
  left: 160px;
  color: #aaaaaa;
}
/* line 146, ../../app/stylesheets/basics/_forms.sass */
form p.inline-errors.small, form p.inline-hints.small {
  left: 130px;
}
/* line 149, ../../app/stylesheets/basics/_forms.sass */
form p.inline-errors {
  color: #f19d46;
}

/* line 1, ../../app/stylesheets/basics/_main.sass */
body, html {
  background: white;
  outline: 0;
}

/* line 8, ../../app/stylesheets/basics/_main.sass */
h1.marge, h2.marge, h3.marge, h4.marge, h5.marge, h6.marge, p.marge {
  margin-bottom: 10px;
}

/* line 11, ../../app/stylesheets/basics/_main.sass */
hr {
  background-color: #e6e6e6;
  color: #e6e6e6;
  border: 0;
  height: 1px;
}

/* line 17, ../../app/stylesheets/basics/_main.sass */
.help {
  cursor: help;
}

/* line 21, ../../app/stylesheets/basics/_main.sass */
#main {
  background: white;
  border: 1px #e6e6e6 solid;
  margin: 0 auto 50px;
  padding: 19px;
  width: 980px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  *zoom: 1;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px 0;
}

/* line 31, ../../app/stylesheets/basics/_main.sass */
#content {
  margin: 20px auto 60px;
  padding: 19px;
  width: 900px;
  overflow: hidden;
  *zoom: 1;
}

/* line 37, ../../app/stylesheets/basics/_main.sass */
.promo_box {
  width: 55%;
  float: left;
}
/* line 41, ../../app/stylesheets/basics/_main.sass */
.promo_box h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
/* line 45, ../../app/stylesheets/basics/_main.sass */
.promo_box p {
  margin-bottom: 15px;
  font-size: 12px;
  padding-left: 80px;
}
/* line 50, ../../app/stylesheets/basics/_main.sass */
.promo_box p.osm {
  background: url("/images/openstreetmap_logo_small.jpg") no-repeat left center;
}
/* line 53, ../../app/stylesheets/basics/_main.sass */
.promo_box p.wheelmap {
  background: url("/images/markerhead.jpg") no-repeat 4px center;
}
/* line 56, ../../app/stylesheets/basics/_main.sass */
.promo_box em {
  font-weight: bold;
}

/* line 59, ../../app/stylesheets/basics/_main.sass */
.login_box {
  width: 335px;
  float: right;
  border: 1px solid #dfdfdf;
  background-color: #efefef;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  position: relative;
}
/* line 67, ../../app/stylesheets/basics/_main.sass */
.login_box p {
  text-align: center;
  margin-bottom: 5px;
}

/* line 71, ../../app/stylesheets/basics/_main.sass */
.image_block {
  margin: 20px auto;
  position: relative;
  width: 200px;
  height: 210px;
}
/* line 77, ../../app/stylesheets/basics/_main.sass */
.image_block a {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
}
/* line 83, ../../app/stylesheets/basics/_main.sass */
.image_block a.button {
  display: inline-block;
  text-decoration: none;
  margin: 0px auto;
  height: 18px;
  top: 180px;
  left: -11px;
}

/* line 96, ../../app/stylesheets/basics/_main.sass */
.odd {
  background-color: #eeeeee;
}

/* line 99, ../../app/stylesheets/basics/_main.sass */
.hidden {
  display: none;
}

/* line 1, ../../app/stylesheets/basics/_footer.sass */
#footer {
  background: white;
  height: 40px;
  width: 100%;
  border-top: 1px solid #a5c37a;
  color: #ca1e2e;
  line-height: 15px;
  font-size: 12px;
  z-index: 4000;
}
/* line 11, ../../app/stylesheets/basics/_footer.sass */
#footer.fixed {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
/* line 15, ../../app/stylesheets/basics/_footer.sass */
#footer a {
  color: #ca1e2e;
  text-decoration: underline;
}
/* line 19, ../../app/stylesheets/basics/_footer.sass */
#footer a.icon {
  text-decoration: none;
}
/* line 22, ../../app/stylesheets/basics/_footer.sass */
#footer .social {
  position: absolute;
  text-align: left;
  left: 10px;
  margin: 10px;
  z-index: 10;
}
/* line 29, ../../app/stylesheets/basics/_footer.sass */
#footer .supporter {
  position: absolute;
  text-align: right;
  right: 10px;
  padding: 12px 2px;
  height: 24px;
  z-index: 20;
  background: white;
}
/* line 38, ../../app/stylesheets/basics/_footer.sass */
#footer img {
  vertical-align: middle;
  margin-top: -3px;
}
/* line 42, ../../app/stylesheets/basics/_footer.sass */
#footer .counter {
  float: left;
  margin-right: 10px;
  margin-top: 0px;
}
/* line 47, ../../app/stylesheets/basics/_footer.sass */
#footer .counter td {
  padding: 2px 2px;
  color: gray;
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  line-height: 18px;
  height: 18px;
}
/* line 54, ../../app/stylesheets/basics/_footer.sass */
#footer .counter span {
  font-size: 13px;
  border: 1px solid #cccccc;
  border-left: 0px;
  padding: 1px 4px;
  margin-left: 5px;
  background: url("/images/bubble-left.png") no-repeat -5px center;
}

/* line 1, ../../app/stylesheets/basics/_photos.sass */
#thumbs {
  margin-top: 20px;
  width: 472px;
}

/* line 5, ../../app/stylesheets/basics/_photos.sass */
.thumb img {
  float: left;
  width: 100px;
  height: 100px;
  padding: 3px;
  background-color: white;
  border: 1px solid #e6e6e6;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 10px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 5px;
}

/* line 17, ../../app/stylesheets/basics/_photos.sass */
#lightbox-nav {
  z-index: 9999;
}

/* line 1, ../../app/stylesheets/partials/nodes/_headlines.sass */
span.addition {
  font-size: 14px;
  font-weight: bold;
}

/* line 1, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box {
  width: 550px;
  color: #333333;
  float: left;
}
/* line 8, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.yes, .box label.no, .box label.limited, .box label.unknown {
  vertical-align: middle;
  line-height: 34px;
}
/* line 13, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.yes {
  color: #86af4d;
}
/* line 16, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.limited {
  color: #f19d46;
}
/* line 19, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.no {
  color: #d6382f;
}
/* line 22, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.unknown {
  color: #8d8d8e;
}

/* line 1, ../../app/stylesheets/partials/nodes/_lists.sass */
.status {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 4px;
  background-color: #8d8d8e;
  margin: 3px;
  float: left;
}
/* line 12, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.yes {
  background: #86af4d;
}
/* line 15, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.limited {
  background: #f19d46;
}
/* line 18, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.no {
  background: #d6382f;
}
/* line 21, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.unknown {
  background: #8d8d8e;
}

/* line 24, ../../app/stylesheets/partials/nodes/_lists.sass */
dl {
  background-color: #f9faf9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #f9faf9), color-stop(1, #f4f5f4));
  background-image: -moz-linear-gradient(center bottom, #f4f5f4 0%, #f9faf9 50%, white 100%);
  background-image: linear-gradient(center bottom, #f4f5f4 0%, #f9faf9 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#f4f5f4', startColorstr='white', gradientType='0');
  display: block;
  padding: 30px 20px;
}

/* line 29, ../../app/stylesheets/partials/nodes/_lists.sass */
dt {
  display: block;
  float: left;
  width: 250px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 35, ../../app/stylesheets/partials/nodes/_lists.sass */
dd {
  display: block;
  float: left;
  width: 230px;
  margin-bottom: 10px;
  padding-left: 20px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_map.sass */
#map_wrapper {
  width: 500px;
  height: 430px;
  float: right;
  margin-bottom: 1em;
  z-index: 1000;
}
/* line 7, ../../app/stylesheets/partials/nodes/_map.sass */
#map_wrapper #minimap {
  height: 430px;
  width: 500px;
  background-color: #fff7d9;
  border: 1px solid #cccccc;
}
/* line 12, ../../app/stylesheets/partials/nodes/_map.sass */
#map_wrapper #minimap .olControlScaleLine {
  left: 10px;
  bottom: 15px;
}
/* line 16, ../../app/stylesheets/partials/nodes/_map.sass */
#map_wrapper #minimap .olControlAttribution {
  bottom: auto;
  top: 10px;
}
/* line 20, ../../app/stylesheets/partials/nodes/_map.sass */
#map_wrapper #minimap .olControlPermalink {
  bottom: 1em;
}
/* line 22, ../../app/stylesheets/partials/nodes/_map.sass */
#map_wrapper #minimap .olControlPermalink a {
  text-decoration: underline;
}
/* line 26, ../../app/stylesheets/partials/nodes/_map.sass */
#map_wrapper a.magnify {
  padding-right: 20px;
}
/* line 29, ../../app/stylesheets/partials/nodes/_map.sass */
#map_wrapper a.hide {
  display: none;
}

<<<<<<< HEAD
/* line 32, ../../app/stylesheets/partials/nodes/_map.sass */
=======
/* line 19, ../../app/stylesheets/partials/nodes/_map.sass */
>>>>>>> Use uploadify and lightbox to upload an slideshow.
#minimap.create-node {
  cursor: crosshair;
}

/* line 1, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs {
  margin: 0 0 20px;
  height: 34px;
  border: 0px solid white;
}
/* line 11, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs a, #breadcrumbs span {
  color: white;
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 20px;
  display: block;
  float: left;
  letter-spacing: 0.1em;
  background: url("/images/background-breadcrumbs.png") scroll left top;
  padding-left: 30px;
  line-height: 34px;
  height: 34px;
  vertical-align: center;
}
/* line 23, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs a:first-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 26, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs a {
  background-position: 0 0;
}
/* line 29, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs a.last, #breadcrumbs span {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 10px;
}
/* line 33, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs span {
  background-position: 0 -34px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties,
table#accessibility,
table#provider {
  display: block;
  width: 48%;
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 20px;
}
/* line 8, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties th,
table#accessibility th,
table#provider th {
  width: 250px;
  font-weight: bold;
  vertical-align: top;
}
/* line 12, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td,
table#accessibility td,
table#provider td {
  width: 250px;
  color: #8d8d8e;
  padding-left: 20px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_flash.sass */
.flash {
  margin-bottom: 20px;
  padding: 10px;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  top: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
/* line 14, ../../app/stylesheets/partials/nodes/_flash.sass */
.flash#notice {
  background-color: #a4d561;
  color: #536c31;
  border: 1px solid #95b963;
  border-top-color: #7ca148;
  border-bottom-color: #c5d9aa;
}
/* line 22, ../../app/stylesheets/partials/nodes/_flash.sass */
.flash#alert {
  background-color: #ff9d38;
  color: #93500b;
  border: 1px solid #ef902e;
  border-top-color: #da7710;
  border-bottom-color: #f6c38d;
}
/* line 29, ../../app/stylesheets/partials/nodes/_flash.sass */
.flash a {
  position: absolute;
  right: 5px;
  top: 0px;
  color: black;
}

/* line 30, ../../app/stylesheets/node.sass */
body, html {
  font-family: HelveticaNeue, Helvetica, "Swiss 721", Arial, sans-serif;
}

/* line 34, ../../app/stylesheets/node.sass */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 42, ../../app/stylesheets/node.sass */
.node-footer {
  font-size: xx-small;
}
