/* line 1, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
a, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, p, pre, span, th, td {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* line 6, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
fieldset, img {
  border: 0;
}

/* line 13, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
address, em, th {
  font-style: normal;
  font-weight: normal;
}

/* line 17, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
li {
  list-style: none;
}

/* line 20, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
th {
  font-style: normal;
  text-align: left;
}

/* line 24, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

/* line 27, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 33, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
.msie input, .msie textarea, .msie select {
  font-size: 100%;
}

/* line 36, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
header, section, article, aside, footer, time {
  display: block;
}

/* line 4, ../../app/stylesheets/basics/_typography.sass */
html, body {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
}

/* line 7, ../../app/stylesheets/basics/_typography.sass */
p,
article li,
dt, dd,
h4, h5, h6,
address,
footer {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 13px;
  line-height: 20px;
}

/* line 15, ../../app/stylesheets/basics/_typography.sass */
h2 {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 16px;
  line-height: 20px;
  position: relative;
  bottom: 2px;
}

/* line 18, ../../app/stylesheets/basics/_typography.sass */
h1 {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 37px;
  line-height: 40px;
  position: relative;
}
/* line 3, ../../vendor/gems/redgreengrid-0.3.2/sass/redgreengrid/_browser_support.sass */
.presto h1 {
  bottom: 1px;
}

/* line 16, ../../app/stylesheets/basics/_grid_and_layout.sass */
body {
  background: white;
}

/* line 3, ../../app/stylesheets/basics/_links.sass */
a {
  color: #8db458;
}
/* line 6, ../../app/stylesheets/basics/_links.sass */
a:hover {
  color: #739643;
}
/* line 9, ../../app/stylesheets/basics/_links.sass */
a:visited {
  color: #587333;
}
/* line 12, ../../app/stylesheets/basics/_links.sass */
a:visited:hover {
  color: #3d4f24;
}
/* line 15, ../../app/stylesheets/basics/_links.sass */
a.button {
  height: 34px;
  line-height: 34px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d3e4c1;
  background: #87a55e url("/images/button-orange.png") repeat-x;
  background-color: #e99034;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f19d46), color-stop(0.5, #e99034), color-stop(1, #e18423));
  background-image: -moz-linear-gradient(center bottom, #e18423 0%, #e99034 50%, #f19d46 100%);
  background-image: linear-gradient(center bottom, #e18423 0%, #e99034 50%, #f19d46 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#e18423', startColorstr='#f19d46', gradientType='0');
  color: white;
  padding: 9px;
}

/* line 1, ../../app/stylesheets/basics/_sozialhelden.sass */
#sozialhelden {
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 4000;
}
/* line 7, ../../app/stylesheets/basics/_sozialhelden.sass */
#sozialhelden img {
  vertical-align: bottom;
}

/* line 10, ../../app/stylesheets/basics/_icons.sass */
.print {
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 20px;
  background-image: url(/images/icons.png);
  background-position: 0 -80px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  vertical-align: baseline;
}

/* line 14, ../../app/stylesheets/basics/_icons.sass */
.mail {
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 20px;
  background-image: url(/images/icons.png);
  background-position: 0 -100px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  vertical-align: baseline;
}

/* line 18, ../../app/stylesheets/basics/_icons.sass */
.link {
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 20px;
  background-image: url(/images/icons.png);
  background-position: 0 -120px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  vertical-align: baseline;
}

/* line 23, ../../app/stylesheets/basics/_icons.sass */
.refresh {
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 20px;
  background-image: url(/images/icons.png);
  background-position: 0 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  vertical-align: baseline;
  background-image: url(/images/icons/arrow-circle-double.png);
}

/* line 33, ../../app/stylesheets/basics/_icons.sass */
.arts_centre {
  background-image: url('/images/icons/palette.png?1258196012') !important;
  border: 0;
}

/* line 36, ../../app/stylesheets/basics/_icons.sass */
.atm {
  background-image: url('/images/icons/credit-cards.png?1241977912') !important;
  border: 0;
}

/* line 45, ../../app/stylesheets/basics/_icons.sass */
.bank {
  background-image: url('/images/icons/money-coin.png?1246445124') !important;
  border: 0;
}

/* line 48, ../../app/stylesheets/basics/_icons.sass */
.bar {
  background-image: url('/images/icons/glass.png?1245232518') !important;
  border: 0;
}

/* line 60, ../../app/stylesheets/basics/_icons.sass */
.biergarten {
  background-image: url('/images/icons/weather.png?1255941558') !important;
  border: 0;
}

/* line 66, ../../app/stylesheets/basics/_icons.sass */
.bureau_de_change {
  background-image: url('/images/icons/bureau-de-change.png?1268871546') !important;
  border: 0;
}

/* line 69, ../../app/stylesheets/basics/_icons.sass */
.cafe {
  background-image: url('/images/icons/cake.png?1241977884') !important;
  border: 0;
}

/* line 72, ../../app/stylesheets/basics/_icons.sass */
.car_rental {
  background-image: url('/images/icons/car-rental.png?1268870402') !important;
  border: 0;
}

/* line 75, ../../app/stylesheets/basics/_icons.sass */
.car_sharing {
  background-image: url('/images/icons/car-sharing.png?1268870199') !important;
  border: 0;
}

/* line 78, ../../app/stylesheets/basics/_icons.sass */
.cinema {
  background-image: url('/images/icons/film.png?1241977942') !important;
  border: 0;
}

/* line 81, ../../app/stylesheets/basics/_icons.sass */
.clock {
  background-image: url('/images/icons/clock-frame.png?1241977896') !important;
  border: 0;
}

/* line 84, ../../app/stylesheets/basics/_icons.sass */
.coast_guard {
  background-image: url('/images/icons/lifebuoy.png?1241977972') !important;
  border: 0;
}

/* line 93, ../../app/stylesheets/basics/_icons.sass */
.courthouse {
  background-image: url('/images/icons/auction-hammer-gavel.png?1241977862') !important;
  border: 0;
}

/* line 102, ../../app/stylesheets/basics/_icons.sass */
.embassy {
  background-image: url('/images/icons/locale.png?1255708698') !important;
  border: 0;
}

/* line 108, ../../app/stylesheets/basics/_icons.sass */
.fast_food {
  background-image: url('/images/icons/fast-food.png?1268872844') !important;
  border: 0;
}

/* line 111, ../../app/stylesheets/basics/_icons.sass */
.fire_hydrant {
  background-image: url('/images/icons/fire.png?1246642830') !important;
  border: 0;
}

/* line 114, ../../app/stylesheets/basics/_icons.sass */
.fire_station {
  background-image: url('/images/icons/fire-station.png?1268871009') !important;
  border: 0;
}

/* line 129, ../../app/stylesheets/basics/_icons.sass */
.hospital {
  background-image: url('/images/icons/hospital.png?1268871839') !important;
  border: 0;
}

/* line 132, ../../app/stylesheets/basics/_icons.sass */
.hunting_stand {
  background-image: url('/images/icons/target.png?1241978044') !important;
  border: 0;
}

/* line 135, ../../app/stylesheets/basics/_icons.sass */
.kindergarten {
  background-image: url('/images/icons/smiley.png?1242047184') !important;
  border: 0;
}

/* line 138, ../../app/stylesheets/basics/_icons.sass */
.library {
  background-image: url('/images/icons/book-open.png?1257777646') !important;
  border: 0;
}

/* line 141, ../../app/stylesheets/basics/_icons.sass */
.marketplace {
  background-image: url('/images/icons/shopping-basket.png?1241978022') !important;
  border: 0;
}

/* line 147, ../../app/stylesheets/basics/_icons.sass */
.nightclub {
  background-image: url('/images/icons/speaker.png?1260897182') !important;
  border: 0;
}

/* line 150, ../../app/stylesheets/basics/_icons.sass */
.parking {
  background-image: url('/images/icons/parking.png?1268873379') !important;
  border: 0;
}

/* line 153, ../../app/stylesheets/basics/_icons.sass */
.pharmacy {
  background-image: url('/images/icons/pharmacie-germany.png?1268869708') !important;
  border: 0;
}

/* line 159, ../../app/stylesheets/basics/_icons.sass */
.police {
  background-image: url('/images/icons/police.png?1268870903') !important;
  border: 0;
}

/* line 162, ../../app/stylesheets/basics/_icons.sass */
.post_box {
  background-image: url('/images/icons/mail.png?1241977982') !important;
  border: 0;
}

/* line 165, ../../app/stylesheets/basics/_icons.sass */
.post_office {
  background-image: url('/images/icons/post-office.png?1268870610') !important;
  border: 0;
}

/* line 168, ../../app/stylesheets/basics/_icons.sass */
.prison {
  background-image: url('/images/icons/user-thief-baldie.png?1259173780') !important;
  border: 0;
}

/* line 174, ../../app/stylesheets/basics/_icons.sass */
.place_of_worship {
  background-image: url('/images/icons/bell.png?1269426596') !important;
  border: 0;
}

/* line 180, ../../app/stylesheets/basics/_icons.sass */
.recycling {
  background-image: url('/images/icons/bin-full.png?1245232518') !important;
  border: 0;
}

/* line 186, ../../app/stylesheets/basics/_icons.sass */
.restaurant {
  background-image: url('/images/icons/cutlery.png?1262071732') !important;
  border: 0;
}

/* line 201, ../../app/stylesheets/basics/_icons.sass */
.telephone {
  background-image: url('/images/icons/telephone.png?1254925480') !important;
  border: 0;
}

/* line 204, ../../app/stylesheets/basics/_icons.sass */
.theatre {
  background-image: url('/images/icons/mask.png?1263307154') !important;
  border: 0;
}

/* line 207, ../../app/stylesheets/basics/_icons.sass */
.toilets {
  background-image: url('/images/icons/toilet.png?1268876389') !important;
  border: 0;
}

/* line 228, ../../app/stylesheets/basics/_icons.sass */
.subway {
  background-image: url('/images/icons/public-transport-subway-germany.png?1268866630') !important;
  border: 0;
}

/* line 231, ../../app/stylesheets/basics/_icons.sass */
.light_rail {
  background-image: url('/images/icons/public-transport-light-rail-germany.png?1268867339') !important;
  border: 0;
}

/* line 234, ../../app/stylesheets/basics/_icons.sass */
.tram_stop {
  background-image: url('/images/icons/public-transport-tram-germany.png?1268866794') !important;
  border: 0;
}

/* line 237, ../../app/stylesheets/basics/_icons.sass */
.bus_stop {
  background-image: url('/images/icons/public-transport-bus-germany.png?1268868701') !important;
  border: 0;
}

/* line 240, ../../app/stylesheets/basics/_icons.sass */
.ferry_terminal {
  background-image: url('/images/icons/public-transport-ferry-germany.png?1268868012') !important;
  border: 0;
}

/* line 246, ../../app/stylesheets/basics/_icons.sass */
.city {
  background-image: url('/images/icons/target.png?1241978044') !important;
  border: 0;
}

/* line 2, ../../app/stylesheets/basics/_open_layers.sass */
#map div.olMapViewport[id^='OpenLayers\.Map'] {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0px;
  background: #fff7d9;
}
/* line 9, ../../app/stylesheets/basics/_open_layers.sass */
#map div.olMapViewport[id^='OpenLayers\.Map'] a {
  color: inherit;
  font-weight: bold;
}

/* line 13, ../../app/stylesheets/basics/_open_layers.sass */
div[id^='OpenLayers\.Layer\.OSM\.Mapnik'] {
  opacity: 0.5;
}

/* line 16, ../../app/stylesheets/basics/_open_layers.sass */
#panzoombar.olControlPanZoomBar {
  left: inherit !important;
  right: 45px !important;
  top: 45px !important;
}

/* line 23, ../../app/stylesheets/basics/_open_layers.sass */
#attribution.olControlAttribution, div[id^='OpenLayers\.Control\.Permalink'] {
  position: relative !important;
  float: left;
  display: block;
  top: 0px;
  left: 20px;
  padding: 5px 8px 1px 8px;
  font-size: 11px;
  font-style: italic;
  z-index: 1000;
}

/* line 1, ../../app/stylesheets/basics/_header.sass */
header {
  height: 110px;
  width: 100%;
  padding-top: 15px;
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 13px;
  line-height: 20px;
}
/* line 7, ../../app/stylesheets/basics/_header.sass */
header .links {
  position: absolute;
  top: 5px;
  right: 30px;
}
/* line 11, ../../app/stylesheets/basics/_header.sass */
header .links a {
  border-right: 1px #cccccc solid;
  float: left;
  line-height: 16px;
  margin: 3px 0;
  padding: 0 7px;
}
/* line 17, ../../app/stylesheets/basics/_header.sass */
header .links select {
  background: transparent;
  border: 0;
  margin-left: 7px;
  padding: 0;
  vertical-align: -2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 24, ../../app/stylesheets/basics/_header.sass */
.gecko header .links select {
  margin-left: 3px;
}
/* line 26, ../../app/stylesheets/basics/_header.sass */
.webkit header .links select {
  background: transparent url("/images/icons/select-marker.png") 98% 0 no-repeat;
  padding-right: 20px;
  -webkit-appearance: none;
}
/* line 31, ../../app/stylesheets/basics/_header.sass */
header a {
  text-decoration: underline;
}
/* line 34, ../../app/stylesheets/basics/_header.sass */
header #logo {
  height: 84px;
  width: 300px;
  margin-left: 30px;
  float: left;
}
/* line 40, ../../app/stylesheets/basics/_header.sass */
header #searchbar {
  height: 28px;
  margin-left: 15px;
  margin-top: 58px;
  overflow: hidden;
}
/* line 46, ../../app/stylesheets/basics/_header.sass */
header #searchbar label {
  color: #89b152;
  float: left;
  padding: 3px 6px 3px 20px;
  width: auto;
}
/* line 51, ../../app/stylesheets/basics/_header.sass */
header #searchbar input {
  border-right: 0;
  color: #89b152;
  float: left;
  height: 16px;
  margin: 0;
  outline: none;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 60, ../../app/stylesheets/basics/_header.sass */
header #searchbar input:focus {
  background: #f5f8f0;
}
/* line 62, ../../app/stylesheets/basics/_header.sass */
header #searchbar button {
  float: left;
  border: 1px solid #95b963;
  border-bottom-color: #7ca148;
  border-top-color: #a1c175;
  color: #536c31;
  cursor: pointer;
  font-weight: bold;
  font-family: 'HelveticaNeue-Bold','Helvetica Neue Bold','Helvetica Neue','Swiss 721 Bold','Helvetica','Arial','sans-serif';
  font-size: 13px;
  height: 28px;
  margin: 0;
  padding: 5px 9px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #a1c175;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bad594), color-stop(0.5, #a1c175), color-stop(1, #8ab74c));
  background-image: -moz-linear-gradient(center bottom, #8ab74c 0%, #a1c175 50%, #bad594 100%);
  background-image: linear-gradient(center bottom, #8ab74c 0%, #a1c175 50%, #bad594 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#8ab74c', startColorstr='#bad594', gradientType='0');
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* line 22, ../../app/stylesheets/basics/_buttons.sass */
header #searchbar button:hover {
  background-color: #95b963;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aecd82), color-stop(0.5, #95b963), color-stop(1, #7da743));
  background-image: -moz-linear-gradient(center bottom, #7da743 0%, #95b963 50%, #aecd82 100%);
  background-image: linear-gradient(center bottom, #7da743 0%, #95b963 50%, #aecd82 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#7da743', startColorstr='#aecd82', gradientType='0');
  border-color: #95b963 #89b152 #6e9040;
}
/* line 25, ../../app/stylesheets/basics/_buttons.sass */
header #searchbar button:active {
  background-color: #7ca148;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #96bf5e), color-stop(0.5, #7ca148), color-stop(1, #618234));
  background-image: -moz-linear-gradient(center bottom, #618234 0%, #7ca148 50%, #96bf5e 100%);
  background-image: linear-gradient(center bottom, #618234 0%, #7ca148 50%, #96bf5e 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#618234', startColorstr='#96bf5e', gradientType='0');
  border-color: #89b152 #617e39 #465b29;
}
/* line 67, ../../app/stylesheets/basics/_header.sass */
header #searchbar .or {
  color: #c26a0f;
  float: left;
  padding: 5px 10px;
}
/* line 71, ../../app/stylesheets/basics/_header.sass */
header #searchbar .add-place {
  float: left;
  border: 1px solid #ef902e;
  border-bottom-color: #da7710;
  border-top-color: #f19d46;
  color: #93500b;
  cursor: pointer;
  font-weight: bold;
  font-family: 'HelveticaNeue-Bold','Helvetica Neue Bold','Helvetica Neue','Swiss 721 Bold','Helvetica','Arial','sans-serif';
  font-size: 13px;
  height: 28px;
  margin: 0;
  padding: 5px 9px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #f19d46;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8b672), color-stop(0.5, #f19d46), color-stop(1, #f48410));
  background-image: -moz-linear-gradient(center bottom, #f48410 0%, #f19d46 50%, #f8b672 100%);
  background-image: linear-gradient(center bottom, #f48410 0%, #f19d46 50%, #f8b672 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#f48410', startColorstr='#f8b672', gradientType='0');
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
  height: 14px;
  line-height: 14px;
  text-decoration: none;
}
/* line 22, ../../app/stylesheets/basics/_buttons.sass */
header #searchbar .add-place:hover {
  background-color: #ef902e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7aa59), color-stop(0.5, #ef902e), color-stop(1, #e0770b));
  background-image: -moz-linear-gradient(center bottom, #e0770b 0%, #ef902e 50%, #f7aa59 100%);
  background-image: linear-gradient(center bottom, #e0770b 0%, #ef902e 50%, #f7aa59 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#e0770b', startColorstr='#f7aa59', gradientType='0');
  border-color: #ef902e #ed8417 #c26a0f;
}
/* line 25, ../../app/stylesheets/basics/_buttons.sass */
header #searchbar .add-place:active {
  background-color: #da7710;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f59129), color-stop(0.5, #da7710), color-stop(1, #af5d08));
  background-image: -moz-linear-gradient(center bottom, #af5d08 0%, #da7710 50%, #f59129 100%);
  background-image: linear-gradient(center bottom, #af5d08 0%, #da7710 50%, #f59129 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#af5d08', startColorstr='#f59129', gradientType='0');
  border-color: #ed8417 #ab5d0d #7b4309;
}
/* line 77, ../../app/stylesheets/basics/_header.sass */
header #searchbar .or-add-place {
  float: left;
}

/* line 1, ../../app/stylesheets/basics/_nav.sass */
nav {
  position: relative;
  top: -15px;
  right: 20px;
  float: right;
}

/* line 6, ../../app/stylesheets/basics/_forms.sass */
form {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 13px;
  line-height: 20px;
}
/* line 9, ../../app/stylesheets/basics/_forms.sass */
form li {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 6px;
}
/* line 15, ../../app/stylesheets/basics/_forms.sass */
form input[type='text'], form input[type='search'], form input[type='password'], form textarea, form select {
  border: 1px solid #a1c175;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: #a1c175;
  background-color: white;
  padding: 5px;
  width: 268px;
}
/* line 23, ../../app/stylesheets/basics/_forms.sass */
form input[readonly] {
  background-color: #f9f9f9;
  color: #8d8d8e;
}
/* line 27, ../../app/stylesheets/basics/_forms.sass */
form select {
  width: 280px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white url("/images/select-marker.png") no-repeat 98% center;
}
/* line 33, ../../app/stylesheets/basics/_forms.sass */
form optgroup {
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 38, ../../app/stylesheets/basics/_forms.sass */
form optgroup.public_transfer {
  background: white url("/images/icons/public-transport-subway-germany.png") no-repeat 2px top;
  border: 0;
}
/* line 41, ../../app/stylesheets/basics/_forms.sass */
form optgroup.food {
  background: white url("/images/icons/cutlery.png") no-repeat 2px top;
  border: 0;
}
/* line 44, ../../app/stylesheets/basics/_forms.sass */
form optgroup.post {
  background: white url("/images/icons/mail.png") no-repeat 2px top;
  border: 0;
}
/* line 47, ../../app/stylesheets/basics/_forms.sass */
form optgroup.money {
  background: white url("/images/icons/money-coin.png") no-repeat 2px top;
  border: 0;
}
/* line 50, ../../app/stylesheets/basics/_forms.sass */
form optgroup.health {
  background: white url("/images/icons/hospital.png") no-repeat 2px top;
  border: 0;
}
/* line 53, ../../app/stylesheets/basics/_forms.sass */
form optgroup.government {
  background: white url("/images/icons/bank.png") no-repeat 2px top;
  border: 0;
}
/* line 56, ../../app/stylesheets/basics/_forms.sass */
form optgroup.education {
  background: white url("/images/icons/book-open.png") no-repeat 2px top;
  border: 0;
}
/* line 59, ../../app/stylesheets/basics/_forms.sass */
form optgroup.car {
  background: white url("/images/icons/car-red.png") no-repeat 2px top;
  border: 0;
}
/* line 62, ../../app/stylesheets/basics/_forms.sass */
form optgroup.misc {
  background: white url("/images/icons/store.png") no-repeat 2px top;
  border: 0;
}
/* line 65, ../../app/stylesheets/basics/_forms.sass */
form optgroup.leisure {
  background: white url("/images/icons/smiley.png") no-repeat 2px top;
  border: 0;
}
/* line 68, ../../app/stylesheets/basics/_forms.sass */
form option {
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 72, ../../app/stylesheets/basics/_forms.sass */
form input[type='submit'] {
  position: relative;
  left: 170px;
  border: 1px solid #95b963;
  border-bottom-color: #7ca148;
  border-top-color: #a1c175;
  color: #536c31;
  cursor: pointer;
  font-weight: bold;
  font-family: 'HelveticaNeue-Bold','Helvetica Neue Bold','Helvetica Neue','Swiss 721 Bold','Helvetica','Arial','sans-serif';
  font-size: 13px;
  height: 28px;
  margin: 0;
  padding: 5px 9px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #a1c175;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bad594), color-stop(0.5, #a1c175), color-stop(1, #8ab74c));
  background-image: -moz-linear-gradient(center bottom, #8ab74c 0%, #a1c175 50%, #bad594 100%);
  background-image: linear-gradient(center bottom, #8ab74c 0%, #a1c175 50%, #bad594 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#8ab74c', startColorstr='#bad594', gradientType='0');
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
}
/* line 22, ../../app/stylesheets/basics/_buttons.sass */
form input[type='submit']:hover {
  background-color: #95b963;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aecd82), color-stop(0.5, #95b963), color-stop(1, #7da743));
  background-image: -moz-linear-gradient(center bottom, #7da743 0%, #95b963 50%, #aecd82 100%);
  background-image: linear-gradient(center bottom, #7da743 0%, #95b963 50%, #aecd82 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#7da743', startColorstr='#aecd82', gradientType='0');
  border-color: #95b963 #89b152 #6e9040;
}
/* line 25, ../../app/stylesheets/basics/_buttons.sass */
form input[type='submit']:active {
  background-color: #7ca148;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #96bf5e), color-stop(0.5, #7ca148), color-stop(1, #618234));
  background-image: -moz-linear-gradient(center bottom, #618234 0%, #7ca148 50%, #96bf5e 100%);
  background-image: linear-gradient(center bottom, #618234 0%, #7ca148 50%, #96bf5e 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#618234', startColorstr='#96bf5e', gradientType='0');
  border-color: #89b152 #617e39 #465b29;
}
/* line 86, ../../app/stylesheets/basics/_forms.sass */
form label {
  color: #4d4d4d;
  display: block;
  float: left;
  line-height: 20px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: right;
  width: 160px;
}
/* line 96, ../../app/stylesheets/basics/_forms.sass */
form legend {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 16px;
  line-height: 20px;
  position: relative;
  bottom: 2px;
  font-weight: bold;
  color: #333333;
  margin-top: 20px;
  top: 15px;
  bottom: none;
}
/* line 104, ../../app/stylesheets/basics/_forms.sass */
form legend span.addition {
  color: #aaaaaa;
}
/* line 107, ../../app/stylesheets/basics/_forms.sass */
form fieldset {
  padding: 30px 20px 10px 20px;
  overflow: hidden;
}
/* line 114, ../../app/stylesheets/basics/_forms.sass */
form fieldset.buttons {
  padding: 10px 20px 10px 20px;
}
/* line 119, ../../app/stylesheets/basics/_forms.sass */
form li[class*='error'] label {
  color: #f19d46;
}
/* line 122, ../../app/stylesheets/basics/_forms.sass */
form li[class*='error'] input[type='text'], form li[class*='error'] input[type='password'], form li[class*='error'] input[type='search'], form li[class*='error'] textarea, form li[class*='error'] select {
  border: 1px solid #f19d46;
}
/* line 125, ../../app/stylesheets/basics/_forms.sass */
form p.inline-errors, form p.inline-hints {
  position: relative;
  left: 175px;
  color: #aaaaaa;
}
/* line 130, ../../app/stylesheets/basics/_forms.sass */
form p.inline-errors {
  color: #f19d46;
}

/* line 1, ../../app/stylesheets/basics/_page.sass */
body,
html {
  background: #dbdcda;
  outline: 0;
}

/* line 6, ../../app/stylesheets/basics/_page.sass */
body {
  background-color: #ededec;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #ededec), color-stop(1, #dbdcda));
  background-image: -moz-linear-gradient(center bottom, #dbdcda 0%, #ededec 50%, white 100%);
  background-image: linear-gradient(center bottom, #dbdcda 0%, #ededec 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#dbdcda', startColorstr='white', gradientType='0');
}

/* line 9, ../../app/stylesheets/basics/_page.sass */
.frame {
  width: 500px;
  margin: 10px auto;
  border: 1px solid #a1c175;
  padding: 10px;
  background-color: #e7ebe2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #e7ebe2), color-stop(1, #cfd7c5));
  background-image: -moz-linear-gradient(center bottom, #cfd7c5 0%, #e7ebe2 50%, white 100%);
  background-image: linear-gradient(center bottom, #cfd7c5 0%, #e7ebe2 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#cfd7c5', startColorstr='white', gradientType='0');
  background-color: white;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px;
}
/* line 19, ../../app/stylesheets/basics/_page.sass */
.frame h2 {
  margin-bottom: 10px;
}
/* line 22, ../../app/stylesheets/basics/_page.sass */
.frame h3 {
  margin-bottom: 5px;
}
/* line 25, ../../app/stylesheets/basics/_page.sass */
.frame p.pad {
  margin-bottom: 20px;
}

/* line 28, ../../app/stylesheets/basics/_page.sass */
#main {
  background: white;
  border: 1px #e6e6e6 solid;
  margin: 0 auto 50px;
  padding: 19px;
  width: 980px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  display: inline-block;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px;
}
/* line 8, ../../vendor/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#main {
  display: block;
}

/* line 2, ../../app/stylesheets/partials/nodes/_headlines.sass */
h1 span.addition {
  font-size: 14px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box {
  width: 550px;
  color: #333333;
  float: left;
}
/* line 8, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.yes, .box label.no, .box label.limited, .box label.unknown {
  vertical-align: middle;
  line-height: 34px;
}
/* line 13, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.yes {
  color: #86af4d;
}
/* line 16, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.limited {
  color: #f19d46;
}
/* line 19, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.no {
  color: #d6382f;
}
/* line 22, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.unknown {
  color: #8d8d8e;
}

/* line 6, ../../app/stylesheets/partials/nodes/_lists.sass */
.status {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 4px;
  background-color: #8d8d8e;
  margin: 3px;
  float: left;
}
/* line 17, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.yes {
  background: #86af4d;
}
/* line 20, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.limited {
  background: #f19d46;
}
/* line 23, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.no {
  background: #d6382f;
}
/* line 26, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.unknown {
  background: #8d8d8e;
}

/* line 29, ../../app/stylesheets/partials/nodes/_lists.sass */
dl {
  background-color: #f9faf9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #f9faf9), color-stop(1, #f4f5f4));
  background-image: -moz-linear-gradient(center bottom, #f4f5f4 0%, #f9faf9 50%, white 100%);
  background-image: linear-gradient(center bottom, #f4f5f4 0%, #f9faf9 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#f4f5f4', startColorstr='white', gradientType='0');
  display: block;
  padding: 30px 20px;
}

/* line 34, ../../app/stylesheets/partials/nodes/_lists.sass */
dt {
  display: block;
  float: left;
  width: 250px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 40, ../../app/stylesheets/partials/nodes/_lists.sass */
dd {
  display: block;
  float: left;
  width: 230px;
  margin-bottom: 10px;
  padding-left: 20px;
}
/* line 48, ../../app/stylesheets/partials/nodes/_lists.sass */
dd.public_transfer {
  background: url("/images/icons/public-transport-subway-germany.png") no-repeat left top;
  border: 0;
}
/* line 51, ../../app/stylesheets/partials/nodes/_lists.sass */
dd.food {
  background: url("/images/icons/cutlery.png") no-repeat left top;
  border: 0;
}
/* line 54, ../../app/stylesheets/partials/nodes/_lists.sass */
dd.post {
  background: url("/images/icons/mail.png") no-repeat left top;
  border: 0;
}
/* line 57, ../../app/stylesheets/partials/nodes/_lists.sass */
dd.money {
  background: url("/images/icons/money-coin.png") no-repeat left top;
  border: 0;
}
/* line 60, ../../app/stylesheets/partials/nodes/_lists.sass */
dd.health {
  background: url("/images/icons/hospital.png") no-repeat left top;
  border: 0;
}
/* line 63, ../../app/stylesheets/partials/nodes/_lists.sass */
dd.government {
  background: url("/images/icons/bank.png") no-repeat left top;
  border: 0;
}
/* line 66, ../../app/stylesheets/partials/nodes/_lists.sass */
dd.education {
  background: url("/images/icons/book-open.png") no-repeat left top;
  border: 0;
}
/* line 69, ../../app/stylesheets/partials/nodes/_lists.sass */
dd.car {
  background: url("/images/icons/car-red.png") no-repeat left top;
  border: 0;
}
/* line 72, ../../app/stylesheets/partials/nodes/_lists.sass */
dd.misc {
  background: url("/images/icons/store.png") no-repeat left top;
  border: 0;
}
/* line 75, ../../app/stylesheets/partials/nodes/_lists.sass */
dd.leisure {
  background: url("/images/icons/smiley.png") no-repeat left top;
  border: 0;
}

/* line 1, ../../app/stylesheets/partials/nodes/_map.sass */
#map_wrapper {
  width: 50%;
  height: 430px;
  float: right;
}
/* line 5, ../../app/stylesheets/partials/nodes/_map.sass */
#map_wrapper #minimap {
  height: 430px;
  width: 500px;
  background-color: #fff7d9;
  border: 1px solid #cccccc;
}
/* line 11, ../../app/stylesheets/partials/nodes/_map.sass */
#map_wrapper a.magnify {
  background: url("/images/icons/magnify.png") no-repeat right center;
  padding-right: 20px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs {
  margin: 0 0 20px;
  height: 34px;
  border: 0px solid white;
}
/* line 11, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs a, #breadcrumbs span {
  color: white;
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 13px;
  line-height: 20px;
  display: block;
  float: left;
  letter-spacing: 0.1em;
  background: url("/images/background-breadcrumbs.png") scroll left top;
  padding-left: 30px;
  line-height: 34px;
  height: 34px;
  vertical-align: center;
}
/* line 23, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs a:first-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 26, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs a {
  background-position: 0 0;
}
/* line 29, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs a.last, #breadcrumbs span {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 10px;
}
/* line 33, ../../app/stylesheets/partials/nodes/_breadcrumbs.sass */
#breadcrumbs span {
  background-position: 0 -34px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties,
table#accessibility {
  display: block;
  width: 50%;
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 13px;
  line-height: 20px;
}
/* line 7, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties th,
table#accessibility th {
  width: 250px;
  font-weight: bold;
  vertical-align: top;
}
/* line 11, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td,
table#accessibility td {
  width: 250px;
  color: #8d8d8e;
  padding-left: 20px;
}
/* line 16, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td.public_transfer,
table#accessibility td.public_transfer {
  background: url("/images/icons/public-transport-subway-germany.png") no-repeat left top;
  border: 0;
}
/* line 19, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td.food,
table#accessibility td.food {
  background: url("/images/icons/cutlery.png") no-repeat left top;
  border: 0;
}
/* line 22, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td.post,
table#accessibility td.post {
  background: url("/images/icons/mail.png") no-repeat left top;
  border: 0;
}
/* line 25, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td.money,
table#accessibility td.money {
  background: url("/images/icons/money-coin.png") no-repeat left top;
  border: 0;
}
/* line 28, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td.health,
table#accessibility td.health {
  background: url("/images/icons/hospital.png") no-repeat left top;
  border: 0;
}
/* line 31, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td.government,
table#accessibility td.government {
  background: url("/images/icons/bank.png") no-repeat left top;
  border: 0;
}
/* line 34, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td.education,
table#accessibility td.education {
  background: url("/images/icons/book-open.png") no-repeat left top;
  border: 0;
}
/* line 37, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td.car,
table#accessibility td.car {
  background: url("/images/icons/car-red.png") no-repeat left top;
  border: 0;
}
/* line 40, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td.misc,
table#accessibility td.misc {
  background: url("/images/icons/store.png") no-repeat left top;
  border: 0;
}
/* line 43, ../../app/stylesheets/partials/nodes/_tables.sass */
table#properties td.leisure,
table#accessibility td.leisure {
  background: url("/images/icons/smiley.png") no-repeat left top;
  border: 0;
}

/* line 1, ../../app/stylesheets/partials/nodes/flash.sass */
#flash {
  margin: 10px;
  padding: 10px;
  background-color: #fff7d9;
  border: 1px dashed #ffd740;
  text-align: center;
}

/* line 2, ../../app/stylesheets/partials/map/_imprint.sass */
#imprint dl {
  padding: 20px 100px 20px 0;
  clear: both;
}
/* line 6, ../../app/stylesheets/partials/map/_imprint.sass */
#imprint dt {
  clear: left;
  color: #4d4d4d;
  float: left;
  padding-right: 10px;
  text-align: right;
  width: 150px;
}
/* line 14, ../../app/stylesheets/partials/map/_imprint.sass */
#imprint dd {
  float: left;
  width: 300px;
}
/* line 19, ../../app/stylesheets/partials/map/_imprint.sass */
#imprint dd.logo img {
  padding: 5px;
}
/* line 22, ../../app/stylesheets/partials/map/_imprint.sass */
#imprint a {
  color: #6e9040;
  text-decoration: underline;
}
/* line 26, ../../app/stylesheets/partials/map/_imprint.sass */
#imprint h2,
#imprint p {
  padding-right: 100px;
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 33, ../../app/stylesheets/partials/map/_imprint.sass */
#imprint p:first-child {
  text-align: right;
}

/* line 27, ../../app/stylesheets/node.sass */
body, html {
  font-family: HelveticaNeue, Helvetica, "Swiss 721", Arial, sans-serif;
}

/* line 31, ../../app/stylesheets/node.sass */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
