/*
Errno::ENOENT: No such file or directory - /Users/christoph/Projects/wheelmap2/public/images/icons/state-yes.png

Backtrace:
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/compass-0.10.6/lib/compass/sass_extensions/functions/image_size.rb:41:in `initialize'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/compass-0.10.6/lib/compass/sass_extensions/functions/image_size.rb:41:in `open'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/compass-0.10.6/lib/compass/sass_extensions/functions/image_size.rb:41:in `get_size_for_png'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/compass-0.10.6/lib/compass/sass_extensions/functions/image_size.rb:34:in `send'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/compass-0.10.6/lib/compass/sass_extensions/functions/image_size.rb:34:in `size'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/compass-0.10.6/lib/compass/sass_extensions/functions/image_size.rb:12:in `image_height'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/lemonade-0.3.4/lib/lemonade/sass_extensions/functions/lemonade.rb:22:in `sprite_image'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/script/funcall.rb:69:in `send'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/script/funcall.rb:69:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/script/node.rb:61:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/script/operation.rb:66:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/script/node.rb:61:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/script/operation.rb:66:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/script/node.rb:61:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/script/operation.rb:66:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/script/node.rb:61:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/prop_node.rb:132:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/import_node.rb:78:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/import_node.rb:64:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets_without_lemonade'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets_without_lemonade'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets_without_lemonade'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/lemonade-0.3.4/lib/lemonade.rb:27:in `update_stylesheets'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/warden-1.0.3/lib/warden/manager.rb:35:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/railties-3.0.3/lib/rails/application.rb:77:in `send'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/railties-3.0.3/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/Users/christoph/.rvm/rubies/ruby-1.8.7-p330/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/christoph/.rvm/rubies/ruby-1.8.7-p330/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/christoph/.rvm/rubies/ruby-1.8.7-p330/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/christoph/.rvm/rubies/ruby-1.8.7-p330/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/christoph/.rvm/rubies/ruby-1.8.7-p330/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/christoph/.rvm/rubies/ruby-1.8.7-p330/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/christoph/.rvm/rubies/ruby-1.8.7-p330/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/christoph/.rvm/rubies/ruby-1.8.7-p330/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/christoph/.rvm/rubies/ruby-1.8.7-p330/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/christoph/.rvm/rubies/ruby-1.8.7-p330/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/railties-3.0.3/lib/rails/commands/server.rb:65:in `start'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/railties-3.0.3/lib/rails/commands.rb:30
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/railties-3.0.3/lib/rails/commands.rb:27:in `tap'
/Users/christoph/.rvm/gems/ruby-1.8.7-p330@wheelmap/gems/railties-3.0.3/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - /Users/christoph/Projects/wheelmap2/public/images/icons/state-yes.png"; }
