/* line 1, ../../../../../../opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
a, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, p, pre, span, th, td {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* line 6, ../../../../../../opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../../../../../../opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
fieldset, img {
  border: 0;
}

/* line 13, ../../../../../../opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
address, em, th {
  font-style: normal;
  font-weight: normal;
}

/* line 17, ../../../../../../opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
li {
  list-style: none;
}

/* line 20, ../../../../../../opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
th {
  font-style: normal;
  text-align: left;
}

/* line 24, ../../../../../../opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

/* line 27, ../../../../../../opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 33, ../../../../../../opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
.msie input, .msie textarea, .msie select {
  font-size: 100%;
}

/* line 36, ../../../../../../opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
header, section, article, aside, footer, time {
  display: block;
}

/* line 4, ../../app/stylesheets/basics/_typography.sass */
p,
article li,
dt, dd,
h4, h5, h6,
address,
footer {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 13px;
  line-height: 20px;
}

/* line 12, ../../app/stylesheets/basics/_typography.sass */
h2 {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 16px;
  line-height: 20px;
  position: relative;
  bottom: 2px;
}

/* line 15, ../../app/stylesheets/basics/_typography.sass */
h1 {
  font-family: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
  font-size: 37px;
  line-height: 40px;
  position: relative;
}
/* line 3, ../../../../../../opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/redgreengrid-0.3.2/sass/redgreengrid/_browser_support.sass */
.presto h1 {
  bottom: 1px;
}

/* line 3, ../../app/stylesheets/basics/_links.sass */
a {
  color: #434bb9;
}
/* line 6, ../../app/stylesheets/basics/_links.sass */
a:hover {
  color: #353c94;
}
/* line 9, ../../app/stylesheets/basics/_links.sass */
a:visited {
  color: #6c43b9;
}
/* line 12, ../../app/stylesheets/basics/_links.sass */
a:visited:hover {
  color: #563594;
}

/* line 1, ../../app/stylesheets/basics/_sozialhelden.sass */
#sozialhelden {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 4000;
}
/* line 7, ../../app/stylesheets/basics/_sozialhelden.sass */
#sozialhelden img {
  vertical-align: bottom;
}

/* line 1, ../../app/stylesheets/partials/nodes/_header.sass */
header {
  background-color: #f9faf9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #f9faf9), color-stop(1, #f4f5f4));
  background-image: -moz-linear-gradient(center bottom, #f4f5f4 0%, #f9faf9 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#f4f5f4', startColorstr='white', gradientType='0');
  background-color: white;
}

/* line 3, ../../app/stylesheets/partials/nodes/_links.sass */
a {
  color: #81a94a;
  text-decoration: underline;
}
/* line 7, ../../app/stylesheets/partials/nodes/_links.sass */
a:hover {
  color: #66863a;
}
/* line 10, ../../app/stylesheets/partials/nodes/_links.sass */
a:visited {
  color: #59a94a;
}
/* line 13, ../../app/stylesheets/partials/nodes/_links.sass */
a:visited:hover {
  color: #47863a;
}

/* line 2, ../../app/stylesheets/partials/nodes/_headlines.sass */
h1 span.addition {
  font-size: 14px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box {
  width: 500px;
  margin-bottom: 20px;
  color: #333333;
  clear: left;
}
/* line 8, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label {
  vertical-align: middle;
  line-height: 34px;
}
/* line 13, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.yes {
  color: #a8c468;
}
/* line 16, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.limited {
  color: #e8d787;
}
/* line 19, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.no {
  color: #e98989;
}
/* line 22, ../../app/stylesheets/partials/nodes/_boxes.sass */
.box label.checked.unknown {
  color: #b7b7b7;
}

/* line 1, ../../app/stylesheets/partials/nodes/_lists.sass */
.status {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 4px;
  background-color: #b7b7b7;
  margin: 3px;
  float: left;
}
/* line 13, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.checked.yes {
  background: #a8c468;
}
/* line 16, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.checked.limited {
  background: #e8d787;
}
/* line 19, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.checked.no {
  background: #e98989;
}
/* line 22, ../../app/stylesheets/partials/nodes/_lists.sass */
.status.checked.unknown {
  background: #b7b7b7;
}

/* line 25, ../../app/stylesheets/partials/nodes/_lists.sass */
dl {
  background-color: #f9faf9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #f9faf9), color-stop(1, #f4f5f4));
  background-image: -moz-linear-gradient(center bottom, #f4f5f4 0%, #f9faf9 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#f4f5f4', startColorstr='white', gradientType='0');
}

/* line 28, ../../app/stylesheets/partials/nodes/_lists.sass */
dt {
  display: block;
  float: left;
  width: 250px;
  font-weight: bold;
}

/* line 33, ../../app/stylesheets/partials/nodes/_lists.sass */
dd {
  display: block;
  float: left;
  width: 250px;
}

/* line 1, ../../app/stylesheets/partials/nodes/_map.sass */
#map {
  height: 430px;
  width: 500px;
  background-color: black;
  float: right;
}

/* line 17, ../../app/stylesheets/nodes.sass */
body, html {
  background-color: white;
}

/* line 20, ../../app/stylesheets/nodes.sass */
#main {
  margin: 20px;
}

/* line 23, ../../app/stylesheets/nodes.sass */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
