@charset "utf-8";
/* line 1, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
a, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, p, pre, span, th, td {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* line 6, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
fieldset, img {
  border: 0;
}

/* line 13, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
address, em, th {
  font-style: normal;
  font-weight: normal;
}

/* line 17, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
li {
  list-style: none;
}

/* line 20, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
th {
  font-style: normal;
  text-align: left;
}

/* line 24, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

/* line 27, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 33, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
.msie input, .msie textarea, .msie select {
  font-size: 100%;
}

/* line 36, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_reset.sass */
header, section, article, aside, footer, time {
  display: block;
}

/* line 4, ../../app/stylesheets/basics/_typography.sass */
html, body {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
}

/* line 7, ../../app/stylesheets/basics/_typography.sass */
p,
article li,
dt, dd,
h4, h5, h6,
address,
footer {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 20px;
}
/* line 15, ../../app/stylesheets/basics/_typography.sass */
p.large,
article li.large,
dt.large, dd.large,
h4.large, h5.large, h6.large,
address.large,
footer.large {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  position: relative;
  bottom: 2px;
}

/* line 18, ../../app/stylesheets/basics/_typography.sass */
h2 {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  position: relative;
  bottom: 2px;
}
/* line 20, ../../app/stylesheets/basics/_typography.sass */
h2.large {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 20px;
}

/* line 23, ../../app/stylesheets/basics/_typography.sass */
h1 {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-size: 37px;
  line-height: 40px;
  position: relative;
}
/* line 3, ../../vendor/bundle/ruby/1.8/bundler/gems/redgreengrid-730825cbb3e5/sass/redgreengrid/_browser_support.sass */
.presto h1 {
  bottom: 1px;
}

/* line 1, ../../app/stylesheets/relaunch/_default.css.scss */
body {
  width: 100%;
  min-width: 1160px;
  font-family: Helvetica, sans-serif;
}

@font-face {
  font-family: 'EntypoRegular';
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#EntypoRegular") format("svg");
}

/* @group Allgemein ================================================================================= */
/* line 16, ../../app/stylesheets/relaunch/_default.css.scss */
* {
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 20, ../../app/stylesheets/relaunch/_default.css.scss */
*:focus {
  outline: none;
  border: none;
}

/* line 26, ../../app/stylesheets/relaunch/_default.css.scss */
::-moz-selection, ::selection {
  background: #999;
  color: #fff;
  text-shadow: none;
}

/* @end */
/* line 34, ../../app/stylesheets/relaunch/_default.css.scss */
p {
  font-size: 12px;
  line-height: 20px;
  float: left;
}

/* line 40, ../../app/stylesheets/relaunch/_default.css.scss */
.content {
  width: 100%;
  max-width: 95%;
  margin: auto;
}

/* line 1, ../../app/stylesheets/relaunch/_links.css.scss */
a {
  font-size: 12px;
  color: #333;
  text-decoration: none;
}
/* line 5, ../../app/stylesheets/relaunch/_links.css.scss */
a:visited {
  font-size: 12px;
  color: #333;
  text-decoration: none;
}
/* line 10, ../../app/stylesheets/relaunch/_links.css.scss */
a:hover {
  color: #F00;
  text-decoration: inherit;
}
/* line 14, ../../app/stylesheets/relaunch/_links.css.scss */
a:active {
  color: #444;
}
/* line 17, ../../app/stylesheets/relaunch/_links.css.scss */
a:focus {
  outline: none;
}

/* line 1, ../../app/stylesheets/relaunch/_header.css.scss */
header {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1001;
  float: left;
  background: url(../images/bg_header.png);
  background-image: -webkit-image-set(url(../images/bg_header.png) 1x, url(../images/bg_header@2x.png) 2x);
}

/* line 13, ../../app/stylesheets/relaunch/_header.css.scss */
.logo {
  width: 220px;
  padding: 36px 0 0 38px;
  margin: -3px 0 0 0;
  float: left;
  background: url(../images/bg_logo.png) center center no-repeat;
  background-image: -webkit-image-set(url(../images/bg_logo.png) 1x, url(../images/bg_logo@2x.png) 2x);
  z-index: 1;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
  color: #999;
}

/* line 27, ../../app/stylesheets/relaunch/_header.css.scss */
nav {
  width: 470px;
  margin: auto;
}
/* line 30, ../../app/stylesheets/relaunch/_header.css.scss */
nav ul {
  float: left;
  margin-right: 20px;
}
/* line 34, ../../app/stylesheets/relaunch/_header.css.scss */
nav li {
  float: left;
  list-style: none;
  padding: 17px 1px 17px 1px;
}
/* line 38, ../../app/stylesheets/relaunch/_header.css.scss */
nav li a {
  color: #666;
  padding: 7px 10px 6px 10px;
}
/* line 41, ../../app/stylesheets/relaunch/_header.css.scss */
nav li a:visited {
  color: #666;
  padding: 7px 10px 6px 10px;
}
/* line 45, ../../app/stylesheets/relaunch/_header.css.scss */
nav li a:hover {
  color: #000;
  background: #DCDBD4;
  border-radius: 3px;
  box-shadow: inset 0 2px 2px rgba(170, 170, 170, 0.2);
  border: 1px solid #c4c2b5;
  margin: 0 -1px;
}

/* line 57, ../../app/stylesheets/relaunch/_header.css.scss */
.accountbar {
  width: auto;
  margin: 13px 0 0 0;
  float: right;
}
/* line 61, ../../app/stylesheets/relaunch/_header.css.scss */
.accountbar li {
  list-style: none;
  float: left;
  border-left: 1px solid #B1B0AE;
  border: 1px solid #c6c5bd;
  border-radius: 3px;
  box-shadow: 0px 1px 0px #FFF;
  /*		background: url(../images/bg_accountbar.png);
  		box-shadow: 0 2px 2px rgba(170, 170, 170, 0.2);*/
  margin-left: 3px;
}
/* line 71, ../../app/stylesheets/relaunch/_header.css.scss */
.accountbar li:first-child {
  border-left: none;
}
/* line 74, ../../app/stylesheets/relaunch/_header.css.scss */
.accountbar li a {
  height: 24px;
  float: left;
}
/* line 78, ../../app/stylesheets/relaunch/_header.css.scss */
.accountbar li:hover {
  box-shadow: inset 0 10px 20px rgba(48, 66, 81, 0.05);
}
/* line 79, ../../app/stylesheets/relaunch/_header.css.scss */
.accountbar li:hover a span:after {
  position: absolute;
  left: 24px;
  top: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  border-bottom: 5px solid #000;
}
/* line 91, ../../app/stylesheets/relaunch/_header.css.scss */
.accountbar li a.add, .accountbar li a.profil {
  width: auto;
  padding: 0 8px;
  height: 25px;
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 100, ../../app/stylesheets/relaunch/_header.css.scss */
.accountbar li a.add .icon {
  width: 20px;
  height: 25px;
  float: left;
  margin: 0px 5px 0 -8px;
  padding: 0px 3px 0 3px;
  background-color: #87b346;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97c24e), to(#78a43e));
  background-image: -webkit-linear-gradient(top, #97c24e, #78a43e);
  background-image: -moz-linear-gradient(top, #97c24e, #78a43e);
  background-image: -o-linear-gradient(top, #97c24e, #78a43e);
  background-image: -ms-linear-gradient(top, #97c24e, #78a43e);
  background-image: linear-gradient(top, #97c24e, #78a43e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#97c24e', EndColorStr='#78a43e');
  border-radius: 3px 0 0 3px;
}
/* line 117, ../../app/stylesheets/relaunch/_header.css.scss */
.accountbar li p {
  float: left;
  margin: 3px 4px 0 0px;
  color: #888;
  /*text-shadow: 0 1px 0 #E8E7E3;*/
  text-transform: none;
}
/* line 124, ../../app/stylesheets/relaunch/_header.css.scss */
.accountbar li .icon {
  width: 20px;
  float: left;
  margin-top: -2px;
  text-align: center;
  font-size: 30px;
  font-family: 'EntypoRegular', sans-serif;
  color: #666;
  text-shadow: 0 1px 0 #E8E7E3;
}

/* line 137, ../../app/stylesheets/relaunch/_header.css.scss */
li a.add .icon {
  margin-top: -4px;
  color: #FFF;
  text-shadow: 0 1px 0 #000;
}

/* line 143, ../../app/stylesheets/relaunch/_header.css.scss */
.profil p {
  margin-left: 20px;
  float: left;
}

/* line 148, ../../app/stylesheets/relaunch/_header.css.scss */
.accountbar select {
  float: left;
  border: none;
  padding: 6px 10px 6px 0;
  margin: 0 2px 0 8px;
  background: url(../images/bg_accountbar-select.png) no-repeat right;
  background-position-y: 6px;
  color: #666;
  text-shadow: 0 1px 0 #E8E7E3;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 1, ../../app/stylesheets/relaunch/_toolbar.css.scss */
#toolbar {
  width: 100%;
  height: 52px;
  position: absolute;
  top: 50px;
  float: left;
  background: url(../images/bg_toolbar.png) #304151;
  background-image: -webkit-image-set(url(../images/bg_toolbar.png) 1x, url(../images/bg_toolbar@2x.png) 2x);
  box-shadow: 0px 0px 10px #444;
  z-index: 998;
}
/* line 11, ../../app/stylesheets/relaunch/_toolbar.css.scss */
#toolbar .content {
  max-width: 640px;
}

/* line 16, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.searchbar {
  float: left;
}
/* line 18, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.searchbar input {
  width: 160px;
  float: left;
  margin: 7px 0 0 0;
  padding: 11px 0px 9px 4px;
  border: 1px solid #000;
  border-radius: 3px 0 0 3px;
  box-shadow: 0px 1px 0px #566D82;
  background: #A4ACB4;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 40, ../../app/stylesheets/relaunch/_toolbar.css.scss */
::-webkit-input-placeholder, ::-moz-placeholder, input:-moz-placeholder {
  color: #2D3D4D;
}

/* firefox 19+ */
/* line 46, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.searchbar input:focus {
  width: 200px;
  background: #FFF;
}

/* line 51, ../../app/stylesheets/relaunch/_toolbar.css.scss */
#toolbar .searchbar button {
  float: left;
  margin-left: 0px;
  border-left: none;
  border-radius: 0 3px 3px 0;
  padding: 2px 10px 2px 10px;
  font-family: 'EntypoRegular', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

/* line 62, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.searchbar button a {
  color: #FFF;
}

/* line 66, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter {
  float: left;
  margin: 7px 20px 0  20px;
  box-shadow: 0px 1px 0px #566D82;
  border: 1px solid #000;
  border-radius: 3px;
}
/* line 72, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li {
  width: 44px;
  height: 36px;
  float: left;
  cursor: pointer;
  border-right: 1px solid #000;
  opacity: 0.2;
  background: url(../images/bg_button.png) #4c6277 top right no-repeat;
  background-image: -webkit-image-set(url(../images/bg_button.png) 1x, url(../images/bg_button@2x.png) 2x);
  list-style: none;
}
/* line 73, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li.active {
  opacity: 1;
}
/* line 85, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li:hover {
  box-shadow: inset 0 10px 20px rgba(48, 66, 81, 0.3);
}
/* line 88, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li:last-child {
  border-radius: 0 3px 3px 0;
  border-right: none;
}
/* line 92, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li:first-child {
  border-radius: 3px 0 0 3px;
}
/* line 96, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter label {
  display: none;
}
/* line 99, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter input[type=checkbox] {
  width: 44px;
  height: 36px;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 111, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li.yes input[type=checkbox] {
  background-image: url(../images/marker-yes.png);
}
/* line 114, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li.limited input[type=checkbox] {
  background-image: url(../images/marker-limited.png);
}
/* line 117, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li.no input[type=checkbox] {
  background-image: url(../images/marker-no.png);
}
/* line 120, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li.unknown input[type=checkbox] {
  background-image: url(../images/marker-unknown.png);
}
/* line 123, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li .tooltip {
  width: 168px;
  height: auto;
  background: #FFF;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: -60px;
  z-index: 100;
  text-indent: 0px;
  box-shadow: 0px 3px 5px #444;
  border-radius: 4px;
  display: none;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
/* line 141, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li .tooltip:after {
  position: absolute;
  left: 76px;
  top: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
}

/* line 153, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.yes .tooltip:after {
  border-bottom: 7px solid #97c34e;
}

/* line 157, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.limited .tooltip:after {
  border-bottom: 7px solid #F1BD56;
}

/* line 161, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.no .tooltip:after {
  border-bottom: 7px solid #E5002A;
}

/* line 165, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.unknown .tooltip:after {
  border-bottom: 7px solid #A5A5A6;
}

/* line 169, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.wc .tooltip:after {
  border-bottom: 7px solid #FFFFFF;
}

/* line 173, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.tooltip h3 {
  width: 90%;
  padding: 10px 5% 6px 5%;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
}

/* line 182, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.yes h3 {
  background-color: #87b346;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97c34e), to(#78a33e));
  background-image: -webkit-linear-gradient(top, #97c34e, #78a33e);
  background-image: -moz-linear-gradient(top, #97c34e, #78a33e);
  background-image: -o-linear-gradient(top, #97c34e, #78a33e);
  background-image: -ms-linear-gradient(top, #97c34e, #78a33e);
  background-image: linear-gradient(top, #97c34e, #78a33e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#97c34e', EndColorStr='#78a33e');
  color: #222;
}

/* line 194, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.limited h3 {
  background: #F1BD56;
  color: #222;
}

/* line 199, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.no h3 {
  background: #E5002A;
  color: #39000A;
}

/* line 204, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.unknown h3 {
  background: #A5A5A6;
  color: #222;
}

/* line 209, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.tooltip p {
  font-size: 11px;
  line-height: 14px;
  color: #333;
  width: 90%;
  padding: 10px 5% 10px 5%;
}

/* line 217, ../../app/stylesheets/relaunch/_toolbar.css.scss */
.ort-filter li.active:hover .tooltip {
  display: block;
}

/* line 222, ../../app/stylesheets/relaunch/_toolbar.css.scss */
#toolbar select {
  float: left;
  width: auto;
  padding: 11px 22px 9px 10px;
  margin: 7px 0 0 0px;
  border: 1px solid #000;
  background: url(/images/bg_select.png) #4c6277 top right no-repeat;
  background-image: -webkit-image-set(url(/images/bg_select.png) 1x, url(/images/bg_select@2x.png) 2x);
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 1px 0 #000;
  box-shadow: 0px 1px 0px #566D82;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 240, ../../app/stylesheets/relaunch/_toolbar.css.scss */
#toolbar select:hover {
  box-shadow: 0px 1px 0px #566d82, inset 0 10px 20px rgba(48, 66, 81, 0.3);
  cursor: pointer;
}
/* line 245, ../../app/stylesheets/relaunch/_toolbar.css.scss */
#toolbar button:hover {
  box-shadow: 0px 1px 0px #566d82, inset 0 10px 20px rgba(48, 66, 81, 0.3);
  cursor: pointer;
}
/* line 249, ../../app/stylesheets/relaunch/_toolbar.css.scss */
#toolbar optgroup {
  background: #F00;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 256, ../../app/stylesheets/relaunch/_toolbar.css.scss */
#toolbar button {
  padding: 11px 10px 9px 10px;
  margin: 7px 0 0 10px;
  padding: 10px 20px;
  float: left;
  background: url(../images/bg_button.png) #4c6277 top right no-repeat;
  background-image: -webkit-image-set(url(../images/bg_button.png) 1x, url(../images/bg_button@2x.png) 2x);
  box-shadow: 0px 1px 0px #566D82;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 1px 0 #000;
}

/* line 1, ../../app/stylesheets/relaunch/_map.css.scss */
#map {
  width: 100%;
  float: left;
  margin: 100px 0 0 0;
  background: #E8E0D8;
}

/* line 8, ../../app/stylesheets/relaunch/_map.css.scss */
.leaflet-marker-icon, .leaflet-div-icon, .leaflet-clickable, .leaflet-zoom-animated-div-icon {
  border: 0px solid red !important;
}

/* line 12, ../../app/stylesheets/relaunch/_map.css.scss */
.wheelchair-yes {
  background: transparent url("/images/marker_yes.png") 0 0 !important;
}

/* line 16, ../../app/stylesheets/relaunch/_map.css.scss */
.wheelchair-no {
  background: transparent url("/images/marker_no.png") 0 0 !important;
}

/* line 20, ../../app/stylesheets/relaunch/_map.css.scss */
.wheelchair-limited {
  background: transparent url("/images/marker_limited.png") 0 0 !important;
}

/* line 24, ../../app/stylesheets/relaunch/_map.css.scss */
.wheelchair-unknown {
  background: transparent url("/images/marker_unknown.png") 0 0 !important;
}

/* line 28, ../../app/stylesheets/relaunch/_map.css.scss */
.leaflet-popup {
  background-color: #FFF;
}

/* line 5, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent {
  width: 280px;
  overflow: hidden;
}
/* line 9, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent a.more {
  overflow: hidden;
  white-space: nowrap;
  font-size: 11px;
  font-weight: normal;
  text-align: left;
  padding-left: 20px;
  text-decoration: underline;
  display: block;
}
/* line 19, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent h2 {
  background-position: 0 2px;
  padding-left: 20px;
}
/* line 23, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent address {
  padding-left: 20px;
}
/* line 26, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent input {
  float: left;
  margin-right: 10px;
}
/* line 30, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent label {
  width: auto;
}
/* line 33, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent #update_button {
  position: static;
  float: right;
}
/* line 37, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent #update_spinner {
  display: none;
  float: right;
  margin-right: 5px;
}
/* line 42, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent ol {
  border-top: 1px #cfd7c5 solid;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  margin-top: 7px;
  padding-top: 7px;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent li,
.olFramedCloudPopupContent label {
  float: left;
  font-size: 11px;
  line-height: 15px;
  margin: 0px 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -khtml-border-radius: 0px !important;
  border-radius: 0px !important;
}
/* line 57, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent label {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-weight: bold;
  padding-right: 10px;
  text-align: left;
  line-height: 8px;
}
/* line 64, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent li {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Swiss 721 Light", "Helvetica", "Arial", "sans-serif";
  font-size: 11px;
  font-weight: 100;
}
/* line 69, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent li strong {
  font-family: "HelveticaNeue", "Helvetica", "Swiss 721", "Arial", "sans-serif";
  font-weight: bold;
}
/* line 74, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent .yes label {
  color: #86af4d;
}
/* line 78, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent .limited label {
  color: #f19d46;
}
/* line 82, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent .no label {
  color: #d6382f;
}
/* line 86, ../../app/stylesheets/partials/map/_popup.sass */
.olFramedCloudPopupContent.unknown label {
  color: #8d8d8e;
}

/* line 1, ../../app/stylesheets/relaunch/_footer.css.scss */
#footer {
  width: 100%;
  height: 30px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background: #EDECEA;
  border-top: 1px solid #FFF;
  box-shadow: 0px -1px 3px #999999;
}
/* line 11, ../../app/stylesheets/relaunch/_footer.css.scss */
#footer ul.social {
  float: left;
}
/* line 14, ../../app/stylesheets/relaunch/_footer.css.scss */
#footer ul.credits {
  float: right;
}
/* line 18, ../../app/stylesheets/relaunch/_footer.css.scss */
#footer li {
  border-right: 1px solid #CCCAC0;
  padding: 7px 8px 4px 8px;
  list-style: none;
  float: left;
  font-size: 12px;
  color: #666;
}
/* line 23, ../../app/stylesheets/relaunch/_footer.css.scss */
#footer li span {
  float: left;
}
/* line 26, ../../app/stylesheets/relaunch/_footer.css.scss */
#footer li img {
  float: left;
  margin-left: 4px;
}
/* line 33, ../../app/stylesheets/relaunch/_footer.css.scss */
#footer a {
  font-size: 12px;
  color: #666;
}

/* line 39, ../../app/stylesheets/relaunch/_footer.css.scss */
.social li {
  overflow: visible;
  border: none;
  margin-top: -3px;
}

/* line 45, ../../app/stylesheets/relaunch/_footer.css.scss */
#footer .counter {
  float: left;
  margin-right: 10px;
  margin-top: 0;
}
/* line 49, ../../app/stylesheets/relaunch/_footer.css.scss */
#footer .counter td {
  padding: 2px 2px;
  color: gray;
  font-family: "HelveticaNeue","Helvetica","Swiss 721","Arial","sans-serif";
  line-height: 18px;
  height: 18px;
}
/* line 56, ../../app/stylesheets/relaunch/_footer.css.scss */
#footer .counter span {
  font-size: 13px;
  border: 1px solid #ccc;
  border-left: 0;
  padding: 1px 4px;
  margin-left: 5px;
  background: url(/images/bubble-left.png) no-repeat -5px center;
}
