/*
Syntax error: File to import not found or unreadable: basics/api_docs.sass.
              Load paths:
                /Users/christoph/Projects/wheelmap/app/stylesheets
                /Users/christoph/Projects/wheelmap/public/stylesheets/sass
                /Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/compass-0.10.6/frameworks/blueprint/stylesheets
                /Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/compass-0.10.6/frameworks/_blueprint_deprecated_imports/stylesheets
                /Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/compass-0.10.6/frameworks/compass/stylesheets
                /Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/compass-0.10.6/frameworks/_compass_deprecated_imports/stylesheets
                /Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/redgreengrid-0.3.2/sass
        on line 18 of /Users/christoph/Projects/wheelmap/app/stylesheets/screen.sass

13: @import basics/icons.sass
14: @import basics/open_layers.sass
15: @import basics/header.sass
16: @import basics/nav.sass
17: @import basics/forms.sass
18: @import basics/api_docs.sass
19: @import basics/main.sass
20: 
21: @import partials/map/footer
22: @import partials/map/aside
23: @import partials/map/lists

Backtrace:
/Users/christoph/Projects/wheelmap/app/stylesheets/screen.sass:18
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/import_node.rb:98:in `import'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/import_node.rb:28:in `full_filename'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/import_node.rb:63:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets_without_lemonade'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets_without_lemonade'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets_without_lemonade'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/lemonade-0.3.4/lib/lemonade.rb:27:in `update_stylesheets'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/christoph/Projects/wheelmap/lib/rack_request_logger.rb:26:in `call'
/Users/christoph/Projects/wheelmap/lib/rack_i18n_locale_switcher.rb:28:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/warden-1.0.3/lib/warden/manager.rb:35:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@global/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@global/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@global/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@global/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@global/gems/rack-1.2.2/lib/rack/lock.rb:11:in `synchronize'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@global/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/hoptoad_notifier-2.4.8/lib/hoptoad_notifier/user_informer.rb:12:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/railties-3.0.3/lib/rails/application.rb:77:in `send'
/Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/Users/christoph/Library/Application Support/Pow/Versions/0.3.0/node_modules/nack/lib/nack/server.rb:146:in `handle'
/Users/christoph/Library/Application Support/Pow/Versions/0.3.0/node_modules/nack/lib/nack/server.rb:99:in `start'
/Users/christoph/Library/Application Support/Pow/Versions/0.3.0/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/christoph/Library/Application Support/Pow/Versions/0.3.0/node_modules/nack/lib/nack/server.rb:86:in `start'
/Users/christoph/Library/Application Support/Pow/Versions/0.3.0/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/christoph/Library/Application Support/Pow/Versions/0.3.0/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/christoph/Library/Application Support/Pow/Versions/0.3.0/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/christoph/Library/Application Support/Pow/Versions/0.3.0/node_modules/nack/bin/nack_worker:4
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: basics/api_docs.sass.\A               Load paths:\A                 /Users/christoph/Projects/wheelmap/app/stylesheets\A                 /Users/christoph/Projects/wheelmap/public/stylesheets/sass\A                 /Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/compass-0.10.6/frameworks/blueprint/stylesheets\A                 /Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/compass-0.10.6/frameworks/_blueprint_deprecated_imports/stylesheets\A                 /Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/compass-0.10.6/frameworks/compass/stylesheets\A                 /Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/compass-0.10.6/frameworks/_compass_deprecated_imports/stylesheets\A                 /Users/christoph/.rvm/gems/ruby-1.8.7-p334@wheelmap/gems/redgreengrid-0.3.2/sass\A         on line 18 of /Users/christoph/Projects/wheelmap/app/stylesheets/screen.sass\A \A 13: @import basics/icons.sass\A 14: @import basics/open_layers.sass\A 15: @import basics/header.sass\A 16: @import basics/nav.sass\A 17: @import basics/forms.sass\A 18: @import basics/api_docs.sass\A 19: @import basics/main.sass\A 20: \A 21: @import partials/map/footer\A 22: @import partials/map/aside\A 23: @import partials/map/lists"; }
