$text-color: #333333
$background-color: #FFF7D9
$border-color: #666666
$green: #a1c175
$orange: #F19D46

$light-green: lighten($green, 10%)
$bright-green: lighten($green, 20%)
$yes_orig: #a8c468
$yes: #86af4d
$no_orig: #e98989
$no: #D6382F
$limited: #F19D46
$unknown_orig: #b7b7b7
$unknown: #8D8D8E
$limited_orig: #e8d787

