div[id^='OpenLayers\.Layer\.OSM\.Mapnik']
  opacity: 0.5
  
div[id^='OpenLayers\.Layer\.OSM\.Attribution']
  bottom: 10px
  color: rgba(black, 0.8)
  font-family: $helvetica
  font-size: 11px
  left: 32px
  //right: 17px
  +text-shadow(rgba(white, 0.5), 0, 1px, 1px)

div[id^='OpenLayers.Control.Attribution']
  position: relative !important
  top: 3px
  left: 20px
  padding: 5px 8px 1px 8px
  position: absolute
  font-size: 11px
  font-style: italic
  z-index: 1000
  float: left

div[id^='OpenLayers.Control.Permalink']
  position: relative !important
  top: 3px
  left: 10px
  padding: 5px 8px 1px 8px
  position: absolute
  font-size: 11px
  font-style: italic
  z-index: 1000
  float: left
