%ul
  %li{class: action_name == 'show' ? :active : nil}
    = link_to profile_path do
      %i.icon-large.icon-list-alt
      =t('.overview')

  %li{class: action_name == 'photos' ? :active : nil}
    = link_to profile_photos_path do
      %i.icon-large.icon-picture
      =t('.pictures')

  %li{class: action_name == 'newsletter' ? :active : nil}
    = link_to newsletter_profile_path do
      %i.icon-large.icon-envelope
      =t('.newsletter')

  %li{class: action_name == 'edit' || action_name == 'update' ? :active : nil}
    = link_to edit_profile_path do
      %i.icon-large.icon-user
      =t('.profile')