- content_for :user_headline do
  %h2=t('users.profile.newsletter.title')

= render layout: 'profile' do

  .tab-pane.active.user-newsletter
    /%p=t('.newsletter_text')
    %p.user-newsletter-text
      =t('users.profile.newsletter.text')

    :plain
      <div id="wufoo-m1bguls20yb7dj2"></div>
      <script type="text/javascript">var m1bguls20yb7dj2;(function(d, t) {
        var s = d.createElement(t), options = {
          'userName':'sozialhelden',
          'formHash':'m1bguls20yb7dj2',
          'autoResize':true,
          'height':'342',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true
        };
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { m1bguls20yb7dj2 = new WufooForm();m1bguls20yb7dj2.initialize(options);m1bguls20yb7dj2.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>