- content_for :user_headline do
  %h2=t('users.profile.photos.title')

= render layout: 'profile' do
  .tab-pane.active
    .user-photos
      - unless @photos.empty?
        .user-photo-thumbnails.clearfix
          - @photos.each do |photo|
            .user-photo-thumbnail
              = link_to_photo(photo)
        .center
          = paginate @photos
      - else
        .center
          = t('users.profile.photos.empty')