= render layout: 'profile' do
  .tab-pane.active#images
    %h1= t('.headline.your_images')
    #thumbs_private2
      %ul.thumbnails
        - @user.photos.each do |photo|
          %li.span3{style: 'margin-left:20px;'}
            = link_to_photo(photo)

