- content_for :user_headline do
  %h2
    - if @user.first_name.present?
      = t('users.profile.show.greeting.personalized', name: @user.first_name)
    - else
      = t('users.profile.show.greeting.anonymously')


= render layout: 'profile' do
  .tab-pane.active
    %p=t('users.profile.show.text_html')

    %h5=t('users.profile.show.overview.text')

    .row-fluid
      %div
        .span6
          =t('users.profile.show.overview.pois_marked', count: @user.tag_counter)
        .span6
          =t('users.profile.show.overview.pois_added', count: @user.create_counter)

      %div
        .span6
          =t('users.profile.show.overview.pois_edited', count: @user.edit_counter)
        .span6
          =t('users.profile.show.overview.photos_uploaded', count: @user.photos.count)