- content_for :user_headline do
  %h2.headline=t('users.profile.widget.title')

= render layout: 'profile' do
  .tab-pane.active.user-widget
    %p
      =t('users.profile.widget.legends.general')

    =react_component('Widget', defaultProviders: @widget.providers, defaultProviderId: @widget.provider_id, defaultCategory: @widget.categories, defaultLon: @widget.lon, defaultLat: @widget.lat, defaultBoundingBox: @widget.bounding_box, defaultWidth: @widget.width, defaultHeight: @widget.height, defaultSrc: embed_url(:key => @widget.api_key), defaultResource: widgets_path(:id => @widget.id))


- content_for :javascript do
  = javascript_include_tag 'components'
  = javascript_include_tag "i18n/#{I18n.locale}"
