- content_for :user_headline do
  %h2.headline=t('users.profile.widget.title')

= render layout: 'profile' do
  .tab-pane.active.user-widget
    %p
      =t('users.profile.widget.legends.general')

    =react_component('Wheelmap.WidgetBuilder', widget: @widget.as_api_response(:api_simple))

- content_for :javascript do
  = javascript_include_tag 'application'
  = javascript_include_tag "i18n/#{I18n.locale}"
