%h2=t('devise.mailer.confirmation_instructions.subject')
%p=t('devise.mailer.confirmation_instructions.landing_page', :link => link_to(t('devise.edit.form.labels.email'), new_user_confirmation_path)).html_safe
