- if (Rails.env.production? || Rails.env.test?) && flash[:view]
  :javascript
    _gaq.push(['_trackPageview', "#{flash[:view]}"]);
    _gaq.push(['_gat._anonymizeIp']);
    _gaq.push(['_setSiteSpeedSampleRate, 100]);
