<header>
  <div class="content">
    <a href="#" class="logo">find wheelchair accessible places</a>
    <ul class="accountbar">
      <li>
        <a href="#"  class="add">
        <div class="icon">&#10133;</div>
          <p>Ort hinzufügen</p>
        </a>
      </li>

      <li>
        <a href="#" class="profil">
          <div class="icon">&#128100;</div>
          <p>Login</p>
        </a>
      </li>
      <li>
        <select>
          <optgroup label="Sprache wählen">
          <option selected="" value="Deutsch">Deutsch</option>
          <option value="http://wheelmap.org/bg">български</option>
          <option value="http://wheelmap.org/cs">српски</option>
          <option value="http://wheelmap.org/da">Danske</option>
          <option value="Deutsch">Deutsch</option>
          <option value="http://wheelmap.org/el">Ελληνικά</option>
          <option value="http://wheelmap.org/en">English</option>
          <option value="http://wheelmap.org/es">Español</option>
          <option value="http://wheelmap.org/fr">Français</option>
          <option value="http://wheelmap.org/is">Íslenska</option>
          <option value="http://wheelmap.org/it">Italiano</option>
          <option value="http://wheelmap.org/lv">Latviešu</option>
          <option value="http://wheelmap.org/pl">Polski</option>
          <option value="http://wheelmap.org/ru">Русский</option>
          <option value="http://wheelmap.org/se">Svenska</option>
          <option value="http://wheelmap.org/tlh">tlhIngan Hol</option>
          <option value="http://wheelmap.org/tr">Türkçe</option>
          </optgroup>
        </select>
      </li>
    </ul>
    <nav>
      <ul>
      <li><a href="#">Über Wheelmap</a></li>
      <li><a href="#" class="active">Karte</a></li>
      <li><a href="#">Mitmach-Projekte</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Presse</a></li>
      <li><a href="#">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>