/ meta start
- cache("#{I18n.locale}/shared/_meta.html.haml'}", :expires_in => 1.hour) do
  %meta(charset="utf-8")
  %meta{'http-equiv' => 'Content-language', :content => I18n.locale}
  %meta{:name => 'language', :content => I18n.locale}
  - RELEASE_INFO.each do |k,v|
    %meta{:name => k, :content => v}
  - if Rails.application.assets.find_asset "wm_logo_#{I18n.locale}.png"
    =render_og_metadata(:type => 'website', :title => "Wheelmap.org", :url => root_url, :description => t('header.title'), :image => image_path("wm_logo_#{I18n.locale}.png"), :locale => I18n.locale)
  - else
    =render_og_metadata(:type => 'website', :title => "Wheelmap.org", :url => request.url, :description => t('header.title'), :image => image_path("wm_logo_en.png"), :locale => I18n.locale, :'locale:alternate' => (I18n.available_locales - [I18n.locale]))

  - unless Rails.env.production?
    %meta{:name => 'robots', :content => 'noindex, nofollow'}
  - else
    %meta{:name => 'robots', :content => 'follow index'}

  - I18n.available_locales.each do |locale|
    - next if locale == I18n.locale
    %link{ :rel => "alternate", :hreflang => locale, :href => url_for(:only_path => false, :locale => locale)}

  %meta{:name => "apple-itunes-app", :content =>"app-id=399239476"}
  %meta{:name => "google-site-verification", :content => "ANQCVlgXNpnBdZInKyE4eWMeNPq-cIckJGMyEYPXNec"}

  %link{:href => search_index_url,  :rel => 'search', :title => t('header.meta.search')}
  %link{:href => root_url,  :rel => 'home', :title => t('header.meta.homepage')}
  %link{:href => 'http://www.openstreetmap.org/copyright/en', :rel => 'copyright',  :title => t('header.navigation.imprint')}
  =favicon_link_tag('/favicon.ico')

  :javascript
    #{var_language}

/ meta end