%meta(charset="utf-8")
%meta{'http-equiv' => 'Content-language', :content => I18n.locale}
%meta{:name => 'language', :content => I18n.locale}
%meta{:name => 'copyright', :content => 'Sozialhelden e.V'}
=render_og_metadata(:type => 'website', :title => "Wheelmap.org", :url => root_url, :description => t('header.title'), :image => image_path("wm_logo_#{I18n.locale}.png"), :locale => I18n.locale)

- unless Rails.env.production?
  %meta{:name => 'robots', :content => 'noindex, nofollow'}
- else
  %meta{:name => 'robots', :content => 'follow index'}

%meta{:name => "google-site-verification", :content => "ANQCVlgXNpnBdZInKyE4eWMeNPq-cIckJGMyEYPXNec"}

%link{:href => search_index_url, :rel => 'search', :title => t('header.meta.search')}
%link{:href => root_url, :rel => 'home', :title => t('header.meta.homepage')}
%link{:href => 'http://blog.wheelmap.org/kontakt/', :rel => 'copyright', :title => t('header.navigation.imprint')}
=favicon_link_tag('/favicon.ico')

:javascript
  var language = '#{I18n.locale}';