= link_to(url_for(:protocol => 'https', :host => "www.paypal.com/cgi-bin/webscr", :locale => 'de', :cmd => "_s-xclick", :hosted_button_id => "5YJJLMX2MUYA4"), :style => "display:block;float:right;padding-top:4px;margin-right:-4px", :target => "_blank") do
  = image_tag("btn_donate_#{I18n.locale}.gif", :style => "border:0px", :size => '73x44')
