<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5YJJLMX2MUYA4" style="display:block;float:right;padding-top:4px" target="_blank">
  <%= image_tag("btn_donate_#{I18n.locale}.gif", :style => "border:0px") %>
  <img alt="" style="border:0px" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</a>
