<div id="toolbar">
  <div class="content">
  <div class="searchbar">
    <input type="search" name="" value="" placeholder="Nach Orten suchen" />
    <button>&#128269;</button>
  </div>
  <ul class="ort-filter">
    <li class="yes active">
      <label>Ja</label>
      <input type="checkbox" name="" value="" />
      <div class="tooltip">
        <h3>Rollstuhlgerecht</h3>
        <p>Eingang stufenlos, alle Räume stufenlos, mit behindertengerechtem WC, falls ortsüblich.</p>
      </div>
    </li>
    <li class="limited active">
      <label>Teilweise</label>
      <input type="checkbox" name="" value="" />
      <div class="tooltip">
        <h3>Teilweise Rollstuhlgerecht</h3>
        <p>Eingang max 1 Stufe (7cm hoch), die wichtigsten Räume stufenlos, WC egal.</p>
      </div>
    </li>
    <li class="no active">
      <label>Nein</label>
      <input type="checkbox" name="" value="" />
      <div class="tooltip">
        <h3>Nicht Rollstuhlgerecht</h3>
        <p>Eingang hat höhere oder mehrere Stufen, Räume nicht erreichbar.</p>
      </div>
    </li>
    <li class="unknown active">
      <label>Unbekannter Status</label>
      <input type="checkbox" name="" value="" />
      <div class="tooltip">
        <h3>Unbekannter Status</h3>
        <p>Hilf mit und markiere diese Orte!</p>
      </div>
    </li>
  </ul>
  <select>
    <option>Alle Kategorien</option>
    <option>Banken &amp; Post</option>
    <option>Behörden</option>
    <option>Bildung</option>
    <option>Einkaufen</option>
    <option>Essen &amp; Trinken</option>
    <option>Freizeit</option>
    <option>Gesundheit</option>
    <option>Sport</option>
    <option>Tourismus</option>
    <option>Unterkünfte</option>
    <option>Verkehr</option>
  </select>
<!--      <button>WC</button>-->

  </div>
</div>