.box
  width: 550px
  margin-bottom: 20px
  padding: 30px
  color: #333
  float: left
  +vertical-gradient(white, desaturate(lighten($green, 35%), 35%))

  label
    vertical-align: middle
    line-height: 34px

    &.checked
      &.yes
        color: $yes
  
      &.limited
        color: $limited
  
      &.no
        color: $no
  
      &.unknown
        color: $unknown
    
    
    
