#map_wrapper
  width: 500px
  height: 430px
  float: right
  margin-bottom: 1em
  #minimap
    height: 430px
    width: 500px
    background-color: $background-color
    border: 1px solid #CCC

  a.magnify
    padding-right: 20px

  a.hide
    display: none

#minimap.create-node
  cursor: crosshair

