#filter{:class => cookies['minimized_filter'] == 'true' ? 'minimized' : ''}
  = render :partial => 'home/wheelchair_status_filter'
#categories{:class => cookies['minimized_categories'] == 'true' ? 'minimized' : ''}
  = render :partial => 'home/category_filter'
#counter{:class => cookies['minimized_counter'] == 'true' ? 'minimized' : ''}
  = render :partial => 'home/tag_counter'
#spinner

-content_for :javascript do
  = render :partial => 'shared/google_event_tracking'
