- content_for :map do
  #filter
    = render :partial => 'home/wheelchair_status_filter'
  #categories
    = render :partial => 'home/category_filter'
  #counter
    = render :partial => 'home/tag_counter'
  #spinner