- content_for :javascript do
  :javascript
    $(document).ready(function() {
      var height = $(window).height();
        var headerheight = 102;
        $('#map').css('height', height-headerheight);

          $(window).resize(function() {
              var height = $(window).height();
              var headerheight = 102;
              $('#map').css('height', height-headerheight);
          });



        $('.ort-filter li').click(function() {
          $(this).toggleClass('active');
        });



      addEventListener("load", function() { setTimeout(hideURLbar, 100); }, false);
      function hideURLbar() {

             window.scrollTo(0,0);
         }
    });

%section#map