- content_for :javascript do
  :javascript
    window.onload=function(){
      $('.selectpicker').selectpicker();
    };
    requestNodes(map.getBounds());
%section#map
= render :partial => 'relaunch/popup_template'
= render :partial => 'overlay'