%h1 Node Types
%table{style: 'width: 100%'}
  %tr
    %th=t('formtastic.labels.name')
    %th='Icon'
    %th='Key - Value'
    %th='Amount'
  - @node_types.group_by(&:category).each do |category, node_types|
    %tr
      %td
        %h2=category.localized_name
      %td{:colspan => 6}
    = render :partial => 'node_type', :collection => node_types