<div class="node-popup-edit btn-group">
    <a {{ bind-attr href=showPath }} class="btn details">
      {{ t 'nodes.node_edit.details' }}
    </a>

    {{#link-to 'nodes.edit' this class='btn edit' }}<i class="icon-pencil"></i>{{/link-to}}
</div>