<div class="node-popup-share btn-group dropdown">
  <button class="dropdown-toggle btn wheelmap-btn" data-toggle="dropdown">
    <i class="icon-share"></i>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li>{{twitter-share osmId=id name=headline lang=I18n.locale }}</li>
    <li>{{facebook-share osmId=id }}</li>
    <li>{{email-share osmId=id name=headline }}</li>
  </ul>
</div>
