<div class="node-popup-share btn-group dropdown">
  <button class="dropdown-toggle btn" data-toggle="dropdown">
    <i class="icon-share"></i>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="http://twitter.com/share?dnt=true&hashtags=wheelmap&lang=de&related=wheelmap%2Csozialhelden&text=Ich+habe+folgenden+Ort+auf+Wheelmap.org+gefunden%3A+Umspannwerk&url=http%3A%2F%2Fstaging.wheelmap.org%2Fnodes%2F30012753" data-name="twitter" data-toggle="share" target="_blank">
        <i class="icon-twitter icon-fixed-width"></i>
        Twitter
      </a>
    </li>
  </ul>
</div>
