<div class="node-popup-share btn-group dropdown">
  <button class="dropdown-toggle btn" data-toggle="dropdown">
    <i class="icon-share"></i>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li>
      {{ twitter-share name=name lang=I18n.locale osm_id=osm_id }}
    </li>
  </ul>
</div>
