<div class="node-popup-share btn-group dropdown">
  <button class="dropdown-toggle btn" data-toggle="dropdown">
    <i class="icon-share"></i>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li>{{ twitter-share osm_id=osm_id name=name lang=I18n.locale }}</li>
    <li>{{ facebook-share osm_id=osm_id }}</li>
    <li>{{ email-share osm_id=osm_id name=name }}</li>
  </ul>
</div>
