# Require any additional compass plugins here.
require "redgreengrid"
require "bootstrap-sass"

project_path = Rails.try(:root)
environment = Rails.try(:env)
# Set this to the root of your project when deployed:
http_path = "/"
css_dir = "public/stylesheets"
sass_dir = "app/stylesheets"
style = 'compact'
images_dir = "public/images"
javascripts_dir = "public/javascripts"
# To enable relative paths to assets via compass helper functions. Uncomment:
# relative_assets = true
http_images_path = "/images"
http_stylesheets_path = "/stylesheets"
http_javascripts_path = "/javascripts"

if (environment != "development")
  output_style = :compressed
  line_comments = false
end
