$green: #6AA74A;
$darkBlue: #374656;
$darkBlueLight: desaturate(lighten($darkBlue, 60%), 10%);

$yellowGray: #CCCAC1;
$yellowGrayLight: lighten($yellowGray, 12%);
$yellowGrayLighter: lighten($yellowGray, 15%);