.flash-wrapper {
  @include box-sizing(border-box);
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2000;

  @media (max-width: $breakTablet) {
    top: $headerHeight;
  }
}

.flash {
  @include border-radius(0px);
  @include text-shadow(0px 1px 3px rgba($black, 0.4));
  padding: 10px 20px;
  text-align: center;
  color: #FFF;
  border: none;

  &.fade {
    @include transition(opacity 0.25s);
  }

  &.notice {
    background-color: $wheelchair-yes;
    background-color: rgba($wheelchair-yes, 0.75);
    border-bottom: 1px solid darken($wheelchair-yes, 20%);
  }

  &.alert {
    background-color: $wheelchair-limited;
    background-color: rgba($wheelchair-limited, 0.75);
    border-bottom: 1px solid darken($wheelchair-limited, 20%);
  }

  &.error {
    background-color: $wheelchair-no;
    background-color: rgba($wheelchair-no, 0.75);
    border-bottom: 1px solid darken($wheelchair-no, 20%);
  }
}