$helvetica: 'HelveticaNeue','Helvetica','Swiss 721','Arial','sans-serif';
$helvetica_light: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue','Swiss 721 Light','Helvetica','Arial','sans-serif';

@font-face {
  font-family: 'EntypoRegular';
  src: asset-url('entypo.eot');
  src: asset-url('entypo.eot?#iefix') format("embedded-opentype"), asset-url('entypo.woff') format("woff"), asset-url('entypo.ttf') format("truetype"), asset-url('entypo.svg#EntypoRegular') format("svg");
}
