$helvetica: 'HelveticaNeue','Helvetica Neue','Helvetica','Swiss 721','Arial','sans-serif';
$helvetica_light: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue','Swiss 721 Light','Helvetica','Arial','sans-serif';

@font-face {
  font-family: 'EntypoRegular';
  src: url('entypo.eot');
  src: url('entypo.eot?#iefix') format("embedded-opentype"), url('entypo.woff') format("woff"), url('entypo.ttf') format("truetype"), url('entypo.svg#EntypoRegular') format("svg");
}
