#edit_user.form-horizontal {
  .control-label {
    text-align: left;
  }

  .form-group {
    padding-bottom: 10px;
  }

}

.row-fluid #thumbs_private [class*="span"]:first-child
 {
   margin-left: 20px;
}