#header {
  $btn-add-break: 1290px;

  width: 100%;
  height: $headerHeight;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  float: left;
  background: asset-url('bg_header.png');

  @include if-min-resolution(1.3) {
    background: asset-url('bg_header@2x.png');
  }

  .navbar-inner {
    @include border-radius(0px);
    border: 0px;
    border-bottom: 1px solid $navbarBorder;

    .btn-navbar {
      height: 10px;
      padding: 5px 10px 8px;
    }
  }

  .logo {
    width: 160px;
    height: 35px;
    margin: 7px 0 0 0;
    float: left;
    position: relative;
    background: asset-url('bg_logo.png') center left no-repeat;

    @include if-min-resolution(1.3) {
      background: asset-url('bg_logo@2x.png') center left no-repeat;
      background-size: 150px 32px;
    }

    z-index: 1;
    font-size: 11px;
    font-weight: bold;
    color: #999;
    @media screen and (max-width: 500px) {
      width: 27px;
    }

    span {
      width: 320px;
      position: absolute;
      top: 25px;
      left: 27px;
      font-weight: normal;

      @media screen and (max-width: 550px) {
        display: none;
      }
    }

    .christmas & {
      width: 160px;
      height: 42px;
      background-image: asset-url('bg_logo_christmas.png');
      margin-top: 0;

      @include if-min-resolution(1.3) {
        background-image: asset-url('bg_logo_christmas@2x.png');
        background-size: 150px 39px;
      }

      span {
        top: 32px;
      }
    }
  }
  .btn-toolbar {
    margin-top: 0px;
    .btn {
      color: #555;
      padding: 2px 10px 1px 10px;
      background-position: 0;

      .icon-tags {
        display: none;
      }
    }
    .btn-add {
      @media (max-width: $btn-add-break) {
        @include border-radius(3px);
      }
    }
  }
  .bootstrap-select {
    width: auto;
  }

  @media (max-width: $btn-add-break) {
    .hidden-tablet { display: none !important; }
  }
}

select.language-select {
  width: 120px;
  height: 26px;
  margin-top: 10px;
  margin-bottom: 0px;
  @include appearance(none);
  line-height: 16px;
  &:focus {
    @include highlight(rgba(0, 0, 0, 0));
  }
  @media screen and (max-width: 767px) {
    max-width: 50px;
  }
}

div.language-select {
  .btn {
    @include border-radius(2px);
    max-width: 120px;
    color: #333;
    &:focus {
      @include highlight(rgba(0, 0, 0, 0));
    }
    i {
      margin-right: 4px;
    }
  }
  @media screen and (max-width: 767px) {
    .btn {
      max-width: 50px;
    }
  }
  .dropdown-menu {
    height: 400px;
    border-radius: 3px;
    padding: 5px 0 0 0;
    > li > a {
      padding: 1px 10px 1px 10px !important;
      font-size: 11px;
    }
    li:last-child a {
      border: none;
    }
    dt {
      font-size: 12px;
      padding: 2px 0 0 9px !important;
    }
  }
}

nav {
  .nav-collapse {
    width: auto;
    position: absolute;
    left: 50%;
    margin-left: -240px;
    @media screen and (max-width: 980px) {
      position: relative;
      margin-left: 0px;
      left: auto;
    }
    .list-wrapper {
      text-align: center;
      float: left;
      margin-left: 10px;
      ul.inline {
        display: inline-block;
        margin: 0;
        li {
          float: left;
          list-style: none;
          padding: 15px 1px 5px 1px;
          a {
            color: #666;
            padding: 4px 7px 3px 7px;
            &:visited {
              color: #666;
              padding: 4px 7px 3px 7px;
            }
            &:hover {
              color: #000;
              background: #f5f5f5;
              @include border-radius(3px);
              border: 1px solid #DDD;
              margin: 0 -1px;
            }
          }
        }
      }
    }
  }
}
