.marker-icon-white {
  color: white;
  @include single-text-shadow(rgba(black, 0.5), 0, 1px, 1px);
}

.leaflet-div-icon {
  border: 0;
}

.leaflet-marker-icon {
  background: transparent url('marker-sprites.png') no-repeat;
  width: 29px;
  height: 32px;
  margin-left: -15px;
  margin-top: -30px;

  @include if-min-resolution(1.3) {
    background: transparent url('marker-sprites@2x.png') no-repeat;
    background-size: 29px 128px;
  }

  &.marker-wheelchair-yes {
    background-position: 0 0;
  }

  &.marker-wheelchair-limited {
    background-position: 0 -32px;
  }

  &.marker-wheelchair-no {
    background-position: 0 -64px;
  }

  &.marker-wheelchair-unknown {
    background-position: 0 -96px;
  }
}

.leaflet-marker-icon .marker-icon {
  margin: 3px 4px;
  background: url('/icons/icon-sprite.png') no-repeat top left;
  display: inline-block;
}

.leaflet-marker-icon .marker-icon-2hand {
  background-position: 0 -0px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-airport {
  background-position: 0 -22px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-airport_terminal {
  background-position: 0 -44px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-artgallery {
  background-position: 0 -66px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-atm {
  background-position: 0 -88px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-bank {
  background-position: 0 -110px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-bar {
  background-position: 0 -132px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-bar_coktail {
  background-position: 0 -154px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-barber {
  background-position: 0 -176px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-beach {
  background-position: 0 -198px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-beautifulview {
  background-position: 0 -220px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-biergarten {
  background-position: 0 -242px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-bigcity {
  background-position: 0 -264px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-boat {
  background-position: 0 -286px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-bread {
  background-position: 0 -308px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-busstop {
  background-position: 0 -330px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-butcher {
  background-position: 0 -352px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-cablecar {
  background-position: 0 -374px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-camping {
  background-position: 0 -396px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-car {
  background-position: 0 -418px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-car_repair {
  background-position: 0 -440px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-carrental {
  background-position: 0 -462px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-castle {
  background-position: 0 -484px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-cave {
  background-position: 0 -506px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-chemist {
  background-position: 0 -528px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-cinema {
  background-position: 0 -550px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-clothers_male {
  background-position: 0 -572px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-coffee {
  background-position: 0 -594px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-communitycentre {
  background-position: 0 -616px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-computers {
  background-position: 0 -638px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-conveniencestore {
  background-position: 0 -660px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-court {
  background-position: 0 -682px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-cross {
  background-position: 0 -704px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-currencyexchange {
  background-position: 0 -726px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-cycling {
  background-position: 0 -748px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-dancinghall {
  background-position: 0 -770px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-daycare {
  background-position: 0 -792px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-dentist {
  background-position: 0 -814px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-departmentstore {
  background-position: 0 -836px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-drinkingwater {
  background-position: 0 -858px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-drugstore {
  background-position: 0 -880px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-embassy {
  background-position: 0 -902px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-fastfood {
  background-position: 0 -924px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-ferry {
  background-position: 0 -946px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-fillingstation {
  background-position: 0 -968px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-firstaid {
  background-position: 0 -990px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-fitness {
  background-position: 0 -1012px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-flowers {
  background-position: 0 -1034px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-fossils {
  background-position: 0 -1056px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-hearing_aids {
  background-position: 0 -1078px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-homecenter {
  background-position: 0 -1100px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-hospital {
  background-position: 0 -1122px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-icon-sprite {
  background-position: 0 -1144px;
  width: 22px;
  height: 19206px;
}

.leaflet-marker-icon .marker-icon-information {
  background-position: 0 -20350px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-kiosk {
  background-position: 0 -20372px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-lantern {
  background-position: 0 -20394px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-laundromat {
  background-position: 0 -20416px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-library {
  background-position: 0 -20438px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-liquor {
  background-position: 0 -20460px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-mall {
  background-position: 0 -20482px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-medicalstore {
  background-position: 0 -20504px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-medicine {
  background-position: 0 -20526px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-memorial {
  background-position: 0 -20548px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-motel {
  background-position: 0 -20570px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-museum_archeological {
  background-position: 0 -20592px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-museum_art {
  background-position: 0 -20614px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-music {
  background-position: 0 -20636px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-ophthalmologist {
  background-position: 0 -20658px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-parking {
  background-position: 0 -20680px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-phones {
  background-position: 0 -20702px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-photography {
  background-position: 0 -20724px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-playground {
  background-position: 0 -20746px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-police {
  background-position: 0 -20768px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-postal {
  background-position: 0 -20790px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-prayer {
  background-position: 0 -20812px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-publicart {
  background-position: 0 -20834px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-restaurant {
  background-position: 0 -20856px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-school {
  background-position: 0 -20878px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-shoes {
  background-position: 0 -20900px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-social_facility {
  background-position: 0 -20922px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-stadium {
  background-position: 0 -20944px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-stationery {
  background-position: 0 -20966px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-stop {
  background-position: 0 -20988px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-stripclub {
  background-position: 0 -21010px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-supermarket {
  background-position: 0 -21032px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-swimming {
  background-position: 0 -21054px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-theater {
  background-position: 0 -21076px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-themepark {
  background-position: 0 -21098px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-toilets {
  background-position: 0 -21120px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-tools {
  background-position: 0 -21142px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-train {
  background-position: 0 -21164px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-tramway {
  background-position: 0 -21186px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-underground {
  background-position: 0 -21208px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-university {
  background-position: 0 -21230px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-veterinary {
  background-position: 0 -21252px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-weights {
  background-position: 0 -21274px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-workoffice {
  background-position: 0 -21296px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-zoo {
  background-position: 0 -21318px;
  width: 22px;
  height: 22px;
}
