.marker-icon-white {
  color: white;
  @include single-text-shadow(rgba(black, 0.5), 0, 1px, 1px);
}

.leaflet-div-icon {
  border: 0;
}

.leaflet-marker-icon {
  background: transparent url('marker-sprites.png') no-repeat;
  width: 29px;
  height: 32px;
  margin-left: -15px;
  margin-top: -30px;

  @include if-min-resolution(1.3) {
    background: transparent url('marker-sprites@2x.png') no-repeat;
    background-size: 29px 128px;
  }

  &.marker-wheelchair-yes {
    background-position: 0 0;
  }

  &.marker-wheelchair-limited {
    background-position: 0 -32px;
  }

  &.marker-wheelchair-no {
    background-position: 0 -64px;
  }

  &.marker-wheelchair-unknown {
    background-position: 0 -96px;
  }
}

$icons: sprite-map("icons/*[^@2x].png");

.leaflet-marker-icon {
  .marker-icon {
    margin: 3px 4px;
    background: $icons;
    display: inline-block;
    width: 22px;
    height: 22px;
  }

  @each $icon in sprite-names($icons) {
    .marker-icon-#{$icon} {
      background-position: sprite-position($icons, $icon);
    }
  }

  .marker-sponsor-image {
    margin: 3px 4px;
    max-width: 22px;
    max-height: 22px;
  }
}