.marker-icon-white {
  color: white;
  @include single-text-shadow(rgba(black, 0.5), 0, 1px, 1px);
}

.leaflet-div-icon {
  border: 0;
}

.leaflet-marker-icon {
  background: transparent url('marker-sprites.png') no-repeat;
  width: 29px;
  height: 32px;
  margin-left: -15px;
  margin-top: -30px;

  @include if-min-resolution(1.3) {
    background: transparent url('marker-sprites@2x.png') no-repeat;
    background-size: 29px 128px;
  }

  &.marker-wheelchair-yes {
    background-position: 0 0;
  }

  &.marker-wheelchair-limited {
    background-position: 0 -32px;
  }

  &.marker-wheelchair-no {
    background-position: 0 -64px;
  }

  &.marker-wheelchair-unknown {
    background-position: 0 -96px;
  }
}

.leaflet-marker-icon .marker-icon {
  margin: 3px 4px;
  background: url('/icons/icon-sprite.png') no-repeat top left;
  display: inline-block;
}

.leaflet-marker-icon .marker-icon-2hand {
  background-position: 0 -0px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-airport {
  background-position: 0 -22px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-airport_terminal {
  background-position: 0 -44px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-apartment {
  background-position: 0 -66px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-artgallery {
  background-position: 0 -88px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-atm {
  background-position: 0 -110px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-bank {
  background-position: 0 -132px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-bar {
  background-position: 0 -154px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-bar_coktail {
  background-position: 0 -176px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-barber {
  background-position: 0 -198px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-beach {
  background-position: 0 -220px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-beautifulview {
  background-position: 0 -242px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-beautysalon {
  background-position: 0 -264px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-bed_breakfast1 {
  background-position: 0 -286px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-biergarten {
  background-position: 0 -308px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-bigcity {
  background-position: 0 -330px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-boat {
  background-position: 0 -352px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-bread {
  background-position: 0 -374px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-busstop {
  background-position: 0 -396px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-butcher {
  background-position: 0 -418px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-cablecar {
  background-position: 0 -440px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-camping {
  background-position: 0 -462px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-car {
  background-position: 0 -484px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-car_repair {
  background-position: 0 -506px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-carrental {
  background-position: 0 -528px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-castle {
  background-position: 0 -550px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-cat {
  background-position: 0 -572px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-cave {
  background-position: 0 -594px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-chemist {
  background-position: 0 -616px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-cinema {
  background-position: 0 -638px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-clothers_male {
  background-position: 0 -660px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-coffee {
  background-position: 0 -682px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-communitycentre {
  background-position: 0 -704px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-computers {
  background-position: 0 -726px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-conveniencestore {
  background-position: 0 -748px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-court {
  background-position: 0 -770px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-cross {
  background-position: 0 -792px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-currencyexchange {
  background-position: 0 -814px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-cycling {
  background-position: 0 -836px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-dancinghall {
  background-position: 0 -858px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-daycare {
  background-position: 0 -880px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-dentist {
  background-position: 0 -902px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-departmentstore {
  background-position: 0 -924px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-drinkingwater {
  background-position: 0 -946px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-drugstore {
  background-position: 0 -968px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-embassy {
  background-position: 0 -990px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-fastfood {
  background-position: 0 -1012px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-ferry {
  background-position: 0 -1034px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-fillingstation {
  background-position: 0 -1056px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-firstaid {
  background-position: 0 -1078px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-fitness {
  background-position: 0 -1100px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-flowers {
  background-position: 0 -1122px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-fossils {
  background-position: 0 -1144px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-gifts {
  background-position: 0 -1166px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-hearing_aids {
  background-position: 0 -1188px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-hiking {
  background-position: 0 -1210px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-home {
  background-position: 0 -1232px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-homecenter {
  background-position: 0 -1254px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-hospital {
  background-position: 0 -1276px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-house {
  background-position: 0 -1298px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-icecream {
  background-position: 0 -1320px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-information {
  background-position: 0 -1342px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-jewelry {
  background-position: 0 -1364px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-kiosk {
  background-position: 0 -1386px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-lantern {
  background-position: 0 -1408px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-laundromat {
  background-position: 0 -1430px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-library {
  background-position: 0 -1452px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-liquor {
  background-position: 0 -1474px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-lobster-export {
  background-position: 0 -1496px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-lodging_0star {
  background-position: 0 -1518px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-mall {
  background-position: 0 -1540px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-medicalstore {
  background-position: 0 -1562px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-medicine {
  background-position: 0 -1584px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-memorial {
  background-position: 0 -1606px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-motel {
  background-position: 0 -1628px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-museum_archeological {
  background-position: 0 -1650px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-museum_art {
  background-position: 0 -1672px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-music {
  background-position: 0 -1694px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-office-building {
  background-position: 0 -1716px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-ophthalmologist {
  background-position: 0 -1738px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-parking {
  background-position: 0 -1760px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-phones {
  background-position: 0 -1782px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-photography {
  background-position: 0 -1804px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-playground {
  background-position: 0 -1826px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-poker {
  background-position: 0 -1848px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-police {
  background-position: 0 -1870px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-postal {
  background-position: 0 -1892px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-prayer {
  background-position: 0 -1914px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-publicart {
  background-position: 0 -1936px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-restaurant {
  background-position: 0 -1958px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-restaurant_vegetarian {
  background-position: 0 -1980px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-school {
  background-position: 0 -2002px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-shoes {
  background-position: 0 -2024px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-soccer {
  background-position: 0 -2046px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-social_facility {
  background-position: 0 -2068px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-stadium {
  background-position: 0 -2090px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-stationery {
  background-position: 0 -2112px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-stop {
  background-position: 0 -2134px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-stripclub {
  background-position: 0 -2156px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-supermarket {
  background-position: 0 -2178px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-swimming {
  background-position: 0 -2200px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-targ {
  background-position: 0 -2222px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-tennis {
  background-position: 0 -2244px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-textiles {
  background-position: 0 -2266px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-theater {
  background-position: 0 -2288px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-themepark {
  background-position: 0 -2310px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-toilets {
  background-position: 0 -2332px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-tools {
  background-position: 0 -2354px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-toys {
  background-position: 0 -2376px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-train {
  background-position: 0 -2398px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-tramway {
  background-position: 0 -2420px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-travel_agency {
  background-position: 0 -2442px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-underground {
  background-position: 0 -2464px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-university {
  background-position: 0 -2486px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-veterinary {
  background-position: 0 -2508px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-villa {
  background-position: 0 -2530px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-weights {
  background-position: 0 -2552px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-workoffice {
  background-position: 0 -2574px;
  width: 22px;
  height: 22px;
}

.leaflet-marker-icon .marker-icon-zoo {
  background-position: 0 -2596px;
  width: 22px;
  height: 22px;
}
