a {
  font-size: inherit;
  color: $blueDark;
  text-decoration: none;
  cursor: pointer;
  @include transition-property(color);
  @include transition-duration($link-transition-duration);

  &:hover,
  &:visited {
    color: darken($blueDark, 20%);
    text-decoration: inherit;
  }

  &:visited {
    color: darken($blueDark, 30%);
  }

  &:focus {
    outline: none;
  }
}