/* @author 14islands.com
 * SASS mixins for future proof resolution media query
 */

@mixin if-min-resolution($dppx) {
  @include if-resolution(min, $dppx) {
    @content;
  }
}

@mixin if-max-resolution($dppx) {
  @include if-resolution(max, $dppx) {
    @content;
  }
}

@mixin if-resolution($prefix, $dppx) {
  // 1px = 96dpi
  $dpi: $dppx * 96;
  @media
    (-webkit-#{$prefix}-device-pixel-ratio: #{$dppx}),
    (   #{$prefix}--moz-device-pixel-ratio: #{$dppx}),
    (     -o-#{$prefix}-device-pixel-ratio: #{$dppx*2}/2),
    (    -ms-#{$prefix}-device-pixel-ratio: #{$dppx}),
    (        #{$prefix}-device-pixel-ratio: #{$dppx}),
    (                #{$prefix}-resolution: #{$dpi}dpi),
    (                #{$prefix}-resolution: #{$dppx}dppx) {
      @content;
  }
}

@mixin highlight($color: rgba(0,0,0,0)) {
  -webkit-tap-highlight-color: $color;
  -ms-interpolation-mode: bicubic;
  ::-moz-selection { }
}

@mixin headline-gradient() {
  background-color: $darkBlue;
  @include background-image(linear-gradient(top, lighten($darkBlue, 10%), $darkBlue));
}

@mixin wheelchair($color) {
  @include buttonBackground($color, darken($color, 10%), darken($color, 20%), 0 1px 1px rgba(255,255,255,.75));
  color: $white !important;
  font-weight: bold;
  @include text-shadow(0 1px 0 darken($color, 23%));
  border: 1px solid darken($color, 23%);
}