@import "bootstrap/mixins";

$boderColor: darken($orangeGray, 5%);

#node {
  background-color: $white;
  @include box-shadow(0 0 10px rgba($black, .75));
  overflow: hidden; // needed for the full height sidebar hack (aside)

  h2 {
    font-size: $baseFontSize;
    font-weight: normal;
    line-height: $baseLineHeight;
    margin: 0;
    margin-bottom: 10px;
  }

  @include grid-fluid(100% / $gridColumns, 0);

  @media (max-width: 767px) {
    & > .row-fluid > [class*="span"] {
      float: none;
      width: 100%;
    }
  }
}

#node-header {
  color: $grayLighter;
  @include headline-gradient();
  @include text-shadow(0px 1px 0px #000000);
  padding: 10px 20px 15px 20px;
  position: relative; // For close page button
  z-index: 1;

  * {
    margin: 0;
  }

  h1 {
    color: $white;
    font-size: $fontSizeHeadline;
  }

  .breadcrumbs {
    @include clearfix();
    font-size: $fontSizeMini;
    margin-bottom: 10px;

    li {
      float: left;
      padding-right: $fontSizeMini;
    }
  }

  .close {
    @include appearance(none);
    background: none;
    border: none;
    color: $grayLighter;
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 5px;
    @include transition-property(color);
  }

  .close:hover {
    color: $white;
  }
}

#node-aside {
  padding: 15px;
  background-color: lighten($orangeGray, 7%);
  border-left: 1px solid $boderColor;
  // Hack for having a full height sidebar
  padding-bottom: 10000px;
  margin-bottom: -10000px;

  address {
    ul {
      background-color: darken($white, 1%);
      border: 1px solid darken($orangeGray, 7%);
      @include border-radius(3px);
      margin-bottom: 20px;
      overflow: hidden;
    }

    li {
      padding: $fontSizeLarge / 2;
      padding-left: $fontSizeLarge * 2;
    }

    [class^='icon-'] {
      color: lighten($yellowGray, 30%);
      position: absolute;
      left: $fontSizeLarge * 0.4;
      font-size: 1.3em;
      line-height: $baseFontSize + $fontSizeLarge / 2;
    }
  }
}

#node-edit {
  .btn {
    margin-bottom: 20px;
    height: 34px;
    @include buttonBackground(lighten($orangeGray, 5%), darken($orangeGray, 7%), darken($orangeGray, 60%), 0 1px 1px rgba(255,255,255,.75));
    font-weight: bold;
  }
}

#node-similar-locations {
  ul {
    font-size: $fontSizeSmall;
  }

  li {
    padding: $baseFontSize / 2;
    padding-left: $baseFontSize * 1.5;
    line-height: $baseFontSize;
  }

  .wheelchair {
    width: $fontSizeSmall;
    height: $fontSizeSmall;
    position: absolute;
    left: 0;
    @include border-radius(3px);
  }

  .distance {
    font-size: $fontSizeMini;
    display: block;
    color: lighten($yellowGray, 30%);
  }
}

#node-content > section {
  padding: 15px;
}

#node-status {
  padding-top: 0 !important;
  background-color: lighten($orangeGray, 1%);
  @include box-sizing(border-box);
  border-bottom: 1px solid $boderColor;

  h2 {
    margin-top: 15px;
  }

  [class*="icon-"] {
    line-height: inherit;
  }

  .btn,
  .dropdown-menu {
    width: 80%;
    min-width: 250px;
  }

  .btn {
    height: 42px;
    text-align: left;

    .icon-question-sign {
      padding-left: 5px;
      font-size: 1.2em;
      opacity: .6;
      color: white;
      @include transition-property(opacity);
      @include transition-duration($linkTransitionDuration);

      &:hover {
        opacity: 1;
      }
    }
  }

  .open .btn {
    @include border-bottom-radius(0);
  }

  .dropdown-menu {
    @include border-radius(3px);
    @include border-top-radius(0);
    @include box-sizing(border-box);

    a {
      line-height: 25px;
      padding: 5px 10px;

      .icon-question-sign {
        opacity: .5;
        // Needed for firefox floating bug
        position: absolute;
        right: 10px;
      }
    }

    .wm-checkbox {
      height: 25px;
      width: 25px;
      line-height: inherit;
      vertical-align: middle;
      display: inline-block;
      @include border-radius(3px);
      @include box-shadow(inset 0 1px 0 rgba($white, 0.5), 0 1px 1px rgba($black, 0.1));
      margin-right: 5px;

      i {
        width: 17px;
        height: 17px;
        line-height: 17px;
        display: block;
        margin: 3px;
        border: inherit;
        @include border-radius(3px);
        color: $black;
        background-color: $white;
        @include text-shadow(none);
        @include box-shadow(0 1px 0 rgba($white, 0.5), inset 0 1px 2px rgba($black, 0.2));
        overflow: hidden;
        text-indent: -5000px; // Hide check icon
      }

      &.checked i {
        text-indent: 0px;
      }
    }
  }

  @media (max-width: 580px), (min-width: 768px) and (max-width: 979px) {
    .dropdown {
      float: none !important;
      width: 100% !important;
    }

    .btn,
    .dropdown-menu {
      width: 100%;
    }
  }
}

#node-photos {
  $node-photos-grid-gutter: 2.25%;

  border-bottom: 1px solid $boderColor;
  background-color: lighten($orangeGray, 10%);

  img {
    @include box-sizing(border-box);
    width: 100%;
    height: 50px;
    background-color: $white;
  }

  @include grid-fluid((100% - $node-photos-grid-gutter * ($gridColumns - 1)) / $gridColumns, $node-photos-grid-gutter);
}

#node-note {
  padding: 0;

  p {
    padding: 15px;
    border: 1px solid darken($white, 12%);
    background-color: darken($white, 2%);
    @include border-radius(3px);
  }
}

