@import "bootstrap/mixins";

$border-color: darken($orange-gray, 5%);

$node-photos-gutter: 2.25%;
$node-photos-columns: 4;
$node-photos-width: (100% - $node-photos-gutter * $node-photos-columns) / $node-photos-columns;

.node-wrapper {
  padding: 20px 0;
  position: relative;
  z-index: 0;

  .flash-wrapper {
    top: $headerHeight;
  }
}

.node-container {
  background-color: $white;
  @include box-shadow(0 2px 10px rgba($black, .5));
  overflow: hidden; // needed for the full height sidebar hack (aside)

  h2 {
    font-size: $baseFontSize;
    font-weight: normal;
    line-height: $baseLineHeight;
    margin: 0 0 10px 0;
  }

  .icon-question-sign {
    @include transition-property(opacity);
    @include transition-duration($link-transition-duration);

    &:hover {
      opacity: 1 !important;
    }
  }

  @media (max-width: 767px) {
    .node-wrapper {
      float: none !important;
      width: 100% !important;
    }
  }

  .popover {
    width: 180px;
    line-height: $baseLineHeight;
  }
}

.node-header {
  @include headline-gradient();
  padding: 10px 20px 15px 20px;
  position: relative; // For close page button
  z-index: 1;

  * {
    margin: 0;
  }

  h1 {
    color: $white;
    font-size: $fontSizeHeadline;
  }

  .breadcrumbs {
    margin-bottom: 10px;

    li {
      line-height: 24px;
    }
  }

  .btn {
    @include buttonBackground($dark-blue, darken($dark-blue, 10%), rgba($white, 0.75), 0 1px 1px rgba($black, .75));
    @include box-shadow(none);
    border: 1px solid darken($dark-blue, 10%);
    font-size: $fontSizeMini;
    line-height: 22px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .back {
    float: left;
    margin-right: 15px;
    border-left: 0;
    position: relative;
    padding-left: 9px;

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: -4px;
      height: 50%;
      width: 7px;
      border-left: 1px solid darken($dark-blue, 10%);
    }

    &:before {
      @include transform(skew(-35deg, 0));
      @include background-image(linear-gradient($dark-blue, darken($dark-blue, 5%)));
      top: -1px;
      border-top: 1px solid darken($dark-blue, 10%);
    }

    &:after {
      @include transform(skew(35deg, 0));
      @include background-image(linear-gradient(darken($dark-blue, 5%), darken($dark-blue, 10%)));
      bottom: -1px;
      border-bottom: 1px solid darken($dark-blue, 10%);
    }

    &:hover {
      &:after,
      &:before {
        background-image: none;
        background-color: darken($dark-blue, 10%);
      }
    }
  }

  .close {
    @include opacity(100);
    float: right;
    width: 25px;
    padding-left: 0;
    padding-right: 1px; // Fix positing
    text-align: center;
    font-size: $baseFontSize;
  }
}

.node-content {
  // Overwrite gutter of bootstraps fluid grid
  width: 70% !important;

  & > section {
    padding: 20px;
  }
}

.node-aside {
  padding: 20px;
  background-color: $sidebar-gray;
  border-left: 1px solid $border-color;
  // Hack for having a full height sidebar
  padding-bottom: 10000px;
  margin-bottom: -10000px;
  // Overwrite gutter of bootstraps fluid grid
  margin-left: 0 !important;
  width: 30% !important;

  li {
    position: relative;
  }

  address {
    ul {
      background-color: darken($white, 1%);
      border: 1px solid darken($orange-gray, 7%);
      @include border-radius(3px);
      margin-bottom: 20px;
      overflow: hidden;
    }

    li {
      padding: $fontSizeLarge / 2;
      padding-left: $fontSizeLarge * 2;
    }

    [class^='icon-'] {
      color: lighten($yellow-gray, 30%);
      position: absolute;
      left: $fontSizeSmall;
      font-size: 1.3em;
      line-height: $baseFontSize + $fontSizeLarge / 2;
    }
  }
}

@media (max-width: 767px) {
  .node-content,
  .node-aside {
    float: none !important;
    width: 100% !important;
  }

  .node-aside {
    border-top: 1px solid $border-color;
  }
}

.node-edit {
  padding-bottom: 20px;

  .btn {
    @include buttonBackground(lighten($orange-gray, 5%), darken($orange-gray, 7%), darken($orange-gray, 60%), 0 1px 1px rgba(255,255,255,.75));
    font-weight: bold;
  }
}

.node-similar-locations {
  ul {
    font-size: $fontSizeSmall;
  }

  li {
    padding: $baseFontSize / 2;
    padding-left: $baseFontSize * 1.5;
    line-height: $baseFontSize;
  }

  .wheelchair {
    width: $fontSizeSmall;
    height: $fontSizeSmall;
    position: absolute;
    left: 0;
    @include border-radius(3px);
  }

  .distance {
    font-size: $fontSizeMini;
    display: block;
    color: lighten($yellow-gray, 30%);
  }
}

.node-status {
  /*padding-top: 0 !important;*/
  background-color: lighten($orange-gray, 1%);
  @include box-sizing(border-box);
  border-bottom: 1px solid $border-color;

  .premium {
    position: relative;
    font-size: $fontSizeSmall;
    padding: 8px 12px 6px 41px;
    margin-top: 10px;
    background-color: lighten($orange-gray, 6%);
    border: 1px solid darken($orange-gray, 10%);
    line-height: $fontSizeSmall * 1.45;
    color: darken($orange-gray, 35%);

    @include box-sizing(border-box);
    @include border-radius(3px);
    @include box-shadow(0px 1px 0px 0px rgba($white,0.5));
    @include text-shadow(0px 1px 0px rgba($white,0.5));

    a {
      text-decoration: underline;
      color: inherit;
    }

    .icon-stack {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -1em;
      line-height: 2em;
      font-size: inherit;

      .icon-ok {
        @include box-sizing(border-box);
        padding-top: 1px;
      }
    }

    .yes {
      color: $wheelchair-yes;
    }

    .no {
      color: $wheelchair-no;
    }

    .limited {
      color: $wheelchair-limited;
    }
  }

  @media (max-width: 979px) {
    .span6 {
      float: none;
      width: 100%;
      margin-left: 0;
      margin-top: 15px;

      &:first-child {
        margin-top: 0;
      }
    }

    .dropdown-toggle,
    .dropdown-menu,
    .alert,
    .premium {
      width: 100%;
    }
  }
}

.node-status-dropdown {

  .wm-checkbox {
    line-height: inherit;
    display: inline-block;
    @include border-radius(3px);
    margin-right: 5px;

    i {
      width: 17px;
      height: 17px;
      line-height: 17px;
      display: block;
      color: $black;
      @include border-radius(inherit);
      background-color: $white;
      @include text-shadow(none);
      @include box-shadow(inset 0 1px 2px rgba($black, 0.2));
      overflow: hidden;
      text-align: center;
      text-indent: -5000px; // Hide check icon
    }

    &.checked i {
      text-indent: 0px;
    }
  }

  .icon-caret-down,
  .icon-question-sign {
    line-height: inherit;
  }

  .btn.wheelchair,
  .dropdown-menu {
    width: 100%;
  }

  .btn.wheelchair {
    @include box-sizing(border-box);
    text-align: left;

    .icon-question-sign {
      padding-left: 5px;
    }
  }

  .dropdown {
    .btn.wheelchair {
      height: 40px;
      line-height: 30px;
    }
  }

  .dropdown-menu {
    @include border-top-radius(0);

    a {
      @include box-sizing(border-box);
      line-height: 25px;
      padding: 5px 10px;
      width: 100%;
      overflow: hidden;

      .icon-question-sign {
        opacity: .5;
        font-size: $baseFontSize;
        // Needed for firefox floating bug
        position: absolute;
        right: 10px;
      }
    }

    .wm-checkbox {
      height: 25px;
      width: 25px;
      vertical-align: middle;
      @include box-shadow(inset 0 1px 0 rgba($white, 0.5), 0 1px 1px rgba($black, 0.1));

      i {
        margin: 3px;
        border: inherit;
        @include box-shadow(0 1px 0 rgba($white, 0.5), inset 0 1px 2px rgba($black, 0.2));
      }
    }

    .submit {
      @include border-bottom-radius(3px);
      margin-bottom: -5px;
      margin-top: 5px;
      padding: 5px;
      text-align: right;
      border-top: 1px solid darken($orange-gray, 5%);
      background-color: lighten($orange-gray, 10%);

      .btn {
        @include buttonBackground(lighten($orange-gray, 5%), darken($orange-gray, 5%), darken($orange-gray, 60%), 0 1px 1px rgba(255,255,255,.75));
        text-align: center;
        font-weight: bold;
        border-color: darken($orange-gray, 20%);
      }
    }
  }

  .popover {
    width: 180px;
    line-height: $baseLineHeight;
  }

  .popover-content {
    color: $textColor;
    font-weight: normal;
    @include text-shadow(none);
    font-size: $fontSizeSmall;
  }

  .tooltip {
    position: relative;
    width: 96%;
    margin: 4px auto 0 auto;
    padding: 0;
    padding-top: 5px;
    opacity: 1;
    z-index: 1;

    .tooltip-arrow {
      border-bottom-color: $dark-blue;
    }
  }

  .tooltip-inner {
    max-width: none;
    box-sizing: border-box;
    background-color: darken($dark-blue, 5%);
    @include background-image(linear-gradient(top, $dark-blue, darken($dark-blue, 5%)));
    text-align: left;
    padding: 8px 10px;
  }
}

.node-report {
  .caret {
    margin-left: 7px;
  }
}

.node-report-accordion {
  width: 320px;
  font-size: $fontSizeSmall;
  border: none;
  color: #505050;

  header {
    @include background-image(linear-gradient(top, #B0B0B0 0%, #7A7A7A 100%));
    @include box-shadow(inset 0px 1px 0px 0px rgba($white, 0.25));
    @include box-sizing(border-box);
    @include border-top-radius(3px);
    border: 1px solid #6C5C5C;
    line-height: 26px;
    height: 30px;
    font-weight: bold;
    @include text-shadow(0px 1px 0px $black);
    color: $white;
    padding: 3px 5px 1px 10px;

    .pull-right {
      line-height: 22px;
    }

    .btn {
      @include buttonBackground(#828282, #535353, #D2D2D2);
      line-height: 20px;
      height: 20px;
      vertical-align: middle;
      border-color: #393939;
    }
  }

  .accordion-toggle {
    padding: 0px 10px;
    line-height: 30px;
    display: block;
    border-top: 1px solid #E5E5E5;
    color: inherit;
    text-decoration: none;

    .icon-chevron-up {
      line-height: inherit;
      font-size: .9em;
      opacity: .5;
    }

    &.collapsed .icon-chevron-up {
      @include transform(rotate(180deg));
    }
  }

  .accordion-inner {
    padding: 7px 10px;
    background: #F4F4F4;
    @include box-shadow(inset 0px 2px 2px 0px rgba($black, 0.10));
    white-space: normal;
  }
}

.node-share {
  .dropdown-menu {
    font-size: $fontSizeSmall;
    min-width: 120px;
    padding: 3px 0;
  }

  a {
    padding: 2px 8px;

    &:hover i {
      color: white;
    }
  }

  .icon-twitter {
    color: #00aced;
  }

  .icon-facebook {
    color: #3B5998;
  }

  .btn-group {
    margin-right: 5px;
  }
}

.node-photos {
  border-bottom: 1px solid $border-color;
  background-color: lighten($orange-gray, 10%);

  img {
    @include box-sizing(border-box);
    width: 100%;
    background-color: $white;
  }

  ul {
    @include clearfix();
    list-style: none;
    margin: 0;
    margin-left: -$node-photos-gutter;
    margin-bottom: -$node-photos-gutter;
  }

  li {
    @include box-sizing(border-box);
    float: left;
    width: $node-photos-width;
    margin: 0 0 $node-photos-gutter $node-photos-gutter;
    background-color: $white;

    &.error img {
      border-color: $errorText;
      background-color: $errorBackground;
    }
  }
}

.node-photo-dropzone {
  margin: 0;

  li {
    a {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
    }

    img {
      background-color: transparent;
      position: relative;
      z-index: 1;
    }
  }

  .clickable {
    position: relative;
    // Needed for height = width
    height: 0;
    padding-bottom: $node-photos-width;

    a {
      @include box-sizing(border-box);
      @include border-radius($borderRadiusSmall);
      @include transition-property(all);
      @include transition-duration(0.1s);
      @include text-shadow(0 1px rgba($white, 0.5));
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      text-align: center;
      padding-top: 50%;
      font-weight: bold;

      i[class^="icon"] {
        font-size: 2em;
        margin: 0 auto;
        margin-top: -.75em;

        display: block;
      }

      &.add {
        z-index: 1;
        border: 1px solid darken($orange-gray, 10%);
        color: darken($orange-gray, 25%);
        background-color: lighten($orange-gray, 5%);
      }

      &.upload {
        z-index: 3;
        color: darken($wheelchair-yes, 40%);
        display: none;

        &.in {
          display: block;
        }
      }
    }

    @media(max-width: 580px), (min-width: 768px) and (max-width: 979px) {
      a {
        font-size: $fontSizeSmall;
        font-weight: normal;
      }
    }
  }

  .uploadprogress {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $wheelchair-yes;
  }

  .alert {
    margin-bottom: 15px;
  }

  // Fallback
  .fallback {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: none;

    input {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      @include opacity(0);
      cursor: pointer;
    }
  }
}

.node-note {
  padding: 0;

  p {
    padding: 15px;
    border: 1px solid darken($white, 12%);
    background-color: darken($white, 2%);
    @include border-radius(3px);
  }
}

.node-map {
  padding-bottom: 15px;
  @include clearfix();

  .map {
    position: relative;

    .leaflet-marker-icon {
      left: 50%;
      margin-left: -14px;
      top: 50%;
      margin-top: -32px;
    }
  }

  small {
    font-size: $fontSizeMini;
    opacity: .5;
  }
}

.node-info-box {
  position: relative;
  @include border-radius(3px);
  clear: both;
  font-size: $fontSizeSmall;
  color: #71777C;
  background: #D8D8D8 image-url("node-map-info.png") no-repeat 10px 10px;
  border: 1px solid #B7B7B7;
  padding: 8px 10px 8px 39px;
  margin-bottom: 30px;

  &-tip-container {
    height: 11px;
    position: absolute;
    top: -11px;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  &-tip {
    @include transform(rotate(-45deg));
    @include box-sizing(border-box);
    background-color: #D8D8D8;
    border: 1px solid #B7B7B7;
    width: 17px;
    height: 17px;
    margin-left: -17px;
    margin-top: 0;
    position: absolute;
    top: 3px;
    left: 50%;
  }
}

.node-streetview {
  @include clearfix();
}

.node-streetview,
.node-map {
  img {
    width: 100%;
    @include box-sizing(border-box);
  }
}

// @TODO This need to be set for every simliar forms not only for node edit
.node-form {
  background-color: #F1F0EC;
  padding: 20px;
  margin: 0;

  .control-group {
    margin-bottom: 12px;
  }

  .control-label {
    text-align: left;
    width: 120px;

    &:after {
      content: ':';
    }
  }

  .controls {
    margin-left: 120px;

    & + .controls {
      margin-top: 12px;
    }
  }

  fieldset {
    padding-bottom: 10px;
    margin-bottom: 22px;
    border-bottom: 1px solid #C4C2B7;
  }

  .control-label {
    line-height: $baseLineHeight + 4px;
  }

  textarea,
  input {
    border-color: #A39D97;
    @include box-shadow(0px 1px 0px 0px rgba(white, 0.4), inset 0px 1px 1px 0px rgba(black, 0.2));
    padding: 4px 8px;
    width: 100%;
    max-width: 100%;
    min-height: 30px;
    box-sizing: border-box;

    &:focus {
      border-color: #3A87AD;
      @include box-shadow(0px 0px 3px 0px rgba(57,135,173,0.60));
    }
  }

  input[type="text"],
  input[type="tel"] {
    height: 34px;
    line-height: 26px;
  }

  .custom-select {
    border: 1px solid #A39D97;
    @include box-shadow(0px 1px 0px 0px rgba(white, 0.4));
    @include border-radius(2px);
    @include appearance(none);
    @include background-image(linear-gradient(rgba(255,255,255,0.16) 0%, rgba(0,0,0,0.10) 100%));
    @include box-shadow(0px 1px 0px 0px rgba(white, 0.4));
    @include text-shadow(0px 1px 0px white);
    position: relative;

    select {
      @include appearance(none);
      padding: 4px 8px;
      height: 34px;
      line-height: $baseLineHeight + 4px;
      width: 100%;
      background: transparent;
      border: 0;
      padding-right: 10px;
      position: relative;
      z-index: 2;
    }

    i {
      position: absolute;
      z-index: 1;
      right: 10px;
      top: 7px;
      line-height: $baseLineHeight;
    }
  }

  .form-actions {
    padding: 0;
    border: 0;
    background: none;

    button,
    a {
      box-sizing: border-box;
      width: 140px;
    }

    button[type="submit"],
    button.submit {
      @include headline-gradient();
      @include box-shadow(inset 0px 1px 0px 0px rgba(white, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05));
    }
  }

  @media (max-width: 767px) {
    .controls-row [class*="span"] + [class*="span"] {
      margin-left: 0;
    }

    .controls {
      margin-left: 0;

      [class*="span"] + [class*="span"] {
        margin-top: 12px;
      }
    }

    .form-actions button {
      width: auto;
    }
  }

  .has_error {
    textarea,
    input {
      color: #b94a48;
      border-color: #b94a48;
      @include box-shadow(0px 0px 3px 0px rgba(#b94a48,0.60));
    }

    .error {
      color: #b94a48;
      margin-bottom: 0;
      margin-top: 3px;
      display: block;
    }
  }

  .hint {
    margin-bottom: 0;
    margin-top: 3px;
    color: #A39D97;
    display: block;
  }
}

.fake-map {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  z-index: -1
}

@import "nodes-new";