.support-form {

  margin-top: $headerHeight + 20px;
  padding: 20px;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 393px) {
    margin-top: $headerHeight;
  }

  h1 {
    font-size: 28px;
  }

  h5 {
    margin: 20px 0 30px 0;
  }

  textarea {
    width: 75%;
    height: 100px;
  }

  .help-block {
    color: red;
    display: inline;
    margin-left: 10px;
  }
}
