@mixin toolbar-bottom() {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  @include box-shadow(none);
  background-color: #334557;
  border-top: 1px solid #273442;
}

.toolbar {
  width: 100%;
  height: $toolbarHeight;
  position: absolute;
  top: $headerHeight;
  z-index: 1;
  @include headline-gradient();
  @include filter-gradient(rgb(64, 87, 109), rgb(38, 51, 65), vertical);
  @include box-shadow(0px 0px 10px #444, inset 0px 2px 6px #000);

  @media screen and (max-width: $breakTablet) {
    @include toolbar-bottom;
  }

  .embedded & {
    @include toolbar-bottom;
  }

  &-content {
    @include box-sizing(border-box);
    margin: 0;
    text-align: center;
    height: $headerHeight;
    padding: 8px;
  }

  .btn {
    border: 1px solid #000;
    background-position: 0;
    @include box-shadow(0px 1px 0px #566D82, inset 0px 1px 0px #8298aa, inset 0px 1px 0px #aa000a);
    height: 36px;

    &:hover {
      @include box-shadow(0px 1px 0px #566D82, inset 0 10px 20px rgba(48, 66, 81, 0.30));
    }
  }

  &-toggle-searchbar {
    display: none;
    margin-right: 5px;
  }

  .input-append {
    input {
      width: 160px;
      float: left;
      margin: 0 0 0 0;
      padding: 8px 0px 6px 10px;
      border: 1px solid #000;
      background: #A4ACB4;
      font-size: 12px;

      @include border-radius(3px 0 0 3px);
      @include box-shadow(0px 1px 0px #566D82, inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0px 5px 5px rgba(0, 0, 0, 0.1));
      @include transition(all 0.3s ease-in-out);
    }

    ::-webkit-input-placeholder {
      color: #2D3D4D;
    }

    ::-moz-placeholder {
      color: #2D3D4D;
    }

    /* firefox 19+ */
    input:-moz-placeholder {
      color: #2D3D4D;
    }

    button {
      height: 36px;
      @include border-radius(0 3px 3px 0);
    }
  }

  &-searchbar-form {
    display: inline-block;
    margin-bottom: 0;

    .input-append {
      margin: 0;
    }
  }

  &-status-filter {
    .btn {
      width: 46px;
      float: none;
      padding: 0;

      .popover-title {
        color: #FFF;
        font-weight: bold;
        @include text-shadow(0 1px 0 #000);
      }

      &.active,
      &.active:hover {
        @include box-shadow(0px 1px 0px #566D82, inset 0px 1px 3px rgba(black, 0.15), inset 0 -5px 10px rgba(black, 0.1));
      }

      &:first-child {
        @include border-left-radius(3px);
      }

      &:last-child {
        @include border-right-radius(3px);
      }
    }

    &-icon {
      width: 21px;
      height: 24px;
      margin: 2px 0 0 12px;
      float: left;
      @include opacity(0.5);
      background-repeat: no-repeat;
      background-size: 100%;

      .active & {
        @include opacity(1);
      }

      &--yes {
        background-image: url('toolbar_marker_yes.png');

        .popover-title {
          background-color: $wheelchair-yes;
        }
      }

      &--limited {
        background-image: url('toolbar_marker_limited.png');

        .popover-title {
          background-color: $wheelchair-limited;
        }
      }

      &--no {
        background-image: url('toolbar_marker_no.png');

        .popover-title {
          background-color: $wheelchair-limited;
        }
      }

      &--unknown {
        background-image: url('toolbar_marker_unknown.png');

        .popover-title {
          background-color: $wheelchair-unknown;
        }
      }

      @include if-min-resolution(1.3) {
        &--yes {
          background-image: url(toolbar_marker_yes@2x.png);
        }

        &--limited {
          background-image: url(toolbar_marker_limited@2x.png);
        }

        &--no {
          background-image: url(toolbar_marker_no@2x.png);
        }

        &--unknown {
          background-image: url(toolbar_marker_unknown@2x.png);
        }
      }
    }
  }

  &-status-filter-btn {
    display: none;
    @extend %status-button;

    .btn {
      padding: 0 7px 0 0;
    }

    &-icon {
      background: url('toolbar_marker_icon.png') no-repeat;
      background-size: 100%;
      width: image_width('toolbar_marker_icon.png');
      height: image_height('toolbar_marker_icon.png');
      display: inline-block;
      margin-top: 1px; // Cosmetic surgery

      @include if-min-resolution(1.3) {
        background-image: url('toolbar_marker_icon@2x.png');
      }
    }

    &.yes .caret:before {
      margin-left: -12px;
    }

    &.limited .btn:before {
      margin-left: -5px;
    }

    &.no .caret:after {
      margin-left: 2px;
    }

    &.unknown .btn:after {
      margin-left: 9px;
    }
  }

  @media screen and (max-width: 500px) {
    &-status-filter {
      display: none;
    }

    &-status-filter-btn {
      display: inline-block;
    }
  }

  &-category-filter {
    width: 150px;

    & > .btn {
      width: 150px;
      @include border-radius(3px);
      overflow: visible; // Needed for IE for showing the filter counter correctly
      text-align: left;
    }

    .icon-tags {
      display: none;
      padding-left: 4px;
    }

    @media screen and (max-width: $breakPhone) {
      .icon-tags {
        display: inline-block;
      }

      .filter-option {
        display: none;
      }
    }

    .counter {
      position: absolute;
      width: 18px;
      height: 18px;
      top: -6px;
      right: -9px;
      @include border-radius(100px);
      border: 2px solid #FFF;
      @include box-shadow(0 0 5px #111);
      background-color: #E5002A;
      @include background-image(linear-gradient(top, #E5002A, #B93028));
      background-image: -ms(linear-gradient(top, #E5002A, #B93028));
      text-indent: 0px;
      font-size: 10px;
      line-height: 18px;
      font-weight: bold;
      text-align: center;
      color: #FFF;
      text-shadow: 0 1px 0 #000;
    }

    .dropdown-menu {
      right: 0;
      left: auto;
      border-radius: 3px;
      margin-bottom: 5px;
      padding: 0;
      width: 200px;

      @media screen and (max-width: $breakPhone) {
        overflow: auto;
        height: 240px;
        -webkit-overflow-scrolling: touch;
      }

      &:before {
        left: auto !important;
        right: 9px;
      }

      &:after {
        left: auto !important;
        right: 10px;
      }

      li {
        width: auto;

        a {
          padding: 6px 10px 5px 10px;
          border-bottom: 1px solid #F0F0F0;
          font-size: 13px;
        }

        &.filter {
          border-top: 1px solid #A9A9A9;
          @include border-bottom-radius(1px);
          padding: 5px;

          @include background-image(linear-gradient(-180deg, #E0DFD9 0%, #CCCAC1 100%));

          /*background-image: -o-linear-gradient(-90deg, #E0DFD9 0%, #E0DFD9 100%);
          background-image: -moz-linear-gradient(-90deg, #E0DFD9 0%, #CCCAC1 100%);
          background-image: -webkit-linear-gradient(-90deg, #E0DFD9 0%, #CCCAC1 100%);
          background-image: -ms-linear-gradient(-90deg, #E0DFD9 0%, #CCCAC1 100%);
          background-image: linear-gradient(-180deg, #E0DFD9 0%, #CCCAC1 100%);*/

          .btn {
            color: #49473E;
            width: 26px;
            height: 26px;
            margin-left: 5px;
            padding: 0;
            line-height: 26px;
            background-color: #CCCAC1;
            border-radius: 3px;
            border: 1px solid #6B6969;

            @include background-image(linear-gradient(-180deg, #E0DFD9 0%, #CDCBC2 100%), linear-gradient(-180deg, rgba(139, 139, 139, 0.10) 0%, rgba(26, 26, 26, 0.10) 100%));
            @include box-shadow(0px 1px 0px 0px #F3F2F0, inset 0px 1px 0px 0px #F3F2F0);

            &:hover {
              @include box-shadow(0px 1px 0px 0px #F3F2F0);
            }

            &:active {
              @include box-shadow(0px 1px 0px 0px #F3F2F0, inset 0px 2px 4px 0px rgba(0, 0, 0, 0.20));
            }
          }
        }
      }
    }

    @media screen and (max-width: $breakPhone) {
      width: auto;

      .btn {
        width: 55px;
        padding: 4px 12px 4px 6px;

        .caret {
          right: 7px;
        }
      }
    }
  }

  &-toilet-filter {
    @extend %status-button;

    &.yes .caret:before {
      margin-left: -9px;
    }

    &.no .caret:after {
      margin-left: -2px;
    }

    &.unknown .btn:after {
      margin-left: 5px;
      //margin-bottom: -1px; // Pull down one pixel because of the border of the button.
    }
  }

  &-filter-dropdown {
    $toilet-filter-status: yes, no, limited, unknown;

    &-button {
      > a:before {
        content: '';
        width: 20px;
        height: 23px;
        display: block;
        vertical-align: middle;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-right: 8px;
        float: left;
      }

      .icon-question-sign {
        opacity: .5;
        font-size: $baseFontSize;
        line-height: $baseLineHeight;
        margin-right: 4px;
        display: none;
      }

      &:hover .icon-question-sign {
        display: block;
      }

      &.yes .popover-title {
        background-color: $wheelchair-yes;
      }

      &.no .popover-title {
        background-color: $wheelchair-no;
      }

      &.limited .popover-title {
        background-color: $wheelchair-limited;
      }

      .popover-title {
        @include text-shadow(0 1px 0 rgba(black, .5));
      }

      .popover-content {
        font-size: $fontSizeSmall;
      }

      @each $status in $toilet-filter-status {
        &.#{$status} > a:before {
          background-image: image-url("toolbar_marker_#{$status}_white.png");
        }
      }

      @include if-min-resolution(1.3) {
        @each $status in $toilet-filter-status {
          &.#{$status} > a:before {
            background-image: image-url("toolbar_marker_#{$status}_white@2x.png");
          }
        }
      }
    }

    .dropdown-menu {
      left: auto;
      right: 0;
      padding: 0;
      width: 250px;

      & > li {
        &:not(:first-child) {
          border-top: 1px solid #F0F0F0;
        }

        > a {
          padding: 8px 10px;

          > span {
            @include text-overflow();
            display: block;
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      position: static;

      .dropdown-menu {
        left: 50%;
        right: auto;
        margin-left: -125px;
        bottom: 48px;
      }
    }
  }

  .popover {
    width: 180px;
    color: #333333;
    @include text-shadow(none);
  }

  /*.content {
    @media screen and (max-width: 640px) {
      width: 410px;
    }

    @media screen and (max-width: 410px) {
      width: 303px;
    }
  }*/
}

@media screen and (max-width: 640px) {
  .toolbar {
    &-toggle-searchbar {
      display: inline-block;
    }

    &-searchbar-form {
      @include box-sizing(border-box);
      @include headline-gradient();
      @include box-shadow(0px 0px 10px #444, inset 0px 2px 3px rgba(#000, 0.75));
      width: 100%;
      padding: 10px;
      position: fixed;
      top: 50px;
      left: 0;
      display: none;

      &.active {
        display: block;
      }

      .input-append {
        width: 100%;

        input {
          @include border-right-radius(3px);
          @include box-sizing(border-box);
          margin: 0;
          height: 36px;
          width: 100%;
        }
      }

      button {
        display: none;
      }
    }
  }
}

%status-button {
  width: 51px;
  text-align: center;

  .btn {
    padding: 0;
    width: 51px;
    font-size: 12px;
    font-weight: 500;
    position: relative;
  }

  &.yes .caret:before {
    @extend %status-indicator;
    background-color: $wheelchair-yes;
    border-color: darken($wheelchair-yes, 40%) !important; // Why do we need an important here? Bug?
  }

  &.no .caret:after {
    @extend %status-indicator;
    background-color: $wheelchair-no;
    border-color: darken($wheelchair-no, 30%) !important; // Why do we need an important here? Bug?
  }

  &.limited .btn:before {
    @extend %status-indicator;
    background-color: $wheelchair-limited;
    border-color: darken($wheelchair-limited, 50%) !important; // Why do we need an important here? Bug?
  }

  &.unknown .btn:after {
    @extend %status-indicator;
    background-color: $wheelchair-unknown;
    border-color: darken($wheelchair-unknown, 50%) !important; // Why do we need an important here? Bug?
  }
}

%status-indicator {
  @include border-radius(2px);
  @include box-sizing(border-box);
  @include box-shadow(0 1px rgba(white, .3));
  content: '';
  width: 4px;
  height: 4px;
  position: absolute;
  bottom: 4px;
  left: 50%;
  border: 1px solid;
  z-index: 100;
}

.ie9, .ie8, .ie7 {
  .toolbar {
    z-index: auto;
    .counter {
      display: none;
    }
    .dropdown-menu {
      li {
        a {
          padding-right: 50px;
          i {
            margin-right: -40px;
          }
        }
      }
    }
    .show-menu-arrow.btn-group.bootstrap-select .dropdown-menu {
      overflow-x: hidden !important;
      //IE Fix
    }
  }
}

