#toolbar {
  width: 100%;
  height: $toolbarHeight;
  position: absolute;
  top: $headerHeight;
  z-index: 100;
  @include headline-gradient();
  @include filter-gradient(rgb(64, 87, 109), rgb(38, 51, 65), vertical);
  @include box-shadow(0px 0px 10px #444, inset 0px 2px 6px #000);

  @media screen and (max-width: $breakTablet) {
    position: fixed;
    top: auto;
    left: 0px;
    bottom: 0px;
    @include box-shadow(none);
    background-color: #334557;
    border-top: 1px solid #273442;
  }

  .btn-toolbar {
    @include box-sizing(border-box);
    margin: 0;
    text-align: center;
    height: $headerHeight;
    padding: 8px;
  }

  .btn {
    border: 1px solid #000;
    background-position: 0;
    @include box-shadow(0px 1px 0px #566D82, inset 0px 1px 0px #8298aa, inset 0px 1px 0px #aa000a);

    &:hover {
      @include box-shadow(0px 1px 0px #566D82, inset 0 10px 20px rgba(48, 66, 81, 0.30));
    }
  }

  .btn-searchbar {
    display: none;
  }

  .input-append {
    input {
      width: 160px;
      float: left;
      margin: 0 0 0 0;
      padding: 8px 0px 6px 10px;
      border: 1px solid #000;
      background: #A4ACB4;
      font-size: 12px;

      @include border-radius(3px 0 0 3px);
      @include box-shadow(0px 1px 0px #566D82, inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0px 5px 5px rgba(0, 0, 0, 0.1));
      @include transition(all 0.3s ease-in-out);
    }

    :focus {
      width: 200px;
      background: #FFF;
    }

    ::-webkit-input-placeholder {
      color: #2D3D4D;
    }

    ::-moz-placeholder {
      color: #2D3D4D;
    }

    /* firefox 19+ */
    input:-moz-placeholder {
      color: #2D3D4D;
    }

    button {
      height: 36px;
      @include border-radius(0 3px 3px 0);
    }
  }

  .btn-toolbar {
    .btn-search {
      height: 36px;
    }
  }

  .navbar-form {
    display: inline-block;
    margin-bottom: 0;

    .input-append {
      margin: 0 10px;
    }
  }

  .status-filter {
    margin: 0 6px;

    .btn {
      width: 46px;
      height: 36px;
      float: none;
      padding: 0;

      span {
        width: 21px;
        height: 24px;
        margin: 2px 0 0 12px;
        float: left;
        @include opacity(0.5);

        @include if-min-resolution(1.3) {
          background-size: 20px 24px;
        }
      }

      .popover-title {
        color: #FFF;
        font-weight: bold;
        @include text-shadow(0 1px 0 #000);
      }

      &.active,
      &.active:hover {
        @include box-shadow(0px 1px 0px #566D82, inset 0px 1px 3px rgba(black, 0.15), inset 0 -5px 10px rgba(black, 0.1));

        span {
          @include opacity(1);
        }
      }

      &:first-child {
        @include border-radius(3px 0 0 3px);
      }

      &:last-child {
        @include border-radius(0 3px 3px 0);
      }
    }

    .yes {
      span {
        background: url('toolbar_marker_yes.png') no-repeat;

        @include if-min-resolution(1.3) {
          background-image: url(toolbar_marker_yes@2x.png);
        }
      }

      .popover-title {
        background-color: $wheelchair-yes;
      }
    }

    .limited {
      span {
        background: url('toolbar_marker_limited.png') no-repeat;

        @include if-min-resolution(1.3) {
          background-image: url(toolbar_marker_limited@2x.png);
        }
      }

      .popover-title {
        background-color: $wheelchair-limited;
      }
    }
    .no {
      span {
        background: url('toolbar_marker_no.png') no-repeat;

        @include if-min-resolution(1.3) {
          background-image: url(toolbar_marker_no@2x.png);
        }
      }

      .popover-title {
        background-color: $wheelchair-no;
      }
    }
    .unknown {
      span {
        background: url('toolbar_marker_unknown.png') no-repeat;

        @include if-min-resolution(1.3) {
          background-image: url(toolbar_marker_unknown@2x.png);
        }
      }

      .popover-title {
        background-color: $wheelchair-unknown;
      }
    }
  }

  .category-filter {
    width: 150px;

    .btn {
      width: 150px;
      height: 36px;
      @include border-radius(3px);
    }

    .icon-tags {
      display: none;

      @media screen and (max-width: $breakPhone) {
        display: inline;
      }
    }

    .filter-option {
      overflow: visible;
      left: 9px;

      @media screen and (max-width: $breakPhone) {
        text-indent: -9999999px;
      }

      .counter {
        position: absolute;
        width: 18px;
        height: 18px;
        top: -13px;
        right: -34px;
        @include border-radius(100px);
        border: 2px solid #FFF;
        @include box-shadow(0 0 5px #111);
        background-color: #f4f4f4;
        @include background-image(linear-gradient(top, #E5002A, #B93028));
        @include filter-gradient(#E5002A, #B93028, vertical);

        text-indent: 0px;
        font-size: 10px;
        line-height: 18px;
        font-weight: bold;
        text-align: center;
        color: #FFF;
        text-shadow: 0 1px 0 #000;
      }
    }

    .dropdown-menu {
      right: 0px;
      left: auto;
      border-radius: 3px;
      margin-bottom: 5px;
      padding: 0;
      @media screen and (max-width: $breakPhone) {
        height: 240px;
        -webkit-overflow-scrolling: touch;
      }

      li {
        width: auto;
        a {
          padding: 6px 10px 5px 10px;
          border-bottom: 1px solid #F0F0F0;
          font-size: 13px;
          &:hover {
            @include background(linear-gradient(top, rgb(107, 132, 155), rgb(77, 100, 122)));
            @include filter-gradient(#6b849b, #4d647a, vertical);
          }

          i {
            margin-top: 3px;
          }
        }

        &.filter {
          border-top: 1px solid #A9A9A9;
          @include border-bottom-radius(1px);
          padding: 5px;

          @include background-image(linear-gradient(-180deg, #E0DFD9 0%, #CCCAC1 100%));

          /*background-image: -o-linear-gradient(-90deg, #E0DFD9 0%, #E0DFD9 100%);
          background-image: -moz-linear-gradient(-90deg, #E0DFD9 0%, #CCCAC1 100%);
          background-image: -webkit-linear-gradient(-90deg, #E0DFD9 0%, #CCCAC1 100%);
          background-image: -ms-linear-gradient(-90deg, #E0DFD9 0%, #CCCAC1 100%);
          background-image: linear-gradient(-180deg, #E0DFD9 0%, #CCCAC1 100%);*/

          .btn {
            color: #49473E;
            width: 26px;
            height: 26px;
            margin-left: 5px;
            border: 1px solid #6B6969;
            padding: 0;
            line-height: 26px;

            background-color: #CCCAC1;

            border-radius: 3px;
            border: 1px solid #6B6969;

            @include background-image(linear-gradient(-180deg, #E0DFD9 0%, #CDCBC2 100%), linear-gradient(-180deg, rgba(139, 139, 139, 0.10) 0%, rgba(26, 26, 26, 0.10) 100%));
            @include box-shadow(0px 1px 0px 0px #F3F2F0, inset 0px 1px 0px 0px #F3F2F0);

            &:hover {
              @include box-shadow(0px 1px 0px 0px #F3F2F0);
            }

            &:active {
              @include box-shadow(0px 1px 0px 0px #F3F2F0, inset 0px 2px 4px 0px rgba(0, 0, 0, 0.20));
            }
          }
        }

        &:first-child a {
          border-top: 0;
        }
      }
    }

    @media screen and (max-width: $breakPhone) {
      width: 46px;
      margin-right: 15px;

      span.filter-option {
        @media screen and (max-width: 410px) {
          font-size: 20px;
        }
      }

      .btn {
        width: 55px;
        padding: 4px 12px 4px 6px;
        .caret {
          right: 7px;
        }
      }
    }
  }

  .bootstrap-select.btn-group.show-menu-arrow .dropdown-menu {
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }

  select.category-filter {
    height: 36px;
    margin: 0;
    @include background(linear-gradient(top, rgb(108, 133, 157), rgb(77, 100, 122)));
    @include filter-gradient(#6c859d, #4d647a, vertical);
    border: 1px solid #000;
    color: white;
    padding: 10px;
  }

  .popover {
    width: 180px;
    color: #333333;
    @include text-shadow(none);
  }

  .content {
    @media screen and (max-width: 640px) {
      width: 410px;
    }

    @media screen and (max-width: 410px) {
      width: 303px;
    }
  }
}

@media screen and (max-width: 640px) {
  #toolbar {
    .content {
      .btn-searchbar {
        display: inline;
        padding: 7px 2px;
        width: 45px;
        margin-left: 1%;
      }
      form.navbar-form {
        width: 98%;
        padding: 10px 1% 10px 1%;
        position: fixed;
        top: 50px;
        left: 0px;
        background: #333;
        display: none !important;

        &.active {
          display: block !important;
        }
        .input-append {
          margin: 0 !important;
          width: 100% !important;

          input {
            width: 80%;
            &:focus {
              width: 80%;
            }
          }
        }
      }
    }
  }
}

.ie9, .ie8, .ie7 {
  #toolbar {
    z-index: auto;
    .counter {
      display: none;
    }
    .dropdown-menu {
      li {
        a {
          padding-right: 50px;
          i {
            margin-right: -40px;
          }
        }
      }
    }
    .show-menu-arrow.btn-group.bootstrap-select .dropdown-menu {
      overflow-x: hidden !important;
      //IE Fix
    }
  }
}

