// @TODO clean this up.
#container .content.user {
  background-color: $sidebar-gray;
}

.user {
  &-content {
    //padding-top: 40px;
    //padding-right: 40px;
    padding: $baseFontSize * 3;
    background-color: #fff;

    @media (min-width: $breakTablet) {
      margin-left: 200px;
      min-height: 200px;
    }
  }

  &-header {
    $userHeaderHeight: 115px;

    // @todo subheader background-url shoud be dynamically overriden inline in Ruby for every user
    background: transparent no-repeat center top url('http://api.tiles.mapbox.com/v4/sozialhelden.map-iqt6py1k/13.388986587524414,52.51699126638161,15/1280x100.jpg70?access_token=pk.eyJ1Ijoic296aWFsaGVsZGVuIiwiYSI6IldvNHpkUUkifQ.5lLzFYw4MmAUkqLMoEcI3g');
    background-size: cover;
    height: $userHeaderHeight;
    padding: 0 20px;
    position: relative;
    color: #fff;
    box-sizing: border-box;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $dark-blue;
      opacity: .8;
      z-index: 0;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    h2 {
      margin: 0;
      padding-top: $baseLineHeight;
      font-size: $baseFontSize * 3;
      line-height: $userHeaderHeight - $baseLineHeight;
      vertical-align: middle;
    }
  }

  &-nav {
    $delimiterColor: darken($sidebar-gray, 10%);

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      float: left;
      border-left: 1px solid $delimiterColor;
      position: relative;

      a {
        line-height: $baseFontSize * 3;
        padding: 0 $baseFontSize * 2 0 $baseFontSize;
        color: $yellow-gray;
        opacity: .5;
        text-decoration: none;

        &:hover {
          opacity: 1;
          text-decoration: none;
        }
      }

      &.active {
        &:after {
          bottom: 0;
          left: $baseFontSize * 3;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border: $baseFontSize / 2 solid rgba(136, 183, 213, 0);
          border-bottom-color: white;
          margin-left: -$baseFontSize / 2;
          margin-top: -$baseFontSize;
        }

        a {
          opacity: 1;
        }
      }

      &:first-child {
        border-left: 0;
      }

      [class^="icon-"] {
        width: $baseFontSize * 3;
        display: inline-block;
        text-align: center;
      }
    }

    @media (min-width: $breakTablet) {
      float: left;
      width: 200px;
      border-top: 1px solid $delimiterColor;
      margin-top: $baseFontSize * 3;

      li {
        float: none;
        border-left: 0;
        border-bottom: 1px solid $delimiterColor;

        &.active:after {
          left: 100%;
          top: 50%;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border: $baseFontSize solid rgba(136, 183, 213, 0);
          border-right-color: white;
          margin-top: -$baseFontSize;
          margin-left: -$baseFontSize * 2;
        }
      }
    }

    //padding-left: 10px;
    //padding-top: 40px;
  }

  &-photo {
    &-thumbnails {
      margin-left: -10px;
    }

    &-thumbnail {
      float: left;
      margin-left: 10px;

      img {
        width: 155px;
      }
    }
  }

  &-newsletter {
    &-text {
      margin-bottom: 40px;
    }
  }

  &-widget {
    &-preview {
      &-area {
        background-color: $grayLighter;
        max-height: 500px;
        overflow: auto;
      }

      &-frame {
        border: 1px solid $gray;
        display: block;
      }
    }

    &-embed {
      & > p {
        margin-top: 10px;
      }

      &-code {
        background-color: $grayLighter;
        padding: 10px;
        @include force-wrap();
      }
    }

    .Select {
      &-control {
        height: 30px;
        border-radius: 2px;
      }

      &-placeholder,
      &-input {
        height: 30px;
        padding: 0 6px;
      }

      &-placeholder {
        line-height: 30px;
      }

      &-input > input {
        height: 30px;
      }
    }
  }
}
