@import "relaunch/bootstrap_variables";

// Layout
// -------------------------
$headerHeight: 50px;
$toolbarHeight: 52px;
$footerHeight: 30px;
$breakTablet: 767px;
$breakPhone: 420px;
$nodeAside: 280px;

// Component sizing
// -------------------------
$fontSizeHeadline: $baseFontSize * 2;