.provider-dropdown {
  width: 70%;
}

.photon-search-wrapper {
    width: 70%;
    display: inline-block;
    position: relative;
}

.photon-search-wrapper input {
    min-height: 30px;
    box-sizing: border-box;
    width: 100%;
}

.photon-search-wrapper ul {
    list-style: none;
    position: absolute;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.photon-search-wrapper li {
    padding-left: 5px;
}
