/*global  window, jQuery, $, OpenLayers, language, _gaq*/
/*jslint devel: true, browser: true, maxerr: 200, indent: 2, sloppy: true, nomen: true */

jQuery.migrateMute = true;

jQuery.parseQuery = function(qs,options) {
  var q = (typeof qs === 'string'?qs:window.location.search), o = {'f':function(v){return unescape(v).replace(/\+/g,' ');}}, options = (typeof qs === 'object' && typeof options === 'undefined')?qs:options, o = jQuery.extend({}, o, options), params = {};
  jQuery.each(q.match(/^\??(.*)$/)[1].split('&'),function(i,p){
    p = p.split('=');
    p[1] = o.f(p[1]);
    params[p[0]] = params[p[0]]?((params[p[0]] instanceof Array)?(params[p[0]].push(p[1]),params[p[0]]):[params[p[0]],p[1]]):p[1];
  });
  return params;
}

var map;
var epsg4326, epsg900913;
if (!window.zoom) {
  var zoom = 14;
}

var places = [];
var mapnik;
var draggable;

OpenLayers.IMAGE_RELOAD_ATTEMPTS = 3;
OpenLayers.ImgPath = "<%= asset_path('') %>";

function runEffect() {
  setTimeout(function () {
    var selectedEffect = 'blind';
    var options = {};
    $(".flash").fadeOut();
  }, 5000);
}

function add_socia_script (d, t, src) {
  var g = d.createElement(t),
  s = d.getElementsByTagName(t)[0];
  g.async = true;
  g.src = src;
  s.parentNode.insertBefore(g, s);
};

function removeAllPopups() {
  $.each(map.popups, function (i, popup) {
    popup.feature = null;
    map.removePopup(popup);
  });
}


function submit_handler() {
  var form = $(this);
  if ((form.find('input:checked').val()) === 'unknown') {
    return false;
  }
  $('#update_button').attr('disabled', 'disabled');
  $('#update_spinner').show();

  $.ajax({ dataType: 'json', type: form.attr('method'), url: form.attr('action'), data: form.serialize(),
    success: function (data, textStatus, XMLHttpRequest) {
      $('#map').after('<div class="flash" id="notice">' + data.message + '<a href="#" data="hide">x</a></div>');

      runEffect();
      removeAllPopups();
      $('#update_spinner').hide();
      $('#update_button').removeAttr('disabled');
      if (window._gaq) {
        _gaq.push(['_trackEvent', 'Data', 'Tag', data.wheelchair]);
      }
      return false;
    },
    error: function (XMLHttpRequest, textStatus, errorThrown) {
      $('#map').after('<div class="flash" id="alert">' + textStatus + '<a href="#" data="hide">x</a></div>');
      $('#update_spinner').hide();
      $('#update_button').removeAttr('disabled');
      if (window._gaq) {
        _gaq.push(['_trackEvent', 'Data', 'Tag', 'failed']);
      }
      return false;
    }
  });
  return false;
}


function jumpTo(lon, lat, zoom) {
  var lonlat = new OpenLayers.LonLat(lon, lat).transform(
    epsg4326, //transform from WGS 1984
    map.getProjectionObject()               //to Spherical Mercator Projection
  );
  map.setCenter(lonlat, zoom);
  $.cookie('last_lat', lat, { expires: 7, path: '/'});
  $.cookie('last_lon', lon, { expires: 7, path: '/'});
  return false;
}

function drawmap(controls, element) {
  OpenLayers.Lang.setCode(language);

  epsg900913 = new OpenLayers.Projection("EPSG:900913");
  epsg4326 = new OpenLayers.Projection("EPSG:4326");
  map = new OpenLayers.Map(element, {
    projection: epsg900913,
    displayProjection: epsg4326,
    controls: controls,
    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34),
    numZoomLevels: 19,
    maxResolution: 156543.0399,
    units: 'm',
    theme: null

  });

  mapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik", { displayClass: 'olMap', opacity: 1.0, transitionEffect: 'resize', numZoomLevels: 19, buffer: 1});

  // Use for offline mode
  // mapnik = new OpenLayers.Layer.OSM("Mapnik", 'http://wheelmap.local/images/tiles/${z}/${x}/${y}.png' ,{displayClass:'olMap', opacity:0.5, transitionEffect:'resize', numZoomLevels: 19});

  // User cloudmade style
  //  mapnik = new OpenLayers.Layer.CloudMade("CloudMade", {
  //     key: 'ff94b6ad4b174d648b9c491706f13579',
  //     styleId: 1714,
  //     displayClass:'olMap',
  //     opacity:1.0,
  //     transitionEffect:'resize',
  //     numZoomLevels: 19
  // });

  map.addLayers([mapnik]);
}

function defaultControls(map_id) {
  return [
    new OpenLayers.Control.ArgParser(),
    new OpenLayers.Control.Attribution({id: 'attribution', displayClass: "olControlAttribution"}),
    new OpenLayers.Control.PanZoomBar({id: 'panzoombar', displayClass: 'olControlPanZoomBar'}),
    new OpenLayers.Control.Navigation({zoomWheelEnabled: true, autoActivate: true, dragPanOptions: {enableKinetic: true}}),
    new OpenLayers.Control.KeyboardDefaults({observeElement: map_id}),
    new OpenLayers.Control.ScaleLine({geodesic: true}),
    new OpenLayers.Control.Permalink(),
    new OpenLayers.Control.Permalink('createlink', '/nodes/new')
  ];
}

function centerCoordinates() {
  return map.center.clone().transform(map.getProjectionObject(), epsg4326);
}

/* Callback function when map finished zooming. */
function onZoomEnd() {
  $.cookie('last_zoom', map.getZoom(), { expires: 7, path: '/'});
}

/* Callback function when map finished panning. */
function onMoveEnd() {
  var lonlat = centerCoordinates();
  $.cookie('last_lat', lonlat.lat);
  $.cookie('last_lon', lonlat.lon);
}

function showSpinner() {
  $('#spinner').show();
}

function hideSpinner() {
  $('#spinner').hide();
}

/* Callback function when map data is loaded. */
function onLoadStart() {
  showSpinner();
}

/* Callback function after map data was loaded. */
function onLoadEnd() {
  hideSpinner();
}

function addState(feature) {

}

function lonLatToMercator(ll) {
  // var lon = ll.lon * 20037508.34 / 180;
  var lon = ll.lon * 111319.49077777777;
  // var lat = Math.log(Math.tan((90 + ll.lat) * Math.PI / 360)) / (Math.PI / 180);
  var lat = Math.log(Math.tan((90 + ll.lat) * 0.008726646259971648)) / (0.017453292519943295);
  // lat = lat * 20037508.34 / 180;
  lat = lat * 111319.49077777777;
  return new OpenLayers.LonLat(lon, lat);
}

function placesStyle() {
  return new OpenLayers.StyleMap({
    "default": new OpenLayers.Style({
      graphicTitle: "${all}",
      graphicName: "circle",
      label: "${label}",
      fontColor: "#FFF",
      fontWeight: "bold",
      fontSize: "13px",
      fillColor: "${color}",
      fillOpacity: "${opacity}",
      strokeColor: "${color}",
      strokeOpacity: 0.7,
      strokeWidth: "2",
      strokeDashstyle: "solid",
      pointRadius: "${radius}",
      cursor: "pointer",
      externalGraphic: "http://asset0.wheelmap.org/marker/undefined.png",
      graphicWidth: 32,
      graphicHeight: 37,
      graphicXOffset: -16,
      graphicYOffset: -33,
      graphicZIndex: "${zindex}",
      backgroundGraphicZIndex: 10
    },{
      context: {
        all: function(feature) {
          if (feature.cluster) {
            feature.attributes.marker = '';
            feature.attributes.radius = 10 + (4 * Math.sqrt(feature.cluster.length));
            feature.attributes.opacity = 0.25;
            feature.attributes.zindex = 15;
            feature.attributes.color = '#8D8D8E';
            feature.attributes.label = feature.cluster.length;
          } else {
            feature.attributes.opacity = 1.0;
            feature.attributes.label = '';
            switch (feature.attributes.wheelchair) {
              case 'yes': feature.attributes.zindex = 50; break;
              case 'limited': feature.attributes.zindex = 40; break;
              case 'no': feature.attributes.zindex = 30; break;
              case 'unknown': feature.attributes.zindex = 20; break;
            }
          }
          return feature.attributes.name;
        },
        marker: function(feature) { return feature.attributes.marker; },
        opacity: function(feature) { return feature.attributes.opacity; },
        cursor: function(feature) { return feature.attributes.cursor; },
        zindex: function(feature) { return feature.attributes.zindex; },
        color: function(feature) { return feature.attributes.color; },
        radius: function(feature) { return feature.attributes.radius; },
        label: function(feature) { return feature.attributes.label; }
      }
    }),
    "select": new OpenLayers.Style({
      graphicZIndex: 100
    })
  });
}

function needleStyle() {
  return new OpenLayers.StyleMap({
    externalGraphic: "${marker}",
    graphicWidth: 32,
    graphicHeight: 37,
    graphicXOffset: -16,
    graphicYOffset: -33,
    graphicZIndex: 10,
    cursor: 'move'
  });
}

function defaultFilter() {
  return new OpenLayers.Filter.Logical({
    type: OpenLayers.Filter.Logical.AND,
    filters: [
      new OpenLayers.Filter.Comparison({
        type: OpenLayers.Filter.Comparison.NOT_EQUAL_TO,
        property: "category",
        value: "unknown"
      })
    ]
  });
}

function clusterStrategy() {
  return new OpenLayers.Strategy.Cluster({distance: 60, threshold: 6});
}

function bboxStategy() {
  return new OpenLayers.Strategy.BBOX({ratio : 0.7, resFactor: 0.2});
}

function filterStrategy(filter) {
  return new OpenLayers.Strategy.Filter({filter: filter});
}

function activeFilterStrategy() {
  var strtgy = null;
  $.each(places.strategies, function (index, strategy) {
    if (strategy.CLASS_NAME === 'OpenLayers.Strategy.Filter') {
      strtgy = strategy;
    }
  });
  return strtgy;
}

function geojsonFormat() {
  return new OpenLayers.Format.GeoJSON({
    internalProjection: epsg4326,
    externalProjection: epsg4326,
    ignoreExtraDims: true});
}

function httpProtocol() {
  return new OpenLayers.Protocol.HTTP({
    url:  "nodes.geojson",
    headers: {
      "Content-Type": "application/javascript"
    },
    format: geojsonFormat(),
    params: {
      limit: 400,
      zoom: zoom
    }
  });
}

function activateSelectControl(layer) {
  var sc = new OpenLayers.Control.SelectFeature(layer, {toggle: true, clickout: true});
  map.addControl(sc);
  sc.activate();
}

function onPopupClose(evt) {
  removeAllPopups();
   // 'this' is the popup.
   // selectControl.unselect(this.feature);
}

function popup_state_radio(feature, state) {
  var id = state + '-' + feature.id;
  var checked = (state === feature.attributes.wheelchair ? ' checked="checked"' : '');
  var disabled = ((state === 'unknown' || feature.attributes.id === null ) ? ' disabled="disabled"' : '');
  var wheelchair_state = '<li class="' + state + '">';
  wheelchair_state += '<input id="' + id + '" type="radio" name="wheelchair"' + checked + disabled + ' value="' + state + '">';
  wheelchair_state += '<label for="' + id + '">' + OpenLayers.Lang.translate('wheelchair_label_' + state) + '</label>';
  wheelchair_state += '</li>';
  return wheelchair_state;
}

function popup_form(feature) {
  var form = '';
  var disabled = feature.attributes.id === null;
  form += '<form action="/nodes/' + feature.attributes.id + '/update_wheelchair.js" method="post" class="update_form formtastic">';
  form += '<ol class="wheelchair">';
  form += '<h3><a target="_blank" href="http://blog.wheelmap.org/was-ist-wheelmap/was-bedeutet-barrierefrei/">' + OpenLayers.Lang.translate('wheelchair_help') + '</a></h3>';
  form += popup_state_radio(feature, 'yes');
  form += popup_state_radio(feature, 'limited');
  form += popup_state_radio(feature, 'no');
  form += popup_state_radio(feature, 'unknown');
  form += '<li><input type="hidden" name="_method" value="put" /></li>';
  form += '<li>';
  if (disabled === true) {
    form += '<span style="float:right">Wird derzeit überprüft, Status nicht änderbar.</span>';
  } else {
    form += '<input type="submit" '+ disabled + '" id="update_button" value="' + OpenLayers.Lang.translate('wheelchair_update_button') + '"/>';
  }
  form += '<img src="/images/spinner-small.gif" id="update_spinner"/>';
  form += '</li></ol>';
  form += '</form>';
  return form;
}

function popup_headline(feature) {
  var html = '';
  html += '<h2 style="padding-left:30px;background:url(\'' + feature.attributes.icon + '\') no-repeat bottom left">';
  html += feature.attributes.name;
  html += '</h2>';
  return html;
}

function popup_address(feature) {
  var html = '';
  if (feature.attributes.address) {
    html += '<address>' + feature.attributes.address + '</address>';
  }
  return html;
}

function popup_more_link(feature) {
  var html = '';
  if (feature.attributes.id !== null) {
    html += '<a class="more" href="' +  ((OpenLayers.Lang.getCode() === 'de') ? '' : '/' + OpenLayers.Lang.getCode().toLowerCase()) + '/nodes/' + feature.attributes.id + '">';
    html += OpenLayers.Lang.translate('more_information');
    html += '</a>';
  }
  return html;
}

function onFeaturesAdded(evt) {
  if(typeof node_id != 'undefined') {
    $.each(evt.features, function (index, feature) {
      if (feature.attributes.id == node_id) {
        places.events.triggerEvent('featureselected',  {'feature':feature});
      }
    });
  }
}

function onFeatureSelect(evt) {
  removeAllPopups();
  var feature = evt.feature;
  if (feature.cluster) {
    // Center the Map on the cluster with higher zoom level.
    map.setCenter(feature.geometry.bounds.centerLonLat, map.getZoom() + 1);
  } else {
    var popup = new OpenLayers.Popup.FramedCloud("featurePopup",
                             feature.geometry.getBounds().getCenterLonLat(),
                             null,
                             popup_headline(feature) +
                             popup_address(feature) +
                             popup_more_link(feature) +
                             popup_form(feature),
                             null, true, onPopupClose);
    feature.popup = popup;
    popup.feature = feature;
    map.addPopup(popup);
    $('.update_form').submit(submit_handler);
  }
}

function onFeatureUnselect(evt) {
  removeAllPopups();
}

function createPlacesLayer(style) {
  places = new OpenLayers.Layer.Vector(
    "Places ",
    {
      styleMap: style,
      projection: epsg4326,
      displayProjection: epsg4326,
      rendererOptions: { yOrdering: true },
      strategies: [bboxStategy(), filterStrategy(defaultFilter())],
      protocol: httpProtocol(),
      visibility: true,
      attribution: 'Map Icons Collection CC-By-SA by <a href="http://mapicons.nicolasmollet.com">Nicolas Mollet</a>'
  });

  map.addLayer(places);
  activateSelectControl(places);
  places.redraw();
  places.events.on({
    'featuresadded': onFeaturesAdded,
    'featureselected': onFeatureSelect,
    'featureunselected': onFeatureUnselect,
    'loadstart': onLoadStart,
    'loadend': onLoadEnd
  });
  map.events.on({
    'zoomend': onZoomEnd,
    'moveend': onMoveEnd
  });

}

function onCompleteDrag(feature) {
  if (feature) {
    // replace coordinate values in feature attributes
    var lonlat = new OpenLayers.LonLat(feature.geometry.x, feature.geometry.y);
    var coordinates = lonlat.clone().transform(map.getProjectionObject(), epsg4326);
    $('#node_lat').attr('value', coordinates.lat);
    $('#node_lon').attr('value', coordinates.lon);
  }
}

function activateDragControl(layer) {
  var dg = new OpenLayers.Control.DragFeature(layer, { onComplete: onCompleteDrag });
  map.addControl(dg);
  dg.activate();
}

function addPin(layer, lon, lat) {
  var features = [];
  layer.removeFeatures(layer.features);
  // var center = centerCoordinates();
  var lo = lon;
  lo *= 1.0;
  var la = lat;
  la *= 1.0;
  var lonLat = lonLatToMercator({ lon: lo, lat: la});
  var point = new OpenLayers.Geometry.Point(lonLat.lon, lonLat.lat);
  var feature = new OpenLayers.Feature.Vector(point);
  feature.attributes.marker = '/marker/undefined.png';
  features.push(feature);
  layer.addFeatures(features);
}

OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {
      defaultHandlerOptions: {
          'single': true,
          'double': false,
          'pixelTolerance': 0,
          'stopSingle': false,
          'stopDouble': false
      },

      initialize: function(options) {
          this.handlerOptions = OpenLayers.Util.extend(
              {}, this.defaultHandlerOptions
          );
          OpenLayers.Control.prototype.initialize.apply(
              this, arguments
          );
          this.handler = new OpenLayers.Handler.Click(
              this, {
                  'click': this.trigger
              }, this.handlerOptions
          );
      },

      trigger: function(e) {
        console.log("Set 'trigger' when instantiating a OpenLayers.Control.Click: " +
                    "e.g. var click = new OpenLayers.Control.Click({ trigger: function(e) {...})");
        // nop. overwrite me.
      }

});

function createClickableLayer(style, lon, lat, options) {
  var draggableLayer = new OpenLayers.Layer.Vector(
    "Draggable",
    {
      styleMap: style,
      rendererOptions: { yOrdering: true },
      visibility: true
  });

  var setPin = function(lon, lat) {
    addPin(draggableLayer, lon, lat);
    activateDragControl(draggableLayer);
    $('#node_lat').attr('value', lat);
    $('#node_lon').attr('value', lon);
  };

  map.addLayer(draggableLayer);

  // initially set pin if coords are given
  if (lon && lat) {
    setPin(lon, lat);
    // update the form (not necessary on update, but doesn't harm either)
  }

  // click handler to move the pin and update the form again
  var click = new OpenLayers.Control.Click({
    trigger: function(e) {
      var lonlat = map.getLonLatFromViewPortPx(e.xy);
      var coordinates = lonlat.clone().transform(map.getProjectionObject(), epsg4326);
      setPin(coordinates.lon, coordinates.lat)
    }
  });

  map.addControl(click);
  click.activate();

  draggableLayer.redraw();
}


function createDraggableLayer(style, lon, lat) {
  var draggableLayer = new OpenLayers.Layer.Vector(
    "Draggable",
    {
      styleMap: style,
      rendererOptions: { yOrdering: true },
      visibility: true
  });

  map.addLayer(draggableLayer);
  addPin(draggableLayer, lon, lat);
  draggableLayer.redraw();
}


function addFilter(attribute, value) {
  var filter = new OpenLayers.Filter.Comparison({
    type: OpenLayers.Filter.Comparison.NOT_EQUAL_TO,
    property: attribute,
    value: value
  });
  var filterStrategy = activeFilterStrategy();
  filterStrategy.filter.filters.push(filter);
  filterStrategy.setFilter(filterStrategy.filter);
  FilterSettings.set(attribute, value, true)
  if (window._gaq) {
    _gaq.push(['_trackEvent', 'Filter', 'add_' + attribute, value]);
  }
}

function removeFilter(attribute, value) {
  var filterStrategy = activeFilterStrategy();
  var filters = filterStrategy.filter.filters;
  var position = null;
  $.each(filters, function (index, filter) {
    if (filter.property === attribute && filter.value === value) {
      position = index;
    }
  });

  if (position !== null) {
    filters.splice(position, 1);
    filterStrategy.setFilter(filterStrategy.filter);
    FilterSettings.set(attribute, value, false)
    if (window._gaq) {
      _gaq.push(['_trackEvent', 'Filter', 'remove_' + attribute, value]);
    }
  }
}

function getURLParameter(name) {
  return decodeURI(
    (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [,null])[1]
  ).replace(/\+/g, " ");
}

$(function () {
  $('a[data=show]').live('click', function () {
    $(this).parent().fadeIn();
    return false;
  });
  $('a[data=hide]').live('click', function () {
    $(this).parent().fadeOut();
    return false;
  });

  $('input.filter').change(function () {
    if ($(this).is(':checked')) {
      removeFilter($(this).attr('rel'), $(this).attr('value'));
    } else {
      addFilter($(this).attr('rel'), $(this).attr('value'));
    }
  });

  $('input.filter').each(function() {
    if (FilterSettings.get($(this).attr('rel'), $(this).attr('value')) === true) {
      $(this).attr('checked', false).trigger('change');
      $(this)
    }
  });
  //Simon UI fixes
  $('#amenities li label').click(function() {
    $(this).toggleClass('deactivated');
  });
  $(".select-all").click(function() {
    $('#amenities label').removeClass('deactivated');
    $('#amenities input:not(:checked)').trigger('click');
    $(this).addClass('sel-active');
  });
  $(".deselect-all").click(function() {
    $('#amenities label').addClass('deactivated');
    $('#amenities input:checked').trigger('click');
    $(this).addClass('sel-active');
  });
  //end

  $('#search').focus(function() {
    map.getControlsByClass('OpenLayers.Control.KeyboardDefaults')[0].deactivate();
  });

  $('#search').blur(function() {
    map.getControlsByClass('OpenLayers.Control.KeyboardDefaults')[0].activate();
  });

  if (getURLParameter('q') != 'null' && $('#search').val() == '') {
      $('#search').val(getURLParameter('q'));
  }
  $(window).resize(function () {
    var width = $(window).width() - 750;
    if (width > 100) {
      $('#search').css('width', width + 'px');
    }
  }).resize();
});

function initGeoData() {
  // set global variables
  q = $.parseQuery()
  lat  = q.lat  || $.cookie('last_lat') || $.cookie('geoip_lat') || 52.5167;
  lon  = q.lon  || $.cookie('last_lon') || $.cookie('geoip_lon') || 13.4000;
  zoom = q.zoom || $.cookie('last_zoom') || 14;
  window.node_id = q.node_id
}

function $w(string) {
  return string.split(' ');
}

Flash.transferFromCookies();
Flash.writeDataTo('error', $('#error'));
Flash.writeDataTo('alert', $('#alert'));
Flash.writeDataTo('notice', $('#notice'));

