/*
Syntax error: Undefined variable: "$green".
        on line 4 of /Users/christoph/Projects/wheelmap/app/stylesheets/partials/nodes/flash.sass

1: #flash
2:   margin-bottom: 20px
3:   padding: 10px
4:   color: darken($green, 30%)
5:   +text-shadow(rgba(white, 0.5), 0, 1px, 1px)
6:   background-color: $bright-green
7:   border: 1px dashed darken($bright-green, 5%)
8:   border-top-color: darken($bright-green, 15%)
9:   border-bottom-color: lighten($bright-green, 15%)

Backtrace:
/Users/christoph/Projects/wheelmap/app/stylesheets/partials/nodes/flash.sass:4
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/script/variable.rb:39:in `_perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/script/node.rb:61:in `perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/script/funcall.rb:63:in `_perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/script/funcall.rb:63:in `map'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/script/funcall.rb:63:in `_perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/script/node.rb:61:in `perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/prop_node.rb:132:in `perform!'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:301:in `_perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:209:in `perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:322:in `perform_children'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:322:in `map'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:322:in `perform_children'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:313:in `perform!'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/rule_node.rb:188:in `perform!'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:301:in `_perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:209:in `perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:322:in `perform_children'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:322:in `map'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:322:in `perform_children'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:313:in `perform!'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/root_node.rb:59:in `perform!'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:301:in `_perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/node.rb:209:in `perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/root_node.rb:37:in `perform'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/lib/sass/tree/root_node.rb:29:in `render'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/rails/../lib/sass/plugin.rb:221:in `update_stylesheet'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/rails/../lib/sass/plugin.rb:86:in `update_stylesheets'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/rails/../lib/sass/plugin.rb:79:in `each'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/rails/../lib/sass/plugin.rb:79:in `update_stylesheets'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/rails/../lib/sass/plugin.rb:77:in `each'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/rails/../lib/sass/plugin.rb:77:in `update_stylesheets'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/rails/../lib/sass/plugin.rb:51:in `check_for_updates'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/haml-3.0.4/rails/../lib/sass/plugin/rack.rb:40:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/string_coercion.rb:25:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/head.rb:9:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/methodoverride.rb:24:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/params_parser.rb:15:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/session/abstract_store.rb:122:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:29:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/activerecord-2.3.5/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:9:in `cache'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:28:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/activerecord-2.3.5/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/hoptoad_notifier-2.3.3/lib/hoptoad_notifier/rack.rb:27:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/failsafe.rb:26:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `synchronize'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:114:in `call'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/reloader.rb:34:in `run'
/opt/ruby-enterprise-1.8.7-2009.10/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:108:in `call'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/rack/request_handler.rb:92:in `process_request'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/abstract_request_handler.rb:207:in `main_loop'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/railz/application_spawner.rb:441:in `start_request_handler'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/railz/application_spawner.rb:381:in `handle_spawn_application'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/utils.rb:252:in `safe_fork'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/railz/application_spawner.rb:377:in `handle_spawn_application'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/abstract_server.rb:352:in `__send__'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/abstract_server.rb:352:in `main_loop'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/abstract_server.rb:196:in `start_synchronously'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/abstract_server.rb:163:in `start'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/railz/application_spawner.rb:222:in `start'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/spawn_manager.rb:253:in `spawn_rails_application'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/abstract_server_collection.rb:126:in `lookup_or_add'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/spawn_manager.rb:247:in `spawn_rails_application'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/abstract_server_collection.rb:80:in `synchronize'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/abstract_server_collection.rb:79:in `synchronize'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/spawn_manager.rb:246:in `spawn_rails_application'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/spawn_manager.rb:145:in `spawn_application'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/spawn_manager.rb:278:in `handle_spawn_application'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/abstract_server.rb:352:in `__send__'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/abstract_server.rb:352:in `main_loop'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/lib/phusion_passenger/abstract_server.rb:196:in `start_synchronously'
/opt/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-2.2.15/bin/passenger-spawn-server:61
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$green\".\A         on line 4 of /Users/christoph/Projects/wheelmap/app/stylesheets/partials/nodes/flash.sass\A \A 1: #flash\A 2:   margin-bottom: 20px\A 3:   padding: 10px\A 4:   color: darken($green, 30%)\A 5:   +text-shadow(rgba(white, 0.5), 0, 1px, 1px)\A 6:   background-color: $bright-green\A 7:   border: 1px dashed darken($bright-green, 5%)\A 8:   border-top-color: darken($bright-green, 15%)\A 9:   border-bottom-color: lighten($bright-green, 15%)"; }
