<article id="node-popover">

  {{partial "map-popup-header"}}

  {{partial "map-popup-status"}}

  <div class="row-fluid">
    <section id="node-content" class="node-wrapper span12">
      {{partial "map-popup-edit"}}
    </section>
  </div>
</article>