<article id="node-popover">

  {{! HEADER }}
  <header id="node-header">
    <h1 itemprop="name">{{headline}}</h1>
    {{#if address}}
      <address>{{address}}</address>
    {{/if}}

    <ol class="breadcrumbs unstyled">
      {{#each breadcrumbs}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ol>
  </header>

  {{! STATUS }}
  <section id="node-status" class="row-fluid">
    <div class="dropdown span6 wheelchair">
      <h3><%= I18n.t('nodes.node_status.wheelchair_accessibility') %></h3>
      <div>
        <a data-toggle="dropdown", class="dropdown-toggle btn wheelchair-{{wheelchair}}" data-status="{{wheelchair}}">
          <span class="text">{{statusText}}</span>
          <i class="icon-question-sign" data-toggle="popover" data-title="{{statusText}}" data-content="{{statusDescription}}", data-trigger="hover"/>
          <i class="icon-caret-down pull-right" />
        </a>
      </div>
      <button class="submit btn" data-toggle="status-submit" data-url="/nodes/{{id}}/update_wheelchair.js">
        <%= I18n.t('formtastic.labels.save') %>
      </button>
    </div>
  </section>

  <div class="row-fluid">
    <section id="node-content" class="node-wrapper span12">
    </section>
  </div>
</article>