#imprint
  background: rgba(black, 0.8)
  color: white
  float: left
  width: 100%
  +text-shadow(rgba(black, 0.7), 0, 0, 2px)



  dl
    padding-right: 100px
    clear: both
    float: right

  dt
    clear: left
    color: darken(white, 10%)
    float: left
    padding-right: 10px
    text-align: right
    width: 150px

  dd
    float: left
    width: 300px
    
    &.logo
      img
        padding: 5px

  a
    color: $green

  h2,
  p
    padding-right: 100px
    clear: both
    float: right
    width: 400px
    +margin-top
    +margin-bottom
    
  p:first-child
    text-align: right