#map
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 120px
  border-top: 1px rgba(white, 0.6) solid
  outline: 1px lighten($border-color, 50%) solid

  background: $background-color
#map_OpenLayers_ViewPort
  height: 500px
  width: auto !important
  
  a
    color: inherit
    font-weight: bold

image[width='16']
  cursor: pointer
