#map
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0

#map_OpenLayers_ViewPort
  height: 500px
  width: auto !important

div[id^='OpenLayers\.Layer\.OSM\.Attribution']
  bottom: 10px
  color: rgba(black, 0.8)
  font-family: $helvetica
  font-size: 11px
  left: 32px
  //right: 17px
  +text-shadow(rgba(white, 0.5), 0, 1px, 1px)
  
  a
    color: inherit
    font-weight: bold

div[id^='OpenLayers\.Layer\.OSM\.Mapnik']
  opacity: 0.5

image[width='16']
  cursor: pointer
