%p
  =t('devise.password_reset.email.headline', :email => @resource.email)

%p
  =t('devise.password_reset.email.text')

%p
  = link_to t('devise.password_reset.email.link'), edit_password_url(@resource, :reset_password_token => @token)
%p
  =t('devise.password_reset.email.comment')
