#toolbar
  .content
    .btn-toolbar.center
      %button.btn.btn-searchbar
        %i.icon-search.icon-white
      %form.navbar-form{:action =>"/search", :method => "GET", :style => 'display:inline-block;margin-bottom:0'}
        .input-append{:style => 'margin:0 10px'}
          %input#search{:type => "text", :name => "q", :value => params[:q].present? ? params[:q] : nil, :autocomplete => "off", :placeholder => t('header.searchbar.placeholder')}
          %button.btn{:type => "submit", :value => t('header.searchbar.find')}
            %i.icon-search.icon-white

      .btn-group.status-filter(data-toggle="buttons-checkbox")
        %button.btn.yes{:'data-value' => 'yes', :'data-toggle' => "popover", :'data-container' => "button.yes", :'data-content' => "Eingang stufenlos, alle Räume stufenlos, mit behindertengerechtem WC, falls ortsüblich.", :title => "", :'data-original-title' => "Rollstuhlgerecht" }
          %span{:'data-value' => 'yes'}
        %button.btn.limited{:'data-value' => 'limited', :'data-toggle' => "popover", :'data-container' => "button.limited", :'data-content' => "Eingang max 1 Stufe (7cm hoch), die wichtigsten Räume stufenlos, WC egal.", :title => "", :'data-original-title' => "Teilweise Rollstuhlgerecht" }
          %span{:'data-value' => 'yes'}
        %button.btn.no{:'data-value' => 'no', :'data-toggle' => "popover", :'data-container' => "button.no", :'data-content' => "Eingang hat höhere oder mehrere Stufen, Räume nicht erreichbar.", :title => "", :'data-original-title' => "Nicht Rollstuhlgerecht" }
          %span{:'data-value' => 'yes'}
        %button.btn.unknown{:'data-value' => 'unknown', :'data-toggle' => "popover", :'data-container' => "button.unknown", :'data-content' => "Hilf mit und markiere diese Orte!", :title => "", :'data-original-title' => "Unbekannter Status" }
          %span{:'data-value' => 'yes'}


      %select.selectpicker.show-menu-arrow.category-filter{:size => 5, :multiple => 'multiple', :title => t('home.index.filter.category'), :'data-style' => "btn-info", :title => "Choose one", :'data-selected-text-format' => "count"}
        - Category.all.sort_by(&:localized_name).each do |category|
          %option{ :value => category.identifier }= category.localized_name
