/ toolbar start
#toolbar
  - cache("#{I18n.locale}/relaunch/_toolbar.html.haml'}", :expires_in => 1.hour) do
    .content
      .btn-toolbar.center
        %button.btn.btn-searchbar
          %i.icon-search.icon-white
        %form.navbar-form{:action =>"/search", :method => "GET", :style => 'display:inline-block;margin-bottom:0'}
          .input-append{:style => 'margin:0 10px'}
            %input#search{:type => "text", :name => "q", :value => params[:q].present? ? params[:q] : nil, :autocomplete => "off", :placeholder => t('header.searchbar.placeholder')}
            %button.btn{:type => "submit", :value => t('header.searchbar.find')}
              %i.icon-search.icon-white

        .btn-group.status-filter(data-toggle="buttons-checkbox")
          %button.btn.yes{:'data-value' => 'yes', :'data-toggle' => "popover", :'data-container' => "button.yes", :'data-content' =>  t('wheelmap.what_is.fully_accessible'), :title => "", :'data-original-title' => t('home.index.popup.form.yes') }
            %span{:'data-value' => 'yes'}
          %button.btn.limited{:'data-value' => 'limited', :'data-toggle' => "popover", :'data-container' => "button.limited", :'data-content' =>  t('wheelmap.what_is.limited_accessible'), :title => "", :'data-original-title' => t('home.index.popup.form.limited') }
            %span{:'data-value' => 'yes'}
          %button.btn.no{:'data-value' => 'no', :'data-toggle' => "popover", :'data-container' => "button.no", :'data-content' => t('wheelmap.what_is.not_accessible'), :title => "", :'data-original-title' => t('home.index.popup.form.no') }
            %span{:'data-value' => 'yes'}
          %button.btn.unknown{:'data-value' => 'unknown', :'data-toggle' => "popover", :'data-container' => "button.unknown", :'data-content' => t('wheelmap.what_is.unknown_accessible'), :title => "", :'data-original-title' => t('home.index.popup.form.unknown') }
            %span{:'data-value' => 'yes'}


        %select.selectpicker.show-menu-arrow.category-filter{:size => 5, :multiple => 'multiple', :title => t('header.toolbar.categories', :default => :en), :'data-style' => "btn-info", :'data-selected-text-format' => "count"}
          - Category.all.sort_by(&:localized_name).each do |category|
            %option{ :value => category.identifier }= category.localized_name
  = render_flash
/ toolbar end