- content_for :content do
  #container
    #search
      .content
        = render :partial => 'form'

        .results
          =yield
- content_for :javascript do
  = javascript_include_tag :search

- content_for :stylesheet do
  = stylesheet_link_tag :search

= render :template => "layouts/relaunch"