- content_for :content do
  #container
    #search
      .content.row-fluid
        .span12
          =yield

- content_for :stylesheet do
  = stylesheet_link_tag :search

= render :template => "layouts/relaunch"