- content_for :content do
  #container
    .row
      .span9.offset4
        = render_flash
    .content-wrap
      =yield

- content_for :stylesheet do
  = stylesheet_link_tag :search
  = stylesheet_link_tag 'react-select'

= render :template => "layouts/relaunch"