- content_for :content do
  #container
    .row
      .span9.offset4
        = render_flash
    .content-wrap
      =yield

- content_for :stylesheet do
  = stylesheet_link_tag :search
  = stylesheet_link_tag 'react-select'

-content_for :javascript do
  =javascript_include_tag :nodes

= render :template => "layouts/relaunch"